workflows/AI-powered email processing autoresponder and response approval (Yes/No).json
{
  "active": false,
  "connections": {
    "Email Trigger (IMAP)": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Markdown": {
      "main": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek R1": {
      "ai_languageModel": [
        [
          {
            "node": "Email Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Write email",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Email Summarization Chain": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write email": {
      "main": [
        [
          {
            "node": "Send Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Write email",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Write email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve?": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Draft": {
      "main": [
        [
          {
            "node": "Approve?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T01:11:10.457Z",
  "id": "5NvsKzoyDRVrdlNz",
  "isArchived": false,
  "meta": null,
  "name": "AI-powered email processing autoresponder and response approval (Yes/No)",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "6ec32b66-0002-4096-9431-8c2f2fda4be2",
      "name": "Email Trigger (IMAP)",
      "type": "n8n-nodes-base.emailReadImap",
      "position": [
        -672,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "html": "={{ $json.textHtml }}",
        "options": {}
      },
      "id": "b246221d-a0eb-4e15-9467-cc3ef1b597f6",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        -464,
        432
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "deepseek/deepseek-r1:free",
          "cachedResultName": "deepseek/deepseek-r1:free"
        },
        "options": {}
      },
      "id": "d26d3963-83f4-4889-aafc-9671f7d8d3c3",
      "name": "DeepSeek R1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -256,
        608
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "fromEmail": "={{ $('Email Trigger (IMAP)').item.json.to }}",
        "toEmail": "={{ $('Email Trigger (IMAP)').item.json.from }}",
        "subject": "=Re: {{ $('Email Trigger (IMAP)').item.json.subject }}",
        "html": "={{ $('Write email').item.json.output }}",
        "options": {}
      },
      "id": "9d6bafa1-5f1a-48f0-ac98-c5f1ea256bb9",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1344,
        400
      ],
      "webhookId": "f84fcde7-6aac-485a-9a08-96a35955af49",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "company_knowladge_base",
        "toolDescription": "Extracts information regarding the request made.",
        "qdrantCollection": {
          "__rl": true,
          "mode": "id",
          "value": "=COLLECTION"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "id": "abd2e559-474c-4657-b4f8-983d7275ee81",
      "name": "Qdrant Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "position": [
        688,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "4977dbac-3672-4b05-a1d5-98e8981e7547",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        688,
        912
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "operationMode": "nodeInputBinary",
        "options": {
          "binaryDataKey": "={{ $json.data }}",
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following in max 100 words:\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used.",
              "prompt": "=Write a concise summary of the following in max 100 words :\n\n\"{{ $json.data }}\"\n\nDo not enter the total number of words used."
            }
          }
        }
      },
      "id": "b3351c9a-aae2-42d4-a2e2-6d04d47b5aec",
      "name": "Email Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "position": [
        -240,
        432
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Write the text to reply to the following email:\n\n{{ $('Email Summarization Chain').item.json.response.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are an expert at answering emails. You need to answer them professionally based on the information you have. This is a business email. Be concise and never exceed 100 words. Only the body of the email, not create the subject.\n\nIt must be in HTML format and you can insert (if you think it is appropriate) only HTML characters such as <br>, <b>, <i>, <p> where necessary."
        }
      },
      "id": "73a411e2-4493-43b9-89be-f0943bb0011d",
      "name": "Write email",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        480,
        432
      ],
      "typeVersion": 1.7
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "fca3c5a2-f145-451b-8bee-4dcc5f372c54",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        480,
        720
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "759dc0f9-f582-492c-896c-6426f8410127",
              "name": "email",
              "type": "string",
              "value": "={{ $json.response.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "63a6a7fb-ab6a-4471-95a6-ac29d67a0d1c",
      "name": "Set Email",
      "type": "n8n-nodes-base.set",
      "position": [
        256,
        432
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "5c377c1c-43c6-45e7-904e-dbbe6b682686",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": "true"
            }
          ]
        },
        "options": {
          "ignoreCase": false
        }
      },
      "id": "921e1b9a-2f28-412f-b50f-99e4e51b1539",
      "name": "Approve?",
      "type": "n8n-nodes-base.if",
      "position": [
        1056,
        432
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "# Main Flow\n\n## Preliminary step:\nCreate a vector database on Qdrant and tokenize the documents useful for generating a response\n\n\n## How it works\nThis workflow is designed to automate the process of handling incoming emails, summarizing their content, generating appropriate responses with RAG, and obtaining approval (YES/NO button) before sending replies.\n\nThis workflow is designed to handle general inquiries that come in via corporate email via IMAP and generate responses using RAG. You can quickly integrate Gmail and Outlook via the appropriate trigger nodes",
        "height": 420,
        "width": 580,
        "color": 3
      },
      "id": "36312dd6-e1f2-468f-8fb5-6467b75fbd8d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Convert email to Markdown format for better understanding of LLM models",
        "height": 240
      },
      "id": "00d971c3-d698-415f-bdfe-a8a1f80dfe5e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Chain that summarizes the received email",
        "height": 240,
        "width": 320
      },
      "id": "7ae264c2-6e40-4c91-b6a8-dda3244dc622",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -256,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "Agent that retrieves business information from a vector database and processes the response",
        "height": 240,
        "width": 340
      },
      "id": "a13cdc28-2956-4b6a-b1df-950d5f4e22cd",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "YOUR GMAIL ADDRESS",
        "subject": "=[Approval Required]  {{ $('Email Trigger (IMAP)').item.json.subject }}",
        "message": "=<h3>MESSAGE</h3>\n{{ $('Email Trigger (IMAP)').item.json.textHtml }}\n\n<h3>AI RESPONSE</h3>\n{{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "id": "d183e78e-6c52-4e21-a095-2271a5525b66",
      "name": "Send Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        848,
        432
      ],
      "webhookId": "d6dd2e7c-90ea-4b65-9c64-523d2541a054",
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "## IMPORTANT\n\nFor the \"Send Draft\" node, you need to send the draft email to a Gmail address because it is the only one that allows the \"Send and wait for response\" function.",
        "height": 360,
        "color": 4
      },
      "id": "48e8ef17-0280-4818-8712-e0cb6a6d9746",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        800,
        224
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T01:11:10.460Z",
      "updatedAt": "2025-08-21T01:11:10.460Z",
      "role": "workflow:owner",
      "workflowId": "5NvsKzoyDRVrdlNz",
      "projectId": "yxFGV0GmdwTIiKaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T01:12:29.000Z",
  "versionId": "107d941d-33d3-4537-9997-8ad5b2861e3e"
}