workflows/Automatically Create JIRA Issues from Outlook Email Support Requests.json
{
  "active": false,
  "connections": {
    "Markdown": {
      "main": [
        []
      ]
    },
    "Mark as Seen": {
      "main": [
        [
          {
            "node": "Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Issue From Support Request",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Generate Issue From Support Request",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Generate Issue From Support Request": {
      "main": [
        [
          {
            "node": "Create Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Gmail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gmail": {
      "main": [
        [
          {
            "node": "Generate Issue From Support Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-23T20:32:00.798Z",
  "id": "MXcgsS2GU1IUuWC3",
  "isArchived": false,
  "meta": {
    "templateId": "3893",
    "templateCredsSetupCompleted": true
  },
  "name": "Automatically Create JIRA Issues from Outlook Email Support Requests",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "id": "d056be7e-43ed-4fea-8aef-36579c656633",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        2040,
        1000
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "WYRQt22D3Ej2FW2r",
          "name": "OpenAi Blue&"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"labels\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"priority\": { \"type\": \"number\" },\n    \"summary\": { \"type\": \"string\" },\n    \"description\": { \"type\": \"string\" }\n  }\n}"
      },
      "id": "e4b6fd9d-2506-45bf-bd80-a81a2c04306b",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        2240,
        1000
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## 2. Automate Generation and Triaging of Ticket\n[Read more about the Basic LLM node](https://docs.n8n.io/integrations/builtin/cluster-nodes/root-nodes/n8n-nodes-langchain.chainllm)\n\nNew tickets always need to be properly labelled and prioritised but it's not always possible to get to update all incoming tickets if you're light on hands. Using an AI is a great use-case for triaging of tickets as its contextual understanding helps automates this step.",
        "height": 540,
        "width": 700,
        "color": 7
      },
      "id": "3cef25fc-2581-4556-bf54-7704815d98b3",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1540,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "html": "={{ $json.body.content }}",
        "options": {}
      },
      "id": "d6ba8c9b-3e39-442f-8b79-cafe11c15a18",
      "name": "Markdown",
      "type": "n8n-nodes-base.markdown",
      "position": [
        2620,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10007",
          "mode": "list",
          "cachedResultName": "R&D"
        },
        "issueType": {
          "__rl": true,
          "value": "10027",
          "mode": "list",
          "cachedResultName": "Story"
        },
        "summary": "={{ $('Gmail').item.json.Subject }}",
        "additionalFields": {
          "description": "={{ $('Gmail').item.json.snippet }}",
          "priority": {
            "__rl": true,
            "value": "3",
            "mode": "list",
            "cachedResultName": "Medium"
          }
        }
      },
      "id": "fb7c6d7c-df30-43de-8f37-9e394a8ad7aa",
      "name": "Create Issue",
      "type": "n8n-nodes-base.jira",
      "position": [
        2660,
        820
      ],
      "typeVersion": 1,
      "credentials": {
        "jiraSoftwareCloudApi": {
          "id": "1Q0dNUTQb5xOwJSk",
          "name": "Jira SW Cloud account"
        }
      }
    },
    {
      "parameters": {
        "operation": "removeItemsSeenInPreviousExecutions",
        "dedupeValue": "={{ $json.id }}",
        "options": {}
      },
      "id": "9e26f402-36da-40e1-a736-db4fe16de54a",
      "name": "Mark as Seen",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        2360,
        160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## 1. Watch Outlook Inbox for Support Emails\n[Learn more about the Outlook node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.microsoftoutlook/)\n\n**This template assumes a shared inbox specifically for support tickets!** If you have a general inbox, you may need to classify and filter each message which might become costly. The \"remove duplicates\" node (ie. \"Mark as seen\") ensures we only process each email exactly once.",
        "height": 540,
        "width": 720,
        "color": 7
      },
      "id": "b5f49877-e494-4712-a937-1f348198700e",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1860,
        -40
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Create Issue in JIRA\n[Read more about the JIRA node](https://docs.n8n.io/integrations/builtin/app-nodes/n8n-nodes-base.jira/)\n\nThis is only a simple example to create an issue in JIRA but easily extendable to add much more!",
        "height": 440,
        "width": 460,
        "color": 7
      },
      "id": "b9d08834-14ad-4cdf-bc20-411033eee5b7",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2260,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Try It Out!\n### This n8n template watches an outlook shared inbox for support messages and creates an equivalent issue item in JIRA.\n\n### How it works\n* A scheduled trigger fetches recent Outlook messages from an shared inbox which collects support requests.\n* These support requests are filtered to ensure they are only processed once and their HTML body is converted to markdown for easier parsing.\n* Each support request is then triaged via an AI Agent which adds appropriate labels, assesses priority and summarises a title and description of the original request.\n* Finally, the AI generated values are used to create an issue in JIRA to be actioned.\n\n### How to use\n* Ensure the messages fetched are solely support requests otherwise you'll need to classify messages before processing them.\n* Specify the labels and priorities to use in the system prompt of the AI agent.\n\n### Requirements\n* Outlook for incoming support\n* OpenAI for LLM\n* JIRA for issue management\n\n### Customising this workflow\n* Consider automating more steps after the issue is created such as attempting issue resolution or capacity planning.\n\n\n### Need Help?\nJoin the [Discord](https://discord.com/invite/XPKeKXeB7d) or ask in the [Forum](https://community.n8n.io/)!\n\nHappy Hacking!",
        "height": 940,
        "width": 380
      },
      "id": "e6942a39-1893-44cf-a846-c6b4d9c37e92",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reported by <{{ $json.From }}>\nReported at: {{ $now.toISO() }}\nSummary: {{ $json.Subject }}\nDescription:\n{{ \"$json.snippet\" }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "=Your are JIRA triage assistant who's task is to\n1) classify and label the given issue.\n2) Prioritise the given issue.\n3) Rewrite the issue summary and description.\n\n## Labels\nUse one or more. Use words wrapped in \"[]\" (square brackets):\n* Technical\n* Account\n* Access\n* Billing\n* Product\n* Training\n* Feedback\n* Complaints\n* Security\n* Privacy\n\n## Priority\n* 1 - highest\n* 2 - high\n* 3 - medium\n* 4 - low\n* 5 - lowest\n\n## Write Summary and Description\n* Remove emotional and anedotal phrases or information\n* Keep to the facts of the matter\n* Highlight what was attempted and is/was failing"
            }
          ]
        }
      },
      "id": "71a906b2-7b01-43a8-aa82-7d9810d95e23",
      "name": "Generate Issue From Support Request",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        2060,
        820
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        1380,
        820
      ],
      "id": "fdd33db5-79a7-4afc-8403-f28bbe6a2633",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "PYWxtfY8Jt8O3raD",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}"
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1600,
        820
      ],
      "id": "7564f766-94d3-4e6f-b9be-67ce98361370",
      "name": "Gmail",
      "webhookId": "fdf8ec17-02db-44ea-ab5a-51d52144cf7b",
      "credentials": {
        "gmailOAuth2": {
          "id": "PYWxtfY8Jt8O3raD",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "shared": [
    {
      "createdAt": "2025-05-23T20:32:00.802Z",
      "updatedAt": "2025-05-23T20:32:00.802Z",
      "role": "workflow:owner",
      "workflowId": "MXcgsS2GU1IUuWC3",
      "projectId": "yxFGV0GmdwTIiKaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-24T18:53:11.000Z",
  "versionId": "e344e2ba-351a-41c1-a684-ab3e68544c3c"
}