workflows/Find Content Gaps in Competitors' Websites with InfraNodus GraphRAG for SEO.json
{
  "active": false,
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Update Google Sheets with Content Insights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "InfraNodus AI Advice",
            "type": "main",
            "index": 0
          },
          {
            "node": "InfraNodus Question Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Clean Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clean Content": {
      "main": [
        [
          {
            "node": "InfraNodus GraphRAG Content Enhancer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Perplexity Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Perplexity Research": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfraNodus AI Advice": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read a Google Sheets File": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait to avoid API overload": {
      "main": [
        [
          {
            "node": "If Node: did we process all the data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfraNodus Question Generator": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "Read a Google Sheets File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get the content from Google Sheets": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfraNodus GraphRAG Content Enhancer": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "If Node: did we process all the data?": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get the content from Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Google Sheets with Content Insights": {
      "main": [
        [
          {
            "node": "Wait to avoid API overload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T03:53:49.211Z",
  "id": "zPu24gnRVgm00Ycc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Find Content Gaps in Competitors' Websites with InfraNodus GraphRAG for SEO",
  "nodes": [
    {
      "parameters": {},
      "id": "3bb2f118-479a-4f1b-8e37-58402447efd1",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        100,
        920
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true
            }
          }
        }
      },
      "id": "ee2a49c1-1b41-471f-9eed-d59422d0bec1",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        680,
        700
      ],
      "typeVersion": 3,
      "continueOnFail": true
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "body",
              "cssSelector": "html"
            }
          ]
        },
        "options": {
          "trimValues": false
        }
      },
      "id": "efe383b5-06e6-46eb-bd8c-a3881141e84a",
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "position": [
        860,
        700
      ],
      "typeVersion": 1,
      "continueOnFail": true
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "18940002-94c6-4ee2-8be7-b6c4ce1470c6",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1880,
        540
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if ($input.item.json.body){\n\n\n\n$input.item.json.content = $input.item.json.body.replaceAll('/^\\s+|\\s+$/g', '').replace('/(\\r\\n|\\n|\\r)/gm', \"\").replace(/\\s+/g, ' ')\n\n\n  $input.item.json.contentShort = $input.item.json.content.slice(0, 10000)\n}\n\n\n\n\nreturn $input.item"
      },
      "id": "9c47f13e-7310-4330-90e3-262f6c52aa14",
      "name": "Clean Content",
      "type": "n8n-nodes-base.code",
      "position": [
        1020,
        700
      ],
      "executeOnce": false,
      "typeVersion": 1,
      "alwaysOutputData": true,
      "continueOnFail": true
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f753b807-f49c-457d-a477-de8345c50472",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        420,
        620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 1. Specify the Google Sheet file\n\n#### It should contain the company names and their URLs (in the URL column). Also the Topical Summary and the Graph Summary columns that we will copy the data to.\n\n🤌 [SEE GOOGLE SHEETS TEMPLATE HERE](https://docs.google.com/spreadsheets/d/14qR7Gi8SRCd3eM6_V3ftRcDODkEFAILEqogjUvk7hKs/edit?usp=sharing) - use the same column names and replace with your data. Can be a list of companies generated with the workflow below, or Manus AI or any other Deep Research mode or a list of URLs you'd like to analyze for SEO.\n\n\n🚨 Make sure you specify the file here",
        "height": 640,
        "width": 300
      },
      "id": "8040c9a5-30de-4728-89e0-f581f56be0f7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 2. Avoid rate limit error\n\n#### Split requests into batches of 10 \n\nso you don't make too many requests at once. \n\n\n",
        "height": 600,
        "width": 220
      },
      "id": "a57fa6ac-57bb-4b10-9383-03cdd3b49b0a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        360,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 3. Make an HTTP request and extract text content from the links provided\n\n#### Clean up the content to extract only text, not HTML\n\nwe will then use this content to analyze data",
        "height": 520,
        "width": 520
      },
      "id": "a732c4af-58da-4b3d-84fa-7707e6c6f3ba",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        640,
        320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 4. Use InfraNodus GraphRAG Content Enhancer Tool \n\n#### It will use its AI to generate topical summaries and structural insights from every company's website. \n\nIt will generate a \n\n1) Topical Summary — AI generated summaries of the main topical clusters found in the document (if `graph summary` requestMode is used or a single summary if `summary` requestMode is used.\n\n2) Graph Summary — the information about the content gaps, the main topical clusters, keywords, and keyword combinations for the websites you provided.\n\n",
        "height": 680,
        "width": 440
      },
      "id": "cbf3f893-7c83-4d3b-8622-445eb53655e8",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://infranodus.com/api/v1/graphAndAdvice?doNotSave=true&optimize=develop&includeGraph=false&includeGraphSummary=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "n8n_dummy_graph"
            },
            {
              "name": "aiTopics",
              "value": "true"
            },
            {
              "name": "text",
              "value": "={{ $json.contentShort }}"
            },
            {
              "name": "requestMode",
              "value": "summary"
            }
          ]
        },
        "options": {}
      },
      "id": "1ba934c8-3935-4a33-ac46-7fff90aea636",
      "name": "InfraNodus GraphRAG Content Enhancer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1380,
        660
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "CSIgAKq6mu7hwr8g",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1XZp80OaxGpNeAzW8x-BLht84l7UpFwWiI3xelD19BJs/edit?tab=t.0",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $('InfraNodus AI Advice').item.json.aiAdvice[0].text }}\n\n{{ $('InfraNodus Question Generator').item.json.aiAdvice.slice(0, 3).map(advice => advice.text).join('\\n\\n') }}"
            }
          ]
        }
      },
      "id": "1a24ec92-b309-45b2-9a4b-8b4daf8a99f8",
      "name": "Google Docs",
      "type": "n8n-nodes-base.googleDocs",
      "position": [
        4080,
        1000
      ],
      "typeVersion": 2,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CVvSLOcq4L1Pvxvo",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "Topical Summary"
            },
            {
              "fieldToAggregate": "Graph Summary"
            }
          ]
        },
        "options": {}
      },
      "id": "582a8bcd-5f62-4974-93da-6f7bd768d0a1",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3400,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0",
          "mode": "list",
          "cachedResultName": "Infranodus Visual Text Analysis Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287901638,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit#gid=1287901638"
        },
        "options": {}
      },
      "id": "caec545d-0596-4f0d-8c33-2c10cb836c97",
      "name": "Read a Google Sheets File",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        100,
        640
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f0EK8GS1JVMgDnr2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0",
          "mode": "list",
          "cachedResultName": "Infranodus Visual Text Analysis Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287901638,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit#gid=1287901638"
        },
        "columnToMatchOn": "URL",
        "valueToMatchOn": "={{ $json.URL }}",
        "fieldsUi": {
          "values": [
            {
              "column": "Graph Summary",
              "fieldValue": "={{ $json.graphSummary }}"
            },
            {
              "column": "Topical Summary",
              "fieldValue": "={{ $json.aiAdvice[0].text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "e764823f-2e5b-4961-acb1-ad4a080e1cc3",
      "name": "Update Google Sheets with Content Insights",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2300,
        640
      ],
      "typeVersion": 3,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f0EK8GS1JVMgDnr2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 5. Add the enhanced content to original row\n\n#### We use this node to match the result to the table row (company and URL) we used to generate this result.\n",
        "height": 460,
        "width": 260
      },
      "id": "0ff42a56-d6b6-4c7b-be0f-8669e7e2939e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1800,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 6. Enrich the original Google sheets with the content\n\n#### We save the keywords, topical clusters, topical summaries, and content gaps to the Google sheets, so you can reuse it later in other workflows. \n\n🚨 Make sure to specify the Google sheets file here",
        "height": 520,
        "width": 260
      },
      "id": "a52e557c-5a93-4459-a3c7-3f639d63c2f8",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2220,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "unit": "seconds"
      },
      "id": "a0674fec-3b25-4f4b-93a1-2ce1c9f0bdca",
      "name": "Wait to avoid API overload",
      "type": "n8n-nodes-base.wait",
      "position": [
        2580,
        900
      ],
      "webhookId": "e48bd7c5-7bc3-4f1d-8134-e25c7619ba83",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "6b987d9e-7977-4c1e-a22c-42f1bd47e780",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              },
              "leftValue": "={{ $node[\"Split In Batches\"].context[\"noItemsLeft\"] }}",
              "rightValue": "value2"
            }
          ]
        },
        "options": {}
      },
      "id": "ce5f2c4a-0cc5-4b41-a9f6-e3bbfdae7e58",
      "name": "If Node: did we process all the data?",
      "type": "n8n-nodes-base.if",
      "position": [
        2800,
        900
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "content": "## 7. Batch complete? Go to the next one.\n\n#### We process content in batches of 10 to avoid API overload and rate limit errors.",
        "height": 400,
        "width": 420
      },
      "id": "4655a26a-a8e6-4d6b-9234-162d9a7ceeb1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2540,
        700
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0",
          "mode": "list",
          "cachedResultName": "Infranodus Visual Text Analysis Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287901638,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit#gid=1287901638"
        },
        "options": {}
      },
      "id": "eef85930-49f3-4e0c-b4e7-c9ae44f7e628",
      "name": "Get the content from Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        3100,
        1000
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f0EK8GS1JVMgDnr2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://infranodus.com/api/v1/graphAndAdvice?doNotSave=true&optimize=develop&includeGraph=false&includeGraphSummary=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "aiTopics",
              "value": "true"
            },
            {
              "name": "prompt",
              "value": "=Tell me what are the main topics and gaps in the discourse provided"
            },
            {
              "name": "requestMode",
              "value": "response"
            },
            {
              "name": "text",
              "value": "={{ $json['Topical Summary'].join(' ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "45ae8b0a-eac8-4047-96b3-c60d52876350",
      "name": "InfraNodus AI Advice",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3620,
        880
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "CSIgAKq6mu7hwr8g",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 8. Enrich the original Google sheets with your insights\n\n#### We can then use this data for further research and SEO\n\n🚨 Make sure to specify the Google sheets file here",
        "height": 660
      },
      "id": "d46013e6-4845-4258-a575-de1209d570d2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3040,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 9. Get all the insights obtained from all the documents and create the final report.\n\n#### Synthesize the final report based on the main topics, summaries, and content gaps discovered in the previous steps\n\nOptional: You can also feed this output to another workflow to create a full report or SEO-friendly article. ",
        "height": 660,
        "width": 500
      },
      "id": "50dcb00d-38cc-48ae-b615-24e54c90831e",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3340,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 0. Specify the starting point\n\n#### You may choose to connect this node directly to the Step 8 if you already enriched the data in the Excel sheet.\n\nIn that case, the workflow will take data from the Topical Summary column and generate the results for you\n\n",
        "height": 300,
        "width": 300
      },
      "id": "c04673be-f8f6-48a5-99ec-b3a824cdd500",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        1160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Stage 1: Data Enrichment",
        "height": 100,
        "width": 2940,
        "color": 7
      },
      "id": "4d1dec41-ab3a-4143-aec1-6c77cc704cc4",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Stage 2: Insight Generation",
        "height": 100,
        "width": 1220,
        "color": 7
      },
      "id": "bb6a1236-58f5-47c7-a84a-37d053ce93db",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3020,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## 10. Save the insights into a Google Doc\n\n#### We can then use this data for further research and SEO\n\n🚨 Make sure to specify the Google docs file here",
        "height": 660
      },
      "id": "af85b549-cbdf-4877-9125-002869a77cfe",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4020,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "aiAdvice",
        "joinMode": "keepEverything",
        "options": {}
      },
      "id": "69bee6c8-f936-4cde-80f0-c5397737988f",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "position": [
        3880,
        1000
      ],
      "typeVersion": 3.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://infranodus.com/api/v1/graphAndAdvice?doNotSave=true&optimize=gap&includeGraph=false&includeGraphSummary=true",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "aiTopics",
              "value": "true"
            },
            {
              "name": "prompt",
              "value": "=Tell me what are the main topics and gaps in the discourse provided"
            },
            {
              "name": "requestMode",
              "value": "question"
            },
            {
              "name": "text",
              "value": "={{ $json['Topical Summary'].join(' ') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9621f7cf-431e-4b2f-8e97-61afce248a8b",
      "name": "InfraNodus Question Generator",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3620,
        1100
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "CSIgAKq6mu7hwr8g",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.perplexity.ai/chat/completions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sonar-pro\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Act as a professional  researcher  whose task is to create the most comprehensive list of links that relate to the niche provided.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Find all the link that relate to the following field: '{{ $json['Niche'] }}'\\n\\nAdditional instructions: '{{ $json['Model Instructions'] }}'\\n IMPORTANT: \\nMake a json list of at least 20 of them. One column is the name, the other is the URL, the third one is the category they operate in. Be as comprehensive in your search as you can. IMPORTANT: answer exclusively in JSON, do NOT add any additional comments.EXAMPLE OF YOUR RESPONSE\\n\\n[{\\\"Name\\\":\\\"A\\\",\\\"URL\\\":\\\"https://website.com\\\"}]\"\n    }\n  ]\n}\n",
        "options": {}
      },
      "id": "ab79ddd4-fc9d-40f3-abd2-ff40aa5a48d3",
      "name": "Perplexity Research",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        920,
        1460
      ],
      "typeVersion": 4.2,
      "credentials": {
        "httpBearerAuth": {
          "id": "CSIgAKq6mu7hwr8g",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Generate a List of Companies for a Market Niche",
        "formDescription": "Describe the market for which you want to get a list of companies",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Niche",
              "placeholder": "e.g. customer feedback analysis tools",
              "requiredField": true
            },
            {
              "fieldLabel": "Additional Search Instructions",
              "placeholder": "e.g. make sure to include only big companies"
            }
          ]
        },
        "options": {}
      },
      "id": "277306c0-c05c-4871-adba-a280d3ccb40e",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        580,
        1460
      ],
      "webhookId": "fcf3ba43-d94f-4aad-a8a0-62492274b372",
      "typeVersion": 2.2,
      "disabled": true
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Take this content and generate a JSON from it: {{ $json.choices[0].message.content }}. Make sure your JSON is just a list of companies like an array. Don't give it an additional name. Your response should be in the `response` object."
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "d530c4a9-2e88-4f38-90d9-f26ee0eef342",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1220,
        1460
      ],
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "WYRQt22D3Ej2FW2r",
          "name": "OpenAi Blue&"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0",
          "mode": "list",
          "cachedResultName": "Infranodus Visual Text Analysis Tools",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1287901638,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1h7c1FezZTCDH23RpZA15G_ydAK-cFbhaaVSZ8fLrGb0/edit#gid=1287901638"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Category",
              "displayName": "Category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b1b79af8-bdd2-4b55-bc59-a07a3816b692",
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        2060,
        1460
      ],
      "typeVersion": 4.6,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "f0EK8GS1JVMgDnr2",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.response",
        "options": {}
      },
      "id": "43aad7de-d1eb-4e34-b8e9-6ca921f4c53c",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1560,
        1460
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "a019b4ab-3f19-4856-a803-064106466e36",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1760,
        1460
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "## Generate a List of URLs to Analyze \n\n#### Use this workflow to seed the Excel file with the list of URLs you'd like to analyze using the workflow above \n\nTrigger execution by clicking \"Test Workflow\" next to the form",
        "height": 480,
        "width": 1740,
        "color": 6
      },
      "id": "f4e38c0f-0a26-4be9-9759-3db5437f25bf",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        1240
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T06:37:22.000Z",
  "versionId": "e4148eb6-427d-4e3c-8375-8e0585716639"
}