workflows/Generate 9:16 Images from Content and Brand Guidelines.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get Brand Guidelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Guidelines": {
      "main": [
        [
          {
            "node": "Get SEO Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Brand Guidelines": {
      "main": [
        [
          {
            "node": "Set Guidelines",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SEO Keywords": {
      "main": [
        [
          {
            "node": "Keyword Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Split Out Keywords",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Keyword Filter": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Content": {
      "main": [
        [
          {
            "node": "Split Out Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Content": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Keywords": {
      "main": [
        [
          {
            "node": "Get Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Script Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Script Prep": {
      "main": [
        [
          {
            "node": "Split Out TN Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Split Out Scenes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Scenes": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out TN Prompt": {
      "main": [
        [
          {
            "node": "Prompt Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Improve Prompt1": {
      "main": [
        [
          {
            "node": "Leo - Generate Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Get imageId1": {
      "main": [
        [
          {
            "node": "Add Asset Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Settings": {
      "main": [
        [
          {
            "node": "Leo - Improve Prompt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Generate Image1": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds": {
      "main": [
        [
          {
            "node": "Leo - Get imageId1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Improve Prompt": {
      "main": [
        [
          {
            "node": "Leo - Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Get imageId": {
      "main": [
        [
          {
            "node": "Add Asset Info1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Settings1": {
      "main": [
        [
          {
            "node": "Leo - Improve Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leo - Generate Image": {
      "main": [
        [
          {
            "node": "Wait 30 Seconds1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 30 Seconds1": {
      "main": [
        [
          {
            "node": "Leo - Get imageId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prompt Settings1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Asset Info1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "Script Prep",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T00:44:42.319Z",
  "id": "KdYF3nAVDXFaQEHj",
  "isArchived": false,
  "meta": null,
  "name": "Generate 9:16 Images from Content and Brand Guidelines",
  "nodes": [
    {
      "parameters": {},
      "id": "0ba283de-2d12-41f5-bc06-5d3e84a69d4b",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        384,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# AlexK1919 \n![Alex Kim](https://media.licdn.com/dms/image/v2/D5603AQFOYMkqCPl6Sw/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1718309808352?e=1736985600&v=beta&t=pQKm7lQfUU1ytuC2Gq1PRxNY-XmROFWbo-BjzUPxWOs)\n\n#### I’m Alex, an AI-Native Workflow Automation Architect Building Solutions to Optimize your Personal and Professional Life.\n\n### Example AirTable Base\nhttps://airtable.com/appRDq3E42JNtruIP/shrnc9EzlxpCq7Vxe\n\n### Link to my n8n Workflow Templates\nhttps://n8n.io/creators/alexk1919\n\n### Workflow Overview Video\nhttps://www.youtube.com/@alexk1919_\n\n### Products Used\n[AirTable](https://airtable.com)\n[OpenAI](https://openai.com/)\n[Leonardo.ai](https://app.leonardo.ai/?via=alexk1919)\n\n### About Me\nhttps://beacons.ai/alexk1919\n",
        "height": 1110,
        "width": 290,
        "color": 6
      },
      "id": "b1aa3af4-663c-464f-aba5-b70827ff8c6b",
      "name": "Sticky Note20",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Triggers",
        "height": 1111,
        "width": 247,
        "color": 7
      },
      "id": "76db0d2f-b7e5-4c50-bd01-51dfa72697b8",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 1. Retrieve Brand Guidelines",
        "height": 1111,
        "width": 427,
        "color": 3
      },
      "id": "fb91740b-8bfd-430c-8646-b8b321b86530",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f803283a-f895-4794-87ad-46c63542ea4f",
              "name": "id",
              "type": "string",
              "value": "={{ $json.id }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "51b2157e-d539-4b99-8076-e52d6e842d7b",
      "name": "Set Guidelines",
      "type": "n8n-nodes-base.set",
      "position": [
        864,
        240
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "# 2. Retrieve Blog Post/s",
        "height": 1111,
        "width": 667,
        "color": 4
      },
      "id": "0bc7ab58-3fd1-46a9-90dc-34ce23cb0714",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appRDq3E42JNtruIP",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP",
          "cachedResultName": "Content Manager"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblF8Ye2g0gPdpsaI",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP/tblF8Ye2g0gPdpsaI",
          "cachedResultName": "Brand Guidelines"
        },
        "options": {}
      },
      "id": "89b914a3-1eed-4136-9ef4-d0ecef150c69",
      "name": "Get Brand Guidelines",
      "type": "n8n-nodes-base.airtable",
      "position": [
        656,
        240
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appRDq3E42JNtruIP",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP",
          "cachedResultName": "Content Manager"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblU1fgGH1LXwnWRb",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP/tblU1fgGH1LXwnWRb",
          "cachedResultName": "SEO Keywords"
        },
        "options": {
          "fields": [
            "Keyword",
            "RelatedContent"
          ]
        }
      },
      "id": "5c5c72a3-c851-41e5-bbb4-1bd4feaa2fc0",
      "name": "Get SEO Keywords",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1120,
        240
      ],
      "executeOnce": false,
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "id": "58b6394f-1c96-4293-b503-4ac7334f771a",
      "name": "Remove Duplicates",
      "type": "n8n-nodes-base.removeDuplicates",
      "position": [
        1520,
        240
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Set keyword filter",
        "height": 240,
        "width": 220,
        "color": 3
      },
      "id": "0330f8b6-cd1c-4dbf-984c-569488dd3df2",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "1b854a48-286a-486f-8a0f-4eb3b8d302ea",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "leftValue": "={{ $json.Keyword }}",
              "rightValue": "ai automation"
            }
          ]
        },
        "options": {
          "ignoreCase": true
        }
      },
      "id": "92dab3f1-31fe-4e11-a7e5-a46c94e84ffa",
      "name": "Keyword Filter",
      "type": "n8n-nodes-base.filter",
      "position": [
        1328,
        240
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appRDq3E42JNtruIP",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP",
          "cachedResultName": "Content Manager"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblU1fgGH1LXwnWRb",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP/tblU1fgGH1LXwnWRb",
          "cachedResultName": "SEO Keywords"
        },
        "id": "={{ $json.RelatedContent }}",
        "options": {}
      },
      "id": "885739d7-89c3-4611-94eb-6455fff7b6fa",
      "name": "Get Content",
      "type": "n8n-nodes-base.airtable",
      "position": [
        1328,
        464
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "dee28bfa-2a5f-4d26-af46-883506f09c97",
      "name": "Split Out Content",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1520,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "RelatedContent",
        "include": "allOtherFields",
        "options": {}
      },
      "id": "3211b5e6-4165-4fdb-aef6-005d319ebd80",
      "name": "Split Out Keywords",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1120,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "74351efd-9923-4a45-b861-e69def78a76d",
      "name": "Limit",
      "type": "n8n-nodes-base.limit",
      "position": [
        1520,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# 3. Prepare Short Form Video Content",
        "height": 1111,
        "width": 727,
        "color": 5
      },
      "id": "3533b901-b1cd-4797-865c-280781f55ee5",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1760,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Prepare a script with 4 scenes for a short form video based on the following blog post:\n\nTitle:\n{{ $json.Title }}\n\nContent:\n{{ $json.Content }}\n\nThe video should be less than 30 seconds in length.\n\nAlso create image prompts for each scene within the script.\n\nThen output a image prompt for the video thmbnail.\n\nThe video will use a 9:16 aspect."
            },
            {
              "content": "Output format:\nMake sure you number each script and image prompt.\n\nScene 1 - 4\n- script #\n- image prompt #\n\nThumbnail Prompt",
              "role": "system"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "id": "355866b7-1a0f-468b-9101-3bcea08d7173",
      "name": "Script Prep",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        1824,
        240
      ],
      "typeVersion": 1.6,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.scenes",
        "options": {}
      },
      "id": "8bfe369e-58dd-4675-8266-bc5662f7e08e",
      "name": "Split Out Scenes",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2240,
        688
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.thumbnail_prompt",
        "options": {}
      },
      "id": "6c82c4c5-7608-454a-b26a-f835405671f0",
      "name": "Split Out TN Prompt",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        2240,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/prompt/improve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json['message.content[\\'Thumbnail Prompt\\']'] }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "48d44ab0-213c-473c-8481-d6a015112f36",
      "name": "Leo - Improve Prompt1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2784,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "d9b0569a-fced-4f91-b4fc-cdefd60c4494",
      "name": "Leo - Get imageId1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3376,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56c8f20d-d9d9-4be7-ac2a-38df6ffdd722",
              "name": "model",
              "type": "string",
              "value": "de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3"
            },
            {
              "id": "dc66dd4a-9209-4790-b844-e19931accc39",
              "name": "additional",
              "type": "string",
              "value": "Use the rule of thirds, leading lines, & balance."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "856f7a02-0e9f-41e2-96e0-b83532ff4a56",
      "name": "Prompt Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        2576,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": true,\n  \"width\": 768,\n  \"height\": 1376,\n  \"modelId\": \"{{ $('Prompt Settings').item.json.model }}\",\n  \"num_images\": 1,\n  \"presetStyle\": \"DYNAMIC\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }};\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": false,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "866d3821-961e-414b-9226-7a67c471c6cf",
      "name": "Leo - Generate Image1",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2976,
        192
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "# 4. Generate Thumbnail Image",
        "height": 531,
        "width": 1447,
        "color": 6
      },
      "id": "9b2d0c87-c31e-4fd9-8cb7-31005f9bf0d6",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "138a7808-9f32-4aab-9150-1748443c787b",
      "name": "Wait 30 Seconds",
      "type": "n8n-nodes-base.wait",
      "position": [
        3184,
        192
      ],
      "webhookId": "08a6381f-bd3d-4cc1-8420-62c886406000",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "### Uses the latest Leonardo.ai Model: Phoenix 1.0",
        "height": 280,
        "width": 220,
        "color": 3
      },
      "id": "60dc49ee-5139-44f6-aefe-1cb7bbe3c060",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        112
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/prompt/improve",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.image_prompt }}\"\n}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "60464207-c8b9-4371-8ecb-65b75a52ff71",
      "name": "Leo - Improve Prompt",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        2976,
        784
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "url": "=https://cloud.leonardo.ai/api/rest/v1/generations/{{ $json.body.sdGenerationJob.generationId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "6358e7f9-36cc-471d-8846-ee3f6514cb62",
      "name": "Leo - Get imageId",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3584,
        784
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "56c8f20d-d9d9-4be7-ac2a-38df6ffdd722",
              "name": "model",
              "type": "string",
              "value": "de7d3faf-762f-48e0-b3b7-9d0ac3a3fcf3"
            },
            {
              "id": "dc66dd4a-9209-4790-b844-e19931accc39",
              "name": "additional",
              "type": "string",
              "value": "Use the rule of thirds, leading lines, & balance."
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "98c102b9-4d61-4311-9bde-bed6053d9661",
      "name": "Prompt Settings1",
      "type": "n8n-nodes-base.set",
      "position": [
        2784,
        784
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cloud.leonardo.ai/api/rest/v1/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpCustomAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"alchemy\": false,\n  \"width\": 768,\n  \"height\": 1376,\n  \"modelId\": \"{{ $('Prompt Settings1').item.json.model }}\",\n  \"num_images\": 1,\n  \"presetStyle\": \"DYNAMIC\",\n  \"prompt\": \"{{ $json.body.promptGeneration.prompt }};\",\n  \"guidance_scale\": 7,\n  \"highResolution\": true,\n  \"promptMagic\": false,\n  \"promptMagicStrength\": 0.5,\n  \"promptMagicVersion\": \"v3\",\n  \"public\": false,\n  \"ultra\": true,\n  \"photoReal\": false,\n  \"negative_prompt\": \"\"\n} ",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "4bd7ec93-e181-4d5d-a301-afb4b23891b8",
      "name": "Leo - Generate Image",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        3184,
        784
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "amount": 30
      },
      "id": "d7a73d97-1b44-4b44-bd3e-b5345543923d",
      "name": "Wait 30 Seconds1",
      "type": "n8n-nodes-base.wait",
      "position": [
        3376,
        784
      ],
      "webhookId": "08a6381f-bd3d-4cc1-8420-62c886406000",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "0faee6c2-2ee4-4795-8441-6d9bcb0e3196",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        2576,
        688
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "content": "# 4. Generate Scene Images",
        "height": 551,
        "width": 1447,
        "color": 6
      },
      "id": "11bbe769-1a6f-4f6c-8373-f5c7f2b6f088",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2528,
        560
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appRDq3E42JNtruIP",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP",
          "cachedResultName": "Content Manager"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblqoaJ7bRLBgENED",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP/tblqoaJ7bRLBgENED",
          "cachedResultName": "Assets"
        },
        "columns": {
          "value": {
            "Asset URL": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
            "File Size": 0,
            "Asset Name": "=TN - {{ $('Get Content').item.json.Title }}",
            "Asset Type": "Image"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Asset Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset Type",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Video",
                  "value": "Video"
                },
                {
                  "name": "Document",
                  "value": "Document"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Upload Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Upload Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "File Size",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "File Size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset URL",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Usage Rights",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Usage Rights",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Thumbnail",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Videos",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Videos",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Social Media Posts",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Social Media Posts",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Blog Posts",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Blog Posts",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Related Campaigns",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Related Campaigns",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Schedules",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Schedules",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Calendar",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Content Calendar",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "1801906f-a87e-4b7a-b958-1410edb88628",
      "name": "Add Asset Info",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3584,
        192
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": "appRDq3E42JNtruIP",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP",
          "cachedResultName": "Content Manager"
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": "tblqoaJ7bRLBgENED",
          "cachedResultUrl": "https://airtable.com/appRDq3E42JNtruIP/tblqoaJ7bRLBgENED",
          "cachedResultName": "Assets"
        },
        "columns": {
          "value": {
            "Asset URL": "={{ $json.body.generations_by_pk.generated_images[0].url }}",
            "File Size": 0,
            "Asset Name": "=Scene - {{ $('Loop Over Items').item.json.script }}",
            "Asset Type": "Image"
          },
          "schema": [
            {
              "id": "id",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": true,
              "required": false,
              "displayName": "id",
              "defaultMatch": true
            },
            {
              "id": "Asset Name",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Name",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset Type",
              "type": "options",
              "display": true,
              "options": [
                {
                  "name": "Image",
                  "value": "Image"
                },
                {
                  "name": "Video",
                  "value": "Video"
                },
                {
                  "name": "Document",
                  "value": "Document"
                }
              ],
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset Type",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Upload Date",
              "type": "dateTime",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Upload Date",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "File Size",
              "type": "number",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "File Size",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Asset URL",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Asset URL",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Usage Rights",
              "type": "string",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Usage Rights",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Thumbnail",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Thumbnail",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Videos",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Videos",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Social Media Posts",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Social Media Posts",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Associated Blog Posts",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Associated Blog Posts",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Related Campaigns",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Related Campaigns",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Schedules",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Schedules",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            },
            {
              "id": "Content Calendar",
              "type": "array",
              "display": true,
              "removed": false,
              "readOnly": false,
              "required": false,
              "displayName": "Content Calendar",
              "defaultMatch": false,
              "canBeUsedToMatch": true
            }
          ],
          "mappingMode": "defineBelow",
          "matchingColumns": [
            "id"
          ]
        },
        "options": {}
      },
      "id": "757a514c-d1df-42e0-b411-90f990ee29dc",
      "name": "Add Asset Info1",
      "type": "n8n-nodes-base.airtable",
      "position": [
        3776,
        784
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "content": "### Uses the latest Leonardo.ai Model: Phoenix 1.0",
        "height": 280,
        "width": 220,
        "color": 3
      },
      "id": "25bf0533-875c-4c0a-b055-5d40f368b2e3",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2928,
        704
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "b307f4b2-38ae-45d2-8d19-84701a3ca63d",
      "name": "Wikipedia",
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "position": [
        1824,
        464
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Optionally, you can modify the number of images generated to provide more options",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "id": "3e980314-96da-4988-b6ed-ba45e3b69bb4",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Optionally, you can modify the number of images generated to provide more options",
        "height": 80,
        "width": 400,
        "color": 7
      },
      "id": "86721a04-af61-4f6f-8e4b-21ca3ba97430",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3120,
        640
      ],
      "typeVersion": 1
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T00:44:42.322Z",
      "updatedAt": "2025-08-21T00:44:42.322Z",
      "role": "workflow:owner",
      "workflowId": "KdYF3nAVDXFaQEHj",
      "projectId": "yxFGV0GmdwTIiKaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T00:44:42.000Z",
  "versionId": "9a656194-6d9f-4ce6-960a-9570bd0a90cf"
}