workflows/Generate Research Questions from PDFs using InfraNodus Content Gap Analysis.json
{
  "active": false,
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Convert binary files to PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for InfraNodus": {
      "main": [
        [
          {
            "node": "InfraNodus GraphRAG Question Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert binary files to PDF": {
      "main": [
        [
          {
            "node": "Extract text from PDF files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract text from PDF files": {
      "main": [
        [
          {
            "node": "Prepare for InfraNodus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "InfraNodus GraphRAG Question Generator": {
      "main": [
        [
          {
            "node": "Display on the Form to the User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-23T06:48:34.231Z",
  "id": "ubRCFF6coO1saY8c",
  "isArchived": false,
  "meta": null,
  "name": "Generate Research Questions from PDFs using InfraNodus Content Gap Analysis",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://v2.convertapi.com/convert/pdf/to/txt",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/octet-stream"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "0e472cad-43f6-4092-bc19-cd8923402a7f",
      "name": "Convert File to PDF",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1820,
        220
      ],
      "notesInFlow": true,
      "typeVersion": 4.2,
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Optional: Better PDF Conversion\n\n### Standard Map PDF to Text node will split your PDF files into very short chunks, which deteriorates retrieval. \n\nUse can use [ConvertAPI](https://convertapi.com?ref=4l54n) which is a high-quality convertor that will respect the layout of the original document and not cut the paragraphs into short chunks. \n\nHere is an HTTP node that makes a request to their API to convert the PDF into text. If you have a ConvertAPI account, you can replace the \"Extract Text from PDF\" node in Step 3 with this node. \n\nNote that you will need to map the text output from this node correctly in the Step 4 after.\n",
        "height": 820,
        "width": 360,
        "color": 2
      },
      "id": "ba929ebb-5704-4737-a16d-b681fffd7619",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1780,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "formTitle": "Find Content Gaps in Your PDF Files",
        "formDescription": "Upload the files you'd like to analyze and we will extract content gaps and interesting questions based on them.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Add Your Files",
              "fieldType": "file",
              "acceptFileTypes": ".pdf"
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "44b07a68-b989-43cc-b4c1-d50c066bd3db",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        -440,
        -20
      ],
      "webhookId": "f35f0686-fbcb-466c-a59e-48ee9d360024",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "jsCode": "let results = [];\n\nfor (let item of items) {\n    if (item.binary) {\n        // If there's binary data in the item, process each binary file\n        for (let key in item.binary) {\n            // Use the key as the file name\n            let binaryKey = key.replace(/\\s/g, '_'); // Replace spaces with underscores for the key\n            results.push({\n                json: {\n                    fileName: binaryKey\n                },\n                binary: {\n                    [binaryKey]: item.binary[key] // Use the modified key for the binary data\n                }\n            });\n        }\n    }\n}\n\nreturn results;\n"
      },
      "id": "9e52d378-6455-48df-ab79-6bae493f4351",
      "name": "Convert binary files to PDF",
      "type": "n8n-nodes-base.code",
      "position": [
        -120,
        -20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "pdf",
        "binaryPropertyName": "={{ $json.fileName }}",
        "options": {}
      },
      "id": "71444948-b9d5-4db7-9afd-887b0da02f0d",
      "name": "Extract text from PDF files",
      "type": "n8n-nodes-base.extractFromFile",
      "position": [
        220,
        -20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "\nlet plainText = '' // we send plain text from all the PDFs to InfraNodus for analysis\n\nconst randomNum = Math.floor(Math.random() * 3); // replace this with a 0 if you'd like to address the biggest gap in the knowledge graph\n\nfor (let item of items) {\n   plainText += item.json.text + '\\n\\n'  \n}\n\n\nreturn {text: plainText, randomNum};"
      },
      "id": "f126db1d-ccd9-4996-9c94-cad93ec9e6c4",
      "name": "Prepare for InfraNodus",
      "type": "n8n-nodes-base.code",
      "position": [
        520,
        -20
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "showText",
        "responseText": "=<br>\n<h3>{{ $json.aiAdvice[0].text }}</h3>\n<br>\n"
      },
      "id": "0f030377-a3e2-44ba-a4c5-2b1eadace89d",
      "name": "Display on the Form to the User",
      "type": "n8n-nodes-base.form",
      "position": [
        1320,
        -20
      ],
      "webhookId": "091aab99-a4cf-40ec-b3bb-655d8e0b9a5c",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 1: User uploads the PDF files for analysis\n\n### You can expose this endpoint and make it publicly available via a URL to your organization.",
        "height": 520
      },
      "id": "7f5eff9c-2e23-4418-b782-ba55b016947f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 2: Convert uploaded binaries into PDF files\n\n### We need to convert the binaries uploaded to the PDF files so we can extract text from them.",
        "height": 520,
        "width": 280
      },
      "id": "78b5dd11-2e75-429b-af69-643a19b432aa",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 3: Extract plain text from PDF files\n\n### For better quality text extraction, you can use the optional [ConvertAPI](https://convertapi.com?ref=4l54n) node to the right, which respects the files' original formatting.",
        "height": 520,
        "width": 220
      },
      "id": "1913fe41-06fe-4820-af95-30599bcda9eb",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 4: Combine extracted text into a text string\n\n### Prepare data for InfraNodus: combine all the extracted text into a text string and also tell InfraNodus the gap depth it should use when generating advice",
        "height": 520,
        "width": 220
      },
      "id": "0ff0656a-b214-4412-8599-52c4a2581d69",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        460,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 5: Use InfraNodus GraphRAG to build a knowledge graph, find the gap, and generate a research question based on it.\n\n### [InfraNodus](https://infranodus.com) builds a knowledge graph from all the texts, identifies the topical clusters that are least connected, and generates a research question that has a potential to bridge them in a new way.\n\n🚨 PROVIDE YOUR INFRANODUS API KEY HERE",
        "height": 820,
        "width": 380
      },
      "id": "4d8ffb83-41ee-421f-8313-e370bd43821e",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Step 6: Show question / prompt to the user\n\n### Optionally, you can feed the response to your other n8n workflow or expose it via a webhook and show it in your own app using an iframe.",
        "height": 820,
        "width": 380
      },
      "id": "e9165164-6951-445d-b91c-ab9c765703ed",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -360
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# How does InfraNodus GraphRAG generate research questions?\n\n## [InfraNodus](https://infranodus.com) GraphRAG helps avoid generic responses and LLM bias through analyzing your text's structure. Here's how it works:\n\n### 1. It represents your text as a network of concepts and relations building a knowledge graph.\n\n### 2. It then identifies the clusters of cocnepts that are furthest apart from each other — they appear in the same context (your texts) but are not well connected.\n\n### 3. InfraNodus will then use the AI to generate a question / prompt that bridges this gap — touching upon relevant topics but connecting them in a new way.\n\n![structural gap infranodus](https://infranodus.com/images/front/infranodus-structural-gaps-ideas.jpg)",
        "height": 1000,
        "width": 1160,
        "color": 5
      },
      "id": "e6e8a72a-2abb-43cd-bbd1-9a44044f0a49",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        220
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://infranodus.com/api/v1/graphAndAdvice?doNotSave=true&optimize=develop&includeGraph=false&includeGraphSummary=true&gapDepth={{ $json.randomNum }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "aiTopics",
              "value": "true"
            },
            {
              "name": "requestMode",
              "value": "question"
            },
            {
              "name": "text",
              "value": "={{ $json.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5cc91519-fa37-46f3-a29a-2b21eac1fc84",
      "name": "InfraNodus GraphRAG Question Generator",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        900,
        40
      ],
      "typeVersion": 4.2
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-07-23T06:48:58.000Z",
  "versionId": "90443fad-6fcf-483d-bbf4-befd9753a9a7"
}