workflows/Main Agent.json
{
  "active": false,
  "connections": {
    "Email Agent": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Contact Agent": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calendar Agent": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        []
      ]
    },
    "4o": {
      "ai_languageModel": [
        [
          {
            "node": "Sergio",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        []
      ]
    },
    "Blog Post Writer Agent": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Sergio": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Sergio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Sergio",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Jira Agent": {
      "ai_tool": [
        [
          {
            "node": "Sergio",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-24T21:41:03.919Z",
  "id": "5bBpSyZmGyFDfumz",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Main Agent",
  "nodes": [
    {
      "parameters": {
        "name": "emailAgent",
        "description": "Call this tool for any email actions.",
        "workflowId": {
          "__rl": true,
          "value": "bSfmZGFA7MaVItTG",
          "mode": "list",
          "cachedResultName": "Email Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        40,
        840
      ],
      "id": "7c74fae4-03ed-48db-9be0-5a45134245e8",
      "name": "Email Agent"
    },
    {
      "parameters": {
        "name": "contactAgent",
        "description": "Call this tool for any contact related actions.",
        "workflowId": {
          "__rl": true,
          "value": "KB6LbBXnci0SR4W0",
          "mode": "list",
          "cachedResultName": "Contact Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        320,
        840
      ],
      "id": "5699cda9-6ad3-4eea-a4b9-0da8332be04b",
      "name": "Contact Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        640,
        520
      ],
      "id": "5714c297-a497-4ed1-a8c7-b3803ff9ef98",
      "name": "Calculator"
    },
    {
      "parameters": {
        "name": "calendarAgent",
        "description": "Call this tool for any calendar action.",
        "workflowId": {
          "__rl": true,
          "value": "vGV82i7TbW1wXqBC",
          "mode": "list",
          "cachedResultName": "Calendar Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        180,
        840
      ],
      "id": "391ca2a8-c095-42fe-95e1-35fe2cbdfa1e",
      "name": "Calendar Agent"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "n8n",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        300
      ],
      "id": "1ee4f7d0-a942-48e0-b078-5a2af3e4bd41",
      "name": "Webhook",
      "webhookId": "dced53d2-e10e-4357-9d22-4f8db19efa7c"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        520,
        300
      ],
      "id": "3561ead9-d823-437d-954c-d95132443eb0",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        520
      ],
      "id": "4524453d-5f36-47a6-a97f-3e97dcac9967",
      "name": "4o",
      "credentials": {
        "openAiApi": {
          "id": "WYRQt22D3Ej2FW2r",
          "name": "OpenAi Blue&"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.headers.host }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        0,
        560
      ],
      "id": "e68bc37e-b675-43db-8a13-8c84e6f56f74",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "# Main Agent {Sergio}\n",
        "height": 260,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        180
      ],
      "typeVersion": 1,
      "id": "42d570c5-e930-45df-92ca-0b0d1f89151d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# SoftWorld",
        "height": 100,
        "width": 200,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        60
      ],
      "typeVersion": 1,
      "id": "78b163fc-7fa1-484e-a034-9932dcd06e81",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Child Agents",
        "height": 260,
        "width": 940,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -180,
        740
      ],
      "typeVersion": 1,
      "id": "c7eb7b8c-ace1-458a-be65-653d812c1154",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "name": "contentCreator",
        "description": "Call this tool to create blog posts.",
        "workflowId": {
          "__rl": true,
          "value": "ldmncpxgtEJSJ5jX",
          "mode": "list",
          "cachedResultName": "Blog Post Writer Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        460,
        840
      ],
      "id": "9129aec5-4f88-4180-a059-be0620bc340d",
      "name": "Blog Post Writer Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        500,
        520
      ],
      "id": "5eb289e0-9a37-4096-a3dd-99549aad1e02",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "yy1PRJ4R1p8UYTyT",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput}}",
        "options": {
          "systemMessage": "=# Overview\nYou are the ultimate personal assistant. Your job is to send the user's query to the correct tool. You should never be writing emails, or creating even summaries, you just need to call the correct tool.\n\n## Tools\n- emailAgent: Use this tool to take action in email\n- calendarAgent: Use this tool to take action in calendar\n- contactAgent: Use this tool to get, update, or add contacts\n- blogPostWriterAgent: Use this tool to create blog posts\n- SerpAPI: Use this tool to search the web\n- jiraAgent: Use this tool to manage issues in Jira\n\n## Rules\n- Some actions require you to look up contact information first. For the following actions, you must get contact information and send that to the agent who needs it:\n  - sending emails\n  - drafting emails\n  - creating calendar event with attendee\n\n## Examples\n1) \n- Input: send an email to Fausto Ramirez asking him what time he wants to leave\n  - Action: Use contactAgent to get fausto ramirez's email\n  - Action: Use emailAgent to send the email. You will pass the tool a query like \"send fausto ramirez an email to ask what time he wants to leave. here is his email: [email address]\n- Output: The email has been sent to Fausto Ramirez. Anything else I can help you with?\n\n\n## Final Reminders\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        120,
        300
      ],
      "id": "f1ec1717-fc16-4d04-8b97-cbc0a5a3cbd8",
      "name": "Sergio"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -340,
        200
      ],
      "id": "f42d4e95-86a0-4c46-8f9a-105b9dd1f161",
      "name": "When chat message received",
      "webhookId": "29277fa2-8ac6-4ae0-8375-ee717fe79386"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        100,
        520
      ],
      "id": "1ec2c24b-9f6a-4313-a405-e3643682b996",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "name": "jiraAgent",
        "description": "Call this tool to work with jira issues.",
        "workflowId": {
          "__rl": true,
          "value": "FGroxvDQ3gx2L3wk",
          "mode": "list",
          "cachedResultName": "Jira Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        600,
        840
      ],
      "id": "713971f4-cd3e-4738-a569-b9c746b55db8",
      "name": "Jira Agent"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-27T23:56:04.000Z",
  "versionId": "314a55af-a83e-4d30-abfa-f8f512c37453"
}