workflows/My workflow.json
{
  "active": false,
  "connections": {
    "Read Channels from Airtable": {
      "main": [
        [
          {
            "node": "Channel Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Channel Scraper": {
      "main": [
        [
          {
            "node": "Create/Update Channel Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Video Metadata and Transcript Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Metadata and Transcript Scraper": {
      "main": [
        [
          {
            "node": "Update Video Table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-05-02T05:55:46.068Z",
  "id": "CQFSUy0TbMpNQ4WI",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "id": "1",
      "name": "Read Channels from Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        200,
        300
      ],
      "parameters": {
        "operation": "list",
        "applicationId": "{{ myAirtableCredentials.applicationId }}",
        "baseUrl": "https://api.airtable.com/v0/",
        "table": "Channels",
        "additionalFields": {}
      },
      "credentials": {
        "airtableApi": "myAirtableCredentials"
      }
    },
    {
      "id": "2",
      "name": "Channel Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/Apify~youtube-channel-scraper/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "bodyParameters": {
          "json": {
            "channelUrls": "{{$node['Read Channels from Airtable'].json['channel_url']}}"
          }
        },
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer {{ myApifyApiKey }}"
        }
      }
    },
    {
      "id": "3",
      "name": "Create/Update Channel Metadata",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        800,
        300
      ],
      "parameters": {
        "operation": "upsert",
        "applicationId": "{{ myAirtableCredentials.applicationId }}",
        "baseUrl": "https://api.airtable.com/v0/",
        "table": "Channels",
        "updateKey": "channel_url",
        "additionalFields": {
          "fields": {
            "Name": "{{$json['name']}}",
            "Description": "{{$json['description']}}",
            "Subscribers": "{{$json['subscribers']}}"
          }
        }
      },
      "credentials": {
        "airtableApi": {
          "id": null,
          "name": "myAirtableCredentials"
        }
      }
    },
    {
      "id": "4",
      "name": "Video Metadata and Transcript Scraper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1100,
        500
      ],
      "parameters": {
        "url": "https://api.apify.com/v2/acts/Apify~youtube-transcript-scraper/run-sync-get-dataset-items",
        "method": "POST",
        "options": {},
        "bodyParameters": {
          "json": {
            "videoUrls": "{{$json['videos[].url']}}"
          }
        },
        "headers": {
          "Content-Type": "application/json",
          "Authorization": "Bearer {{ myApifyApiKey }}"
        }
      }
    },
    {
      "id": "5",
      "name": "Update Video Table",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [
        1400,
        500
      ],
      "parameters": {
        "operation": "append",
        "applicationId": "{{ myAirtableCredentials.applicationId }}",
        "baseUrl": "https://api.airtable.com/v0/",
        "table": "Videos",
        "additionalFields": {
          "fields": {
            "Video URL": "{{$node['Video Metadata and Transcript Scraper'].json['videoUrl']}}",
            "Transcript": "{{$node['Video Metadata and Transcript Scraper'].json['transcript']}}",
            "Title": "{{$node['Video Metadata and Transcript Scraper'].json['title']}}"
          }
        }
      },
      "credentials": {
        "airtableApi": {
          "id": null,
          "name": "myAirtableCredentials"
        }
      }
    }
  ],
  "pinData": null,
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-05-02T05:55:46.068Z",
  "versionId": "5a2d7d21-48a7-4880-b7c0-b0b5452ae2fd"
}