workflows/My workflow.json
{
  "active": false,
  "connections": {
    "youtube": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-17T19:53:45.997Z",
  "id": "8T2K993qucXIHazm",
  "meta": null,
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f65549c2-c23d-4885-8b98-c7dd99770b01",
              "name": "URL",
              "value": "={{ $json['Youtube URL:'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ccf51c9d-b520-4ca0-9bde-07afa6ac2a46",
      "name": "youtube",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -380,
        900
      ]
    },
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/topaz_sharingan~youtube-transcript-scraper-1/run-sync-get-dataset-items?token=apify_api_JhKdeVu3pgj83fvoqQyz4BPOAM2o222xmV0m",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"startUrls\": [\n        \"{{ $json.URL }}\"\n    ]\n}",
        "options": {}
      },
      "id": "8d27be0f-2286-4ea3-b705-881611f1be5c",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        60,
        900
      ]
    },
    {
      "parameters": {
        "formTitle": "Youtube Video: Summary",
        "formDescription": "Enter the URL for a YouTube video and you will receive a Summary of its content.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Youtube URL:",
              "placeholder": "https://www.youtube.com/watch?v=asldfalsdjfasl",
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "id": "7ed42d82-4e23-4d51-b3e4-14c7b67d7fbb",
      "name": "On form submission",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -600,
        900
      ],
      "webhookId": "f684c0e3-8782-4e74-b065-7b3cb6df70aa"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "b2f7d756-f727-4d54-8724-9594a1124b1d",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        600,
        720
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "90acce9e-519d-4d1e-898b-24eea67527af",
      "name": "OpenAI Chat Model2",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        620,
        1060
      ]
    },
    {
      "parameters": {
        "inputText": "={{ $json.transcript }}",
        "options": {}
      },
      "id": "426901ad-621b-43c6-836e-973bdc2e4ddc",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        480,
        560
      ]
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "combineMapPrompt": "=Write a concise summary of the following:\n\n\n\"{{ $json.transcript }}\"\n\n\nCONCISE SUMMARY: ",
              "prompt": "=Write a concise summary of the following:\n\n\n\"{{ $json.transcript }}\"\n\n\nCONCISE SUMMARY:"
            }
          }
        }
      },
      "id": "a020243d-7ce7-469f-9b29-48d960363e12",
      "name": "Summarization Chain",
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2,
      "position": [
        480,
        900
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.response.text }}",
        "voice": "nova",
        "options": {
          "binaryPropertyOutput": "Summary Audio"
        }
      },
      "id": "3b9bb79e-d3dc-45a8-843f-c47836e0968a",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        840,
        900
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "35ac21aa-9f8b-4964-a27d-7c4e69d76178",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        240,
        440
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.URL }}",
        "options": {}
      },
      "id": "7245853a-16ba-4a45-8131-82bebe5bb3cf",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -120,
        440
      ]
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "id": "636d65f7-f536-46a1-b675-54797bd3416d",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        100,
        440
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-17T19:53:45.997Z",
  "versionId": "e710a92d-61ea-4c97-ade4-c43123bfa0e5"
}