workflows/My workflow.json
{
  "active": false,
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Map website",
            "type": "main",
            "index": 0
          },
          {
            "node": "Scrape url",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map website": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2025-08-18T16:57:56.921Z",
  "id": "6yxknyRwt3BNd8kG",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "088ad0a0-e812-462a-93f8-d28d377e46f9",
      "name": "When chat message received",
      "webhookId": "e1e59ff8-f09e-43a5-8403-d6092ace17df"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "5edca78a-7038-467c-bd37-63a7c79abded",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        288,
        208
      ],
      "id": "e819e7ff-549d-4bab-8658-38c41bbd9eaf",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "WYRQt22D3Ej2FW2r",
          "name": "OpenAi Blue&"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        432,
        208
      ],
      "id": "3aceff0f-eb63-4e83-9fc4-9b566ea2c380",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "map",
        "url": "={{ $('When chat message received').item.json.chatInput }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        768,
        -160
      ],
      "id": "a792b490-c6a1-451b-8191-a7579c527e3f",
      "name": "Map website",
      "credentials": {
        "firecrawlApi": {
          "id": "RtxJYRH9dvOSchT3",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrape",
        "url": "={{ $('When chat message received').item.json.chatInput }}",
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "a1647af2-b70f-4696-83fa-a035c465e806",
      "name": "Scrape url",
      "credentials": {
        "firecrawlApi": {
          "id": "RtxJYRH9dvOSchT3",
          "name": "Firecrawl account"
        }
      }
    },
    {
      "parameters": {
        "operation": "extract",
        "urls": {
          "items": [
            {
              "url": "={{ $('When chat message received').item.json.chatInput }}"
            }
          ]
        },
        "requestOptions": {}
      },
      "type": "@mendable/n8n-nodes-firecrawl.firecrawl",
      "typeVersion": 1,
      "position": [
        768,
        176
      ],
      "id": "73b57810-aa77-466c-86b6-a63f3185a8c3",
      "name": "Extract Data",
      "credentials": {
        "firecrawlApi": {
          "id": "RtxJYRH9dvOSchT3",
          "name": "Firecrawl account"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-18T17:46:31.000Z",
  "versionId": "85829914-670a-40dd-9a9c-f993a9476fd8"
}