workflows/RAG AI Agent.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-21T00:18:37.721Z",
  "id": "WYY5Tk9NkozcsAox",
  "isArchived": false,
  "meta": null,
  "name": "RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "e4c14cfe-5916-493e-9958-ce576c9d33d9",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -1712,
        432
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "id": "6accdd3c-bb80-4c3e-b2ba-e9de2efeabc7",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1680,
        -64
      ]
    },
    {
      "parameters": {
        "respondWith": "binary",
        "responseDataSource": "=",
        "options": {}
      },
      "id": "ad1f3b66-6fdf-4764-833c-e9afdda6e35f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        -672,
        -64
      ]
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.output }}",
        "options": {}
      },
      "id": "1cf92b56-74a9-4909-a0a5-42484f52b636",
      "name": "OpenAI1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        -1120,
        -64
      ]
    },
    {
      "parameters": {
        "name": "GraphDB_KB",
        "description": "O'Reilly Graph Database by Neo4j"
      },
      "id": "ff40c91b-e286-4921-ae9a-df5cf4990939",
      "name": "Vector Store Tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        -1072,
        160
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "4e7e5b4d-d2b0-4e80-983d-4c188251d366",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        -816,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e71bf33b-993f-4cd4-8092-ca78812dc08d",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.1,
      "position": [
        -992,
        432
      ]
    },
    {
      "parameters": {},
      "id": "7725b429-8a92-4fab-800e-f20a5b825511",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        -1264,
        432
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.sessionId }}",
        "contextWindowLength": 15
      },
      "id": "623ece22-348f-47b8-b583-bb031d59aeff",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1552,
        432
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "You are a voice assistant for a knowledge base. Your talk is to give clear and crisp short responses to user's queries. You name is Natty. Keep your tone friendly. Use the available information and context for questions regarding the business. If you don't have an answer to a query, say you don't know.",
          "returnIntermediateSteps": true
        }
      },
      "id": "cb355ffa-d425-4a0c-8bfb-d4832defcb73",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        -1504,
        -64
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "=4eaebebd-6efe-4f24-ac09-c790bf88e28f",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "700cbaa6-1013-41a1-8f17-8ffa7556cd35",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1888,
        -64
      ],
      "webhookId": "4eaebebd-6efe-4f24-ac09-c790bf88e28f"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "sycpoc",
          "mode": "list",
          "cachedResultName": "sycpoc"
        },
        "options": {}
      },
      "id": "d785c28e-c2e5-439c-83bb-5e17b1f86cd7",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1,
      "position": [
        -1120,
        304
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        -1392,
        432
      ],
      "id": "7f945116-e89d-443b-b432-ff6d740c9928",
      "name": "SerpAPI"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1B_vEDWu0_OR9gzGVB4M36VE86RFqo0Oir2aVAVT-H2Q/",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": 1471096355,
          "mode": "list",
          "cachedResultName": "Q&A Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B_vEDWu0_OR9gzGVB4M36VE86RFqo0Oir2aVAVT-H2Q/edit#gid=1471096355"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionID": "={{ $('Webhook').item.json.body.sessionId }}",
            "website": "={{ $('Webhook').item.json.headers.origin }}",
            "country": "={{ $('Webhook').item.json.headers['cf-ipcountry'] }}",
            "text_in": "={{ $('OpenAI').item.json.text }}",
            "text_out": "={{ $('AI Agent').item.json.output }}",
            "audio_out": "={{ $json.id }}",
            "time": "{{time}}"
          },
          "matchingColumns": [
            "sessionID"
          ],
          "schema": [
            {
              "id": "sessionID",
              "displayName": "sessionID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "country",
              "displayName": "country",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "website",
              "displayName": "website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "audio_in",
              "displayName": "audio_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "audio_out",
              "displayName": "audio_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_in",
              "displayName": "text_in",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "text_out",
              "displayName": "text_out",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -896,
        -192
      ],
      "id": "9b4479ad-7405-4a0d-b564-91586cd62154",
      "name": "Google Sheets"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-21T00:18:37.725Z",
      "updatedAt": "2025-08-21T00:18:37.725Z",
      "role": "workflow:owner",
      "workflowId": "WYY5Tk9NkozcsAox",
      "projectId": "yxFGV0GmdwTIiKaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-21T00:21:31.000Z",
  "versionId": "f5170c8a-dad4-47ef-963e-619bcd0776cd"
}