workflows/Slack Chat + Audio.json
{
  "active": false,
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Call Agent Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dwnld_Audio1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Out1": {
      "main": [
        [
          {
            "node": "Call Agent Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [],
        [
          {
            "node": "Dwnld_Audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Agent Webhook": {
      "main": [
        [
          {
            "node": "Send reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-21T08:44:40.732Z",
  "id": "gzdZsPv5NsBaKJZG",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Slack Chat + Audio",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "d22498a4-e5fa-49fe-8149-d9fe537cf710",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        -800,
        400
      ],
      "webhookId": "c308dec7-655c-4b79-832e-991bd8ea891f",
      "typeVersion": 1.1,
      "disabled": true
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        0,
        160
      ],
      "id": "59943fea-ef73-4304-a60e-b801d90d0f58",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -180,
        160
      ],
      "id": "9fffdf2a-a202-4c82-bd99-8a994312ce36",
      "name": "Dwnld_Audio1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7VOxhQHkBloxHtkn",
          "name": "syc-n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9569b209-0827-4fcd-96e8-1091a15d68e0",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -100,
        400
      ],
      "id": "7501cff1-fcad-4501-bb50-a7ba88d51b28",
      "name": "Text Out1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "584c8c90-4cc3-43ea-aac0-d1762ba79d0d",
                    "leftValue": "{{ $json.files[0].mimetype }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb9fc3cb-1c38-4fc3-8ed0-896280711d84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ecab1e4-02c7-490e-82e5-f9f701140f00",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -420,
        220
      ],
      "id": "5558c44e-5619-4d89-890c-84eed879f2f4",
      "name": "Switch1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c23cad-6c72-464e-9947-b7f309c9b994",
              "leftValue": "={{ $json.user }}",
              "rightValue": "={{\"D089ZDPG57X\"}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -620,
        220
      ],
      "id": "62f8b23f-9634-4960-a3ee-cd8f43071a1a",
      "name": "Filter1"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{\"D089ZDPG57X\"}}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "id": "5e522ec3-c7e1-4ebd-874c-40ab4da57ea9",
      "name": "Send reply",
      "type": "n8n-nodes-base.slack",
      "position": [
        440,
        160
      ],
      "webhookId": "81d9777e-2ea1-4938-966a-e2fe491d0bba",
      "typeVersion": 2.2,
      "credentials": {
        "slackApi": {
          "id": "OjRpDB3gj10WwGnG",
          "name": "SYCn8n Bot Token"
        }
      }
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "={{ \"D089ZDPG57X\" }}",
          "mode": "id"
        },
        "options": {
          "resolveIds": false
        }
      },
      "id": "cea520e5-cea5-4930-aed2-cffd981f001f",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        -800,
        220
      ],
      "webhookId": "cc2d1f3f-c366-48a5-9285-b424f00504cf",
      "typeVersion": 1,
      "credentials": {
        "slackApi": {
          "id": "OjRpDB3gj10WwGnG",
          "name": "SYCn8n Bot Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://syc.app.n8n.cloud/webhook-test/USDB-agent",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "=SessionId",
              "value": "={{ $json.sessionId }}"
            },
            {
              "name": "ChatInput",
              "value": "={{ $json.chatInput }}"
            },
            {
              "name": "Action",
              "value": "={{ $json.action }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        160
      ],
      "id": "58c271df-2792-44c2-b1d0-b4a09f4af044",
      "name": "Call Agent Webhook"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -180,
        1400
      ],
      "id": "5c4b3e68-b4d4-4ebb-b5a6-929bb14d1d9b",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Slack Chat + Audio UI\n- This workflow processes text and audio inputs from Slack\n- Makes a call to the USDB Agent Workflow\n- Returns results back to Slack",
        "height": 660,
        "width": 1900
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -980,
        -60
      ],
      "id": "ff686d04-5348-4f20-b94d-3fcca588fb22",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 3,
  "updatedAt": "2025-03-25T06:41:18.000Z",
  "versionId": "ab0ebb8a-28c1-4e2f-92b4-128606aedc28"
}