workflows/SYC: Error Notification.json
{
  "active": false,
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Gmail1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-20T23:27:32.701Z",
  "id": "7pLlT86dJBD6ihae",
  "isArchived": false,
  "meta": null,
  "name": "SYC: Error Notification",
  "nodes": [
    {
      "parameters": {},
      "id": "0dffb1b7-428c-42db-87e8-a8e28c520a0d",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "sergio@sellyourcar.ai",
        "subject": "=🐜️ Workflow {{ $json.workflow.name }} failed.",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Error Notification</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f9;\n      color: #333;\n      margin: 0;\n      padding: 20px;\n    }\n    .container {\n      max-width: 600px;\n      background-color: white;\n      margin: 0 auto;\n      border-radius: 8px;\n      box-shadow: 0 4px 8px rgba(0,0,0,0.1);\n      padding: 20px;\n    }\n    h2 {\n      color: #d9534f;\n      border-bottom: 2px solid #d9534f;\n      padding-bottom: 10px;\n    }\n    .section {\n      margin-bottom: 20px;\n    }\n    .section h3 {\n      margin: 0 0 5px 0;\n      color: #5bc0de;\n      font-size: 16px;\n    }\n    .section p {\n      margin: 0;\n      padding: 8px;\n      background-color: #f8f9fa;\n      border-radius: 4px;\n      font-family: monospace;\n    }\n    .error-stack {\n      white-space: pre-wrap;\n      background-color: #f9f2f4;\n      color: #c7254e;\n      padding: 10px;\n      border-radius: 4px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #888;\n      margin-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>Error in Workflow Execution</h2>\n\n    <div class=\"section\">\n      <h3>Workflow:</h3>\n      <p>{{ $json.workflow.name }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Date|Time:</h3>\n      <p>{{ $now }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Last Node Executed:</h3>\n      <p>{{ $json.execution.lastNodeExecuted }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Error Detail:</h3>\n      <p>{{ $json.execution.error.message }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Error Stack:</h3>\n      <div class=\"error-stack\">{{ $json.execution.error.stack }}</div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Generated by n8n</p>\n    </div>\n  </div>\n</body>\n</html>\n🐜️",
        "options": {}
      },
      "id": "d0c88447-e287-4305-b89e-775d81668627",
      "name": "Gmail",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        928,
        304
      ],
      "webhookId": "782a851e-cf3d-4db2-bdb6-b0c16c3d25a2"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C07RD5A8AAD",
          "mode": "list",
          "cachedResultName": "syc-errors"
        },
        "text": "=🐜️ \n*Error in Workflow Execution Workflow:*\n{{ $json.workflow.name }}\n\n*Date|Time:*\n{{ $now.format('yyyy.LL.dd || hh:mm:ss a')}}\n\n*Last Node Executed:*\n{{ $json.execution.lastNodeExecuted }}\n\n*Error Detail:*\n{{ $json.execution.error.message }}\n\n*Error Stack:*\n{{ $json.execution.error.stack }}\n\n___\n*Execution ID:* {{ $json.execution.id }}\n*Execution URL:*\n{{ $json.execution.url }}\n___",
        "otherOptions": {}
      },
      "id": "bfcaab01-a8c8-4422-819d-328efab55f6c",
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        448,
        192
      ],
      "webhookId": "90c3bc78-753e-49c1-8832-090b0ddc77e0"
    },
    {
      "parameters": {
        "sendTo": "sergio@sellyourcar.ai",
        "subject": "=🐜️ Workflow {{ $json.workflow.name }} failed.",
        "message": "=<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <title>Error Notification</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f4f9;\n      color: #333;\n      margin: 0;\n      padding: 20px;\n    }\n    .container {\n      max-width: 600px;\n      background-color: white;\n      margin: 0 auto;\n      border-radius: 8px;\n      box-shadow: 0 4px 8px rgba(0,0,0,0.1);\n      padding: 20px;\n    }\n    h2 {\n      color: #d9534f;\n      border-bottom: 2px solid #d9534f;\n      padding-bottom: 10px;\n    }\n    .section {\n      margin-bottom: 20px;\n    }\n    .section h3 {\n      margin: 0 0 5px 0;\n      color: #5bc0de;\n      font-size: 16px;\n    }\n    .section p {\n      margin: 0;\n      padding: 8px;\n      background-color: #f8f9fa;\n      border-radius: 4px;\n      font-family: monospace;\n    }\n    .error-stack {\n      white-space: pre-wrap;\n      background-color: #f9f2f4;\n      color: #c7254e;\n      padding: 10px;\n      border-radius: 4px;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #888;\n      margin-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <h2>Error in Workflow Execution</h2>\n\n    <div class=\"section\">\n      <h3>Workflow:</h3>\n      <p>{{ $json.workflow.name }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Date|Time:</h3>\n      <p>{{ $now }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Last Node Executed:</h3>\n      <p>{{ $json.execution.lastNodeExecuted }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Error Detail:</h3>\n      <p>{{ $json.execution.error.message }}</p>\n    </div>\n\n    <div class=\"section\">\n      <h3>Error Stack:</h3>\n      <div class=\"error-stack\">{{ $json.execution.error.stack }}</div>\n    </div>\n    \n    <div class=\"footer\">\n      <p>Generated by n8n</p>\n    </div>\n  </div>\n</body>\n</html>\n🐜️",
        "options": {}
      },
      "id": "f203f9dc-4a6f-415f-8cf5-f7528e2666be",
      "name": "Gmail1",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        0
      ],
      "webhookId": "b39d7675-8f3a-4e0c-9495-92d18b436ca5"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-08-20T23:27:32.704Z",
      "updatedAt": "2025-08-20T23:27:32.704Z",
      "role": "workflow:owner",
      "workflowId": "7pLlT86dJBD6ihae",
      "projectId": "yxFGV0GmdwTIiKaD"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-20T23:27:32.000Z",
  "versionId": "dbddb711-7bdf-4b78-abea-b2d5b90a9697"
}