workflows/Tool: QuickChart.json
{
  "active": false,
  "connections": {
    "Plotting": {
      "main": [
        [
          {
            "node": "Base64 encoded plot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Base64 encoded plot": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Plotting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-11-16T04:09:27.990Z",
  "id": "Repoex7C6iSh95eW",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Tool: QuickChart",
  "nodes": [
    {
      "parameters": {
        "content": "## Quick Chart\n",
        "height": 228.95319251855472,
        "width": 1130.0275497638554,
        "color": 5
      },
      "id": "a1ceb8a9-d4e2-470a-b394-1bdd02425017",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    type:'bar',\n    data: {\n      labels:['Q1','Q2','Q3','Q4'],\n      datasets:[\n        {\n          label:'Revenue',\n          data:[100,200,300,400]\n        }\n      ]\n    }\n  }\n];"
      },
      "id": "15458f0c-7cea-4fad-8a96-c75b17059c87",
      "name": "Plotting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1240,
        360
      ]
    },
    {
      "parameters": {
        "url": "=https://quickchart.io/chart?chart={{ $json[\"plot\"] }}&backgroundColor=white&width=500&height=300&devicePixelRatio=1.0&format=png&version=2.9.3&encoding=base64",
        "options": {}
      },
      "id": "5bbd0e4b-baa3-4876-8774-4e4706b137fa",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1680,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "const plot = JSON.stringify($input.first().json);\n\nreturn {\n  plot: Buffer.from(plot).toString('base64')\n};"
      },
      "id": "81d2cc0a-50cc-4530-a325-abe9438ba4bc",
      "name": "Base64 encoded plot",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1460,
        360
      ]
    },
    {
      "parameters": {},
      "id": "13a0c700-ada0-4563-bcf0-a94520a8f5b9",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1040,
        360
      ]
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-21T06:36:16.000Z",
  "versionId": "16d228e5-aae1-49da-ba32-4f750617db86"
}