workflows/Tool: URL got Crawl.json
{
  "active": false,
  "connections": {
    "FireCrawl": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Input Trigger": {
      "main": [
        [
          {
            "node": "FireCrawl",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-01-10T19:34:40.514Z",
  "id": "32ZBcVUt1ZS9uHc3",
  "meta": {
    "templateId": "2713"
  },
  "name": "Tool: URL got Crawl",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/crawl",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-07068f535c7b4026b5620d9f0ba87dc4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\"URL\": \"https://www.uspto.gov/\",\n  \"limit\": 100,\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\",\n      \"html\"\n    ]\n  }\n}",
        "options": {}
      },
      "id": "f256ed59-ba61-4912-9a75-4e7703547de5",
      "name": "FireCrawl",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        640,
        480
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1af62ef9-7385-411a-8aba-e4087f09c3a9",
              "name": "response",
              "type": "string",
              "value": "={{ $json.data.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a28bdbe6-fa59-4bf1-b0ab-c34ebb10cf0f",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "position": [
        840,
        480
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "## Send URL got Crawl\nThis can be reused by Ai Agents and any Workspace to crawl a site. All that Workspace has to do is send a request:\n\n```json\n {\n    \"url\": \"Some URL to Get\"\n  }\n```",
        "height": 200,
        "width": 620
      },
      "id": "fcd26213-038a-453f-80e5-a3936e4c2d06",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        440,
        480
      ],
      "id": "221e4162-e1fd-43bf-83bc-0d9b52929e6b",
      "name": "Workflow Input Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-04-19T22:20:41.000Z",
  "versionId": "1c4a74ef-2f24-4a3e-80f4-cb332d7961ba"
}