workflows/USDB: SQL Agent (MySQL).json
{
  "active": false,
  "connections": {
    "USDB_Agent_tool": {
      "main": [
        []
      ]
    },
    "OpenRouter Chat": {
      "ai_languageModel": [
        []
      ]
    },
    "Anthropic Chat": {
      "ai_languageModel": [
        []
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "USDB_Agent_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat": {
      "ai_languageModel": [
        []
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "Dwnld_Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dwnld_Audio": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "USDB_Agent_tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Out": {
      "main": [
        [
          {
            "node": "USDB_Agent_tool",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SQL query": {
      "main": [
        [
          {
            "node": "Query Validation2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if query exists": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format query results": {
      "main": [
        []
      ]
    },
    "Combine query result and chat answer": {
      "main": [
        [
          {
            "node": "Prepare final output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        []
      ]
    },
    "LIST ALL tables": {
      "main": [
        [
          {
            "node": "EXTRACT Schemas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "EXTRACT Schemas": {
      "main": [
        []
      ]
    },
    "USDB AI Agent": {
      "main": [
        []
      ]
    },
    "Prepare final output": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Test Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dwnld_Audio1": {
      "main": [
        [
          {
            "node": "OpenAI2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text Out1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Filter1": {
      "main": [
        [
          {
            "node": "Switch2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filter1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        []
      ]
    },
    "Switch2": {
      "main": [
        [],
        [
          {
            "node": "Dwnld_Audio1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Text Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start_Time": {
      "main": [
        [
          {
            "node": "USDB Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results Formatter": {
      "main": [
        []
      ]
    },
    "Query Templates Matcher": {
      "main": [
        [
          {
            "node": "Template or LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Template or LLM": {
      "main": [
        [
          {
            "node": "SQL template and AI queries",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Stop_Time": {
      "main": [
        [
          {
            "node": "Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Validation2": {
      "main": [
        []
      ]
    },
    "SQL template and AI queries": {
      "main": [
        []
      ]
    },
    "Calculate Delta": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store (Retrieval)": {
      "ai_vectorStore": [
        [
          {
            "node": "vector_store_tool",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Download File From Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Updated": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive File Created": {
      "main": [
        [
          {
            "node": "Download File From Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft SQL": {
      "ai_tool": [
        []
      ]
    },
    "LIST TABLES": {
      "main": [
        [
          {
            "node": "SCHEMAS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "date_time_tool": {
      "ai_tool": [
        []
      ]
    },
    "OpenAI Chat ": {
      "ai_languageModel": [
        [
          {
            "node": "vector_store_tool",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "Results Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "vector_store_tool": {
      "ai_tool": [
        []
      ]
    },
    "Chat History": {
      "ai_memory": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MySQL_execute": {
      "ai_tool": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySQL_schema": {
      "ai_tool": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MySQL_definition": {
      "ai_tool": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "USDB Agent": {
      "main": [
        [
          {
            "node": "Stop_Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store (Retrieval)",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "USDB Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Dealers",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Group",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Test Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Metadata": {
      "main": [
        [
          {
            "node": "Start_Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tests": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dealers": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Tests",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Results": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group": {
      "main": [
        [
          {
            "node": "Dealers1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dealers1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-22T15:10:04.523Z",
  "id": "1WWzT5PCr5kXtUSu",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "USDB: SQL Agent (MySQL)",
  "nodes": [
    {
      "parameters": {
        "agent": "sqlAgent",
        "dataSource": "mysql",
        "promptType": "define",
        "text": "={{ $('Switch').item.json.chatInput }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        120,
        1460
      ],
      "id": "fde23782-b114-4f36-ad97-978028c4d418",
      "name": "USDB_Agent_tool",
      "credentials": {
        "mySql": {
          "id": "oUon8ECO0bjjL9bn",
          "name": "AISandbox"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "01-ai/yi-large",
        "options": {
          "maxTokens": -1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        420,
        2120
      ],
      "id": "0109caa3-89bb-4125-88cb-91312fa5490b",
      "name": "OpenRouter Chat",
      "credentials": {
        "openRouterApi": {
          "id": "ru25OpA66L1ExedM",
          "name": "OpenRouter"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokensToSample": 8192
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.2,
      "position": [
        -2040,
        2140
      ],
      "id": "1345540d-b91f-424f-a097-b66ad40da1ed",
      "name": "Anthropic Chat",
      "credentials": {
        "anthropicApi": {
          "id": "dcLqo62duKhDxGrw",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "model": "o3-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [
        80,
        1640
      ],
      "id": "63d5af8c-4da8-4d9a-b0ae-7d9d459c45bf",
      "name": "OpenAI Chat",
      "credentials": {
        "openAiApi": {
          "id": "D09ujHRZlS7g66tq",
          "name": "USDB"
        }
      }
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -2200,
        2140
      ],
      "id": "5bb52e94-506d-47f8-b016-f8b442992f88",
      "name": "Groq Chat",
      "credentials": {
        "groqApi": {
          "id": "8s1PPRvjrOXCDNtL",
          "name": "n8n_AISandbox"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c23cad-6c72-464e-9947-b7f309c9b994",
              "leftValue": "={{ $json.user }}",
              "rightValue": "={{\"U089MNN54NT\"}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -860,
        1460
      ],
      "id": "493c8df1-3086-4eb1-bfea-8e340751950a",
      "name": "Filter"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "584c8c90-4cc3-43ea-aac0-d1762ba79d0d",
                    "leftValue": "{{ $json.files[0].mimetype }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb9fc3cb-1c38-4fc3-8ed0-896280711d84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ecab1e4-02c7-490e-82e5-f9f701140f00",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -640,
        1460
      ],
      "id": "257e55c9-eaba-4ed2-ba31-c02cb9ab317d",
      "name": "Switch"
    },
    {
      "parameters": {
        "content": "# SQL AGENT\n\n## Relevant notes \n\nWhen the slack triggers, the I do the following:\n- filter any messages coming from the Slack Bot to avoid creating an infinite loop. The bot user ID I get from the last nodes where n8n responds back to slack\n- check if the message is audio or text.\n- if it is an audio, I need to use the slack credentials based on OAUTH (not API token) to be able to download the audio file.",
        "height": 480,
        "width": 2960,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2400,
        1320
      ],
      "id": "89f2e639-9096-49f1-909e-7ac75cfc1a25",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9569b209-0827-4fcd-96e8-1091a15d68e0",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -280,
        1560
      ],
      "id": "5a13660c-78dc-4882-9e99-ce8fd71438ae",
      "name": "Text Out"
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -380,
        1400
      ],
      "id": "f8e214be-2832-45a3-8f33-c3a37317d165",
      "name": "Dwnld_Audio",
      "credentials": {
        "slackOAuth2Api": {
          "id": "HQneTCU7vTozIws1",
          "name": "Slack Oauth2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -180,
        1400
      ],
      "id": "97e9ede6-e546-415a-8ae0-00995090c209",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "D09ujHRZlS7g66tq",
          "name": "USDB"
        }
      }
    },
    {
      "parameters": {},
      "id": "c7d12bf9-fe6b-4e40-82a9-c90d9a95241e",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        -2680,
        2740
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ebbe194a-4b8b-44c9-ac19-03cf69d353bf",
              "name": "query",
              "type": "string",
              "value": "={{ ($json.output.match(/SELECT[\\s\\S]*?;/i) || [])[0] || \"\" }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "e54f5989-7ff4-4260-97a2-94d4b9cce1c3",
      "name": "Extract SQL query",
      "type": "n8n-nodes-base.set",
      "position": [
        -3500,
        2680
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "2963d04d-9d79-49f9-b52a-dc8732aca781",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              },
              "leftValue": "={{ $json.query }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "8bb8e6d1-1c7c-4c31-999b-7afc12d088e4",
      "name": "Check if query exists",
      "type": "n8n-nodes-base.if",
      "position": [
        -3140,
        2680
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f944d21f-6aac-4842-8926-4108d6cad4bf",
              "name": "sqloutput",
              "type": "string",
              "value": "={{ Object.keys($jmespath($input.all(),'[].json')[0]).join(' | ') }} \n{{ ($jmespath($input.all(),'[].json')).map(obj => Object.values(obj).join(' | ')).join('\\n') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "999ef4e9-49a4-4d72-b8f9-45b21386d7b8",
      "name": "Format query results",
      "type": "n8n-nodes-base.set",
      "position": [
        -3040,
        3060
      ],
      "executeOnce": true,
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aa55e186-1535-4923-aee4-e088ca69575b",
              "name": "output",
              "type": "string",
              "value": "=Question:\n{{ $('When chat message received').item.json.chatInput }}\n\nSQL request:\n{{ $json.query }}\n\nSQL result:\n```markdown\n{{ $json.textOutput }}\n```"
            }
          ]
        },
        "options": {}
      },
      "id": "4c985308-1157-498f-a98a-3c025c669e9b",
      "name": "Prepare final output",
      "type": "n8n-nodes-base.set",
      "position": [
        -3300,
        3060
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "e0a676d7-c5fd-46a0-b6e1-e7ca891db02b",
      "name": "Combine query result and chat answer",
      "type": "n8n-nodes-base.merge",
      "position": [
        -3500,
        3060
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://38.107.232.33:4000/mssql/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {
              "followRedirects": true,
              "maxRedirects": 21
            }
          },
          "response": {}
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2680,
        2600
      ],
      "id": "a27e8505-32be-4939-8669-58890b95da9d",
      "name": "HTTP Request",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://38.107.232.33:4000/mssql/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=SELECT name\nFROM sys.tables"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 1000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3500,
        2220
      ],
      "id": "4ec99c42-fa6e-4314-84d1-dd15efeb6256",
      "name": "LIST ALL tables"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://38.107.232.33:4000/mssql/execute",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "=EXEC sp_columns '{{ $json.name }}';"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          },
          "timeout": 1000000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -3300,
        2220
      ],
      "id": "2a232231-f33b-47fe-b37f-8a3783d6c826",
      "name": "EXTRACT Schemas",
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=User Message is: {{ $('When chat message received').item.json.chatInput }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are a world-class MySQL Developer. You are capable of fulfilling different requests from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. Additionally, you can use tools to perform tasks as required\n\n# Task\nI want you to read a user query in natural language, then convert it to an accurate MySQL SQL query with the correct syntax that retrieves the relevant data from a USDB dataset. Ensure the queries are aligned with user intent, structured correctly, and safe to execute.\n\n# Context\nYou are working with a dataset containing USDB vehicle data. You will find information about tables and schema below.\n//You can get information about the tables and their schema, using the vector_store_tool.\n\n## **Table Overview:**\nUsers may ask various analytical questions related to listings, dealers, VINs, etc. Your role is to accurately interpret the user's intent, convert the query into MySQL using the provided tool, execute it, and return the relevant insights.\n\n\n# **Detailed Instructions:**\n1. **Understand User Intent**  \n   - Analyze the user's query to determine the required dataset.\n   - Identify filters, date ranges, groupings, and aggregation requirements.\n   - Enrich the user's query. \n\n2. **SQL Query Generation**  \n   - Convert the enriched natural language query into a SQL query.\n   - Pass **only the enriched natural language query and relevant columns & filtering** to the tool to generate the query dynamically.\n   - Ensure accuracy in column selection and handling of nested JSON-like fields.\n\n3. **Present Results**: Deliver the query results to the user in a concise and easy-to-understand format. Avoid presenting SQL code in your final response.\n\n4. **Handle Missing Data**: If the requested data doesn't exist or is unavailable, inform the user politely and suggest any alternative queries if possible.\n\n## **Output Requirements**\n- **Concise and Clear Summaries** – Only present the interpreted query results, without exposing SQL code.\n- **Polite Handling of Missing Data** – If no relevant data is found, provide a friendly response with context.\n- **No SQL Code in Responses** – Avoid sharing raw SQL queries unless explicitly requested.\n\n\n# Notes\n- You must only use the schema above to correctly identify the column names.\n- If the column name is not clear from user's query, then ask them to clarify.\n- keep the response concise.\n- If the response is not accurate, ask user to clarify.\n- Always call the database query tool before answering, never assume the answer without having the data\n- The Current Date = {{ $now }}\n\n////////////////////////////////////////////////\n# Tables\n[{\n\"Tables_in_usdb\": \n\"import_stats\"\n},\n{\n\"Tables_in_usdb\": \n\"listings\"\n},\n{\n\"Tables_in_usdb\": \n\"listings_longlat\"\n},\n{\n\"Tables_in_usdb\": \n\"listings_national\"\n},\n{\n\"Tables_in_usdb\": \n\"listings_region\"\n},\n{\n\"Tables_in_usdb\": \n\"spec_makes\"\n},\n{\n\"Tables_in_usdb\": \n\"spec_models\"\n},\n{\n\"Tables_in_usdb\": \n\"specs\"\n},\n{\n\"Tables_in_usdb\": \n\"squishvin\"\n},\n{\n\"Tables_in_usdb\": \n\"vins\"\n}\n]\n\n////////////////////////////////////////////////\n#Schemas\n[{\n\"Field\": \n\"DEALERS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"CreatedOn\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"SellerId\",\n\"Type\": \n\"varchar(500)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"SellerType\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Name\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Address\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"City\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"StateCode\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"ZipCode\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Latitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Longitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Websites\",\n\"Type\": \n\"varchar(1000)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"RootDomains\",\n\"Type\": \n\"varchar(1000)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"Phones\",\n\"Type\": \n\"varchar(1000)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"dealers\"\n},\n{\n\"Field\": \n\"HISTORY_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"ChangeOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"ChangeType\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"CreatedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"FileNameCreated\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"FileNameLast\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"VinAuditId\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"DEALERS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SalesDateStart\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SalesDateEnd\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SalesDaysOld\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"Vin\",\n\"Type\": \n\"varchar(50)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SPEC_MODELS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"SpecTrim\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"StateCode\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"Longitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"Latitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"Mileage\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"ListingPrice\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"PortalUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"ImageUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"history\"\n},\n{\n\"Field\": \n\"IMPORT_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"ListingOrHistory\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"id\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vin\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"date_min\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"date_max\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"days_total\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"listing_type\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"listing_price\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_mileage\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_id\",\n\"Type\": \n\"varchar(140)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_year\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_make\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_model\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_trim\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_style\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_category\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_doors\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_fuel_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_engine\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_transmission_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_specs_drivetrain\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_id\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_name\",\n\"Type\": \n\"varchar(125)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_address\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_city\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_state\",\n\"Type\": \n\"varchar(2)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_zip\",\n\"Type\": \n\"varchar(5)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_country\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_latitude\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_longitude\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_websites\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_domains\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_phones\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"seller_type\",\n\"Type\": \n\"varchar(15)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"vehicle_dealer_attribution_level\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"portal_urls\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"listing_imgset_url\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import\"\n},\n{\n\"Field\": \n\"IMPORT_HISTORY_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"ListingOrHistory\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"id\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vin\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"date_min\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"date_max\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"days_total\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"listing_type\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"listing_price\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_mileage\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_id\",\n\"Type\": \n\"varchar(140)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_year\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_make\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_model\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_trim\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_style\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_category\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_doors\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_fuel_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_engine\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_transmission_type\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_specs_drivetrain\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_id\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_name\",\n\"Type\": \n\"varchar(125)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_address\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_city\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_state\",\n\"Type\": \n\"varchar(2)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_zip\",\n\"Type\": \n\"varchar(5)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_country\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_latitude\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_longitude\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_websites\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_domains\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_phones\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"seller_type\",\n\"Type\": \n\"varchar(15)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"vehicle_dealer_attribution_level\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"portal_urls\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"listing_imgset_url\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_history\"\n},\n{\n\"Field\": \n\"IMPORT_STATS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"CreatedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"FileName\",\n\"Type\": \n\"varchar(255)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"ListingOrHistory\",\n\"Type\": \n\"varchar(20)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsDownloaded\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"DownloadedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsUnzipped\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"UnzippedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsSplitted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"SplittedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsImported\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"ImportedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"LastProcessName\",\n\"Type\": \n\"varchar(50)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"IsProcessed\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"ProcessedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"import_stats\"\n},\n{\n\"Field\": \n\"LISTINGS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"VinAuditId\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"DEALERS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SalesDate\",\n\"Type\": \n\"date\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SalesDaysOld\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"Vin\",\n\"Type\": \n\"varchar(50)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SPEC_MODELS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"SpecTrim\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"StateCode\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"Longitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"Latitude\",\n\"Type\": \n\"double\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"Mileage\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"ListingPrice\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"PortalUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"ImageUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings\"\n},\n{\n\"Field\": \n\"LISTINGS_LONGLAT_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"SalesDaysOld\",\n\"Type\": \n\"int\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"Longitude\",\n\"Type\": \n\"decimal(6,2)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"Latitude\",\n\"Type\": \n\"decimal(6,2)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"NoRecords\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_longlat\"\n},\n{\n\"Field\": \n\"LISTINGS_NATIONAL_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"SalesDaysOld\",\n\"Type\": \n\"int\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"int\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"NoRecords\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_national\"\n},\n{\n\"Field\": \n\"LISTINGS_REGION_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SalesDaysOld\",\n\"Type\": \n\"int\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"StateCode\",\n\"Type\": \n\"char(2)\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"NoRecords\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"listings_region\"\n},\n{\n\"Field\": \n\"SPEC_MAKES_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_makes\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_makes\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_makes\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_makes\"\n},\n{\n\"Field\": \n\"MakeName\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_makes\"\n},\n{\n\"Field\": \n\"SPEC_MODELS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"SPEC_MAKES_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"MakeName\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"ModelName\",\n\"Type\": \n\"varchar(300)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"NoOfVins\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"NoOfListings\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"IsConsidered\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"spec_models\"\n},\n{\n\"Field\": \n\"SPECS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SpecTrim\",\n\"Type\": \n\"varchar(200)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"specs\"\n},\n{\n\"Field\": \n\"SQUISHVIN_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"CreatedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"squishvin\"\n},\n{\n\"Field\": \n\"VINS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"NO\",\n\"Key\": \n\"PRI\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"IsDeleted\",\n\"Type\": \n\"tinyint(1)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"ChangedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"TOKENS_ID_ChangedBy\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"CreatedOn\",\n\"Type\": \n\"datetime(6)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SEGMENTS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SPEC_MODELS_ID\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"Vin\",\n\"Type\": \n\"varchar(50)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"MUL\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"VinSquish\",\n\"Type\": \n\"varchar(10)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"Mileage\",\n\"Type\": \n\"int\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"VehicleSpecsId\",\n\"Type\": \n\"varchar(300)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecYear\",\n\"Type\": \n\"bigint\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecMake\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecModel\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecTrim\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecStyle\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecType\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecCategory\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecDoors\",\n\"Type\": \n\"varchar(100)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecFuelType\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecEngine\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecDrivetrain\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"SpecTransmission\",\n\"Type\": \n\"varchar(250)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"ListingPrice\",\n\"Type\": \n\"decimal(19,4)\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"PortalUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n},\n{\n\"Field\": \n\"ImageUrl\",\n\"Type\": \n\"longtext\",\n\"Null\": \n\"YES\",\n\"Key\": \n\"\",\n\"Default\": \nnull,\n\"Extra\": \n\"\",\n\"table\": \n\"vins\"\n}]",
          "maxIterations": 10,
          "returnIntermediateSteps": "={{ true }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.8,
      "position": [
        -1140,
        2120
      ],
      "id": "225bfbd6-1716-449a-aa6a-086380a4de17",
      "name": "USDB AI Agent"
    },
    {
      "parameters": {
        "content": "## On every chat message:\n\n* The workflow gets the data from the local schema file and extracts it as a JSON object. \n* This way, we achieve two important improvements:\n  * faster processing time as we don't need to fetch the schema for each table from a slow remote database\n  * the Agent will know database structure without seeing the actual data\n* DB schema is then converted into a long string, JSON fields from the Chat Trigger are added before they are entered into the Agent node.\n",
        "height": 1509,
        "width": 2763,
        "color": 6
      },
      "id": "56fb5e9a-f743-424d-a7d4-8acecd73c270",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1140,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "",
        "height": 80,
        "width": 2965
      },
      "id": "317c9806-5933-4cd6-89a7-b7a3def12d4a",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        1860
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -320,
        2600
      ],
      "id": "075de073-413f-489b-b6f7-cf4d72c74070",
      "name": "When chat message received",
      "webhookId": "bd5f83a8-2517-47f7-aa87-7443c38dc3d9"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "binaryPropertyName": "audio",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -1560,
        2520
      ],
      "id": "2ed598ad-9407-4a38-8530-180f4a862abb",
      "name": "OpenAI2",
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.files[0].url_private_download }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "slackOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "audio"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1720,
        2520
      ],
      "id": "db95b33f-ea51-40f6-8701-d304d27c6061",
      "name": "Dwnld_Audio1",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7VOxhQHkBloxHtkn",
          "name": "syc-n8n"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9569b209-0827-4fcd-96e8-1091a15d68e0",
              "name": "text",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1640,
        2740
      ],
      "id": "07c28bb9-dfea-4c42-a9b5-8e22c1fce0a0",
      "name": "Text Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "61c23cad-6c72-464e-9947-b7f309c9b994",
              "leftValue": "={{ $json.user }}",
              "rightValue": "={{\"D089ZDPG57X\"}}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -2120,
        2660
      ],
      "id": "083ac6a5-16d0-425c-8920-7dc558a6860e",
      "name": "Filter1"
    },
    {
      "parameters": {
        "trigger": [
          "message"
        ],
        "channelId": {
          "__rl": true,
          "value": "={{ \"D089ZDPG57X\" }}",
          "mode": "id"
        },
        "options": {
          "resolveIds": false
        }
      },
      "id": "c3c7176e-bd0b-4165-8c00-ffefb4b59465",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "position": [
        -2300,
        2660
      ],
      "webhookId": "71d5b8bd-a542-4752-a471-4b08ec02b4dc",
      "typeVersion": 1,
      "credentials": {
        "slackApi": {
          "id": "OjRpDB3gj10WwGnG",
          "name": "SYCn8n Bot Token"
        }
      },
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        -1380,
        2660
      ],
      "id": "6e15d9ea-b8e1-4daf-8344-c3624ed4a420",
      "name": "Merge"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "584c8c90-4cc3-43ea-aac0-d1762ba79d0d",
                    "leftValue": "{{ $json.files[0].mimetype }}",
                    "rightValue": "image/jpeg",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "audio/mp4",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "bb9fc3cb-1c38-4fc3-8ed0-896280711d84"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1ecab1e4-02c7-490e-82e5-f9f701140f00",
                    "leftValue": "={{ $json.files[0].mimetype }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notExists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -1920,
        2660
      ],
      "id": "fb5b9d63-9954-4ca5-840e-f38e93169492",
      "name": "Switch2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82fed747-df46-45df-abaa-0629131fe5db",
              "name": "Start_time",
              "value": "={{ $now }}",
              "type": "string"
            },
            {
              "id": "9e71b784-37e4-4237-9f58-2aaa0f476208",
              "name": "sessionId",
              "value": "={{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "01ad41c4-0e03-45dd-8018-820a727f4e2b",
              "name": "action",
              "value": "={{ $json.action }}",
              "type": "string"
            },
            {
              "id": "1d6216df-fcb4-4c48-bb33-fecd6d93f53f",
              "name": "chatInput",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            },
            {
              "id": "c2457ca6-ebfb-4298-a73e-156d790aa8b3",
              "name": "",
              "value": "={{ $json.Name.replace(\"X dealer\", $json.dealerName) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        2840
      ],
      "id": "b15aadb2-49b9-4673-ac50-bcd038144f25",
      "name": "Start_Time"
    },
    {
      "parameters": {
        "content": "",
        "height": 626,
        "width": 1245
      },
      "id": "2524ba6f-d914-42d5-8cf5-7abbc3beca48",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        2320
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# Role\nYou are a world-class MySQL Developer. You are capable of fulfilling different requests from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. Additionally, you can use tools to perform tasks as required.\n\n\n# Task\nI want you to read a user query in natural language, then convert it to an accurate MySQL query with the correct syntax that retrieves the relevant data from a USDB dataset. Ensure the queries are aligned with user intent, structured correctly, and safe to execute.\n\n# Context\nYou are working with a dataset containing USDB vehicle data. You can get information about the tables and their schema using the vector_store_tool. \n\n\n## **Table Overview:**\nUsers may ask various analytical questions related to listings, dealers, VINs, etc. Your role is to accurately interpret the user's intent, convert the query into MySQL using the provided tool, execute it, and return the relevant insights.\n\n# Instructions\nGet the user request and translate human natural language and translate it into MySQL queries to execute against the USDB. You will consider information about the USDB tables and their schemas, when formulating the MySQL queries. \n\n# Goals\nYour goal is to be a useful expert assistant that can aid the user in exploring the USDB by asking questions in natural language and developing insights or gathering complex information while asking written or spoken questions. \n\n\n# Requirements:\n- Ensure the SQL query is syntactically correct.\n- Do not include any destructive operations (e.g., DROP, DELETE).\n- always use LIKE for filters never explicit names. \n- Dont Limit the data\n- The Current Date = {{ $now }}\n- ONLY RETURN THE SQL QUERY AND NOTHING ELSE\n\n# Rules\nWhen generating SQL (MySQL) queries:\n1. Always write defensive code that handles NULL values and multiple/empty results\n2. Use appropriate table hints like WITH (NOLOCK) for read operations\n3. For subqueries that might return multiple rows, use IN instead of = or use TOP with ORDER BY\n4. When dealing with dates, use CONVERT or explicit date formats\n5. Include appropriate schema prefixes (dbo.)\n6. Write queries that will not cause timeouts on large tables\n7. Avoid constructs known to cause \"Internal server error\" issues in MySQL\n\n# Instructions\nWhen generating SQL (MySQL) queries:\n1. Check the vector store first using the Vector_Store_Tool\n2. Look for table and table schema information to inform the prompt better\n3. Use the date_time_tool to inform the prompt better regarding references to time\n4. Once the query is crafted, execute the query to get the response to the query\n\n#Tools\n<tools>\n<MySQL_tool>\nUse this tool to execute SQL queries against the USDB. After properly designing the query with the relevant information use it to determine, with a high level of accuracy, the correct answer from the USDB. Take into consideration the USDB Table Schema while formulating the MySQL queries.\n</MySQL_tool>\n\n<vector_store_tool>\nUse this tool to retrieve relevant information from the associated vector store and use it to determine, with a high level of accuracy, the best query pattern to extract the correct answer from the USDB. The tool will help you retrieve known shapes for SQL queries. If the shape of the query cannot be found in the provided vector store, continue the thought process to craft the proper query.\n</vector_store_tool>\n\n<date_time_tool>\nUse this tool when the user asks about:\n- Current date or time\n- Today's date\n- What day of the week it is\n- How many days into the month/year we are\n- Month-to-date or year-to-date timeframes\n- Comparisons to last month or last year\n- Business reporting periods\n- Any time-related calculations\n\n### Example trigger phrases:\n- \"What's today's date?\"\n- \"What day of the week is it?\"\n- \"How many days are we into the month?\"\n- \"What's the month-to-date period?\"\n- \"What's the date range for year-to-date?\"\n- \"How does this month compare to last month?\"\n- \"What's the current month and quarter?\"\n\n### What this tool returns\nThis tool provides comprehensive date and time information including:\n- Current timestamp, date, and time\n- Day, month, year information\n- Week, month, quarter, and year timeframes \n- MTD (Month-to-Date) and YTD (Year-to-Date) periods\n- MOM (Month-over-Month) and YOY (Year-over-Year) comparison dates\n\n### How to use the response\nThe tool returns a JSON object with nested properties. To access specific information:\n- For current date: response.current.date\n- For MTD: response.timeframes.mtd\n- For YOY comparisons: response.comparisons.yoy\n\n### Business context\nThis tool is especially valuable for:\n- Financial reporting periods\n- Sales comparisons across time periods\n- Business analytics and KPI tracking\n- Scheduling and planning activities\n\n### When NOT to use this tool\nDon't use this tool for:\n- Historical dates (dates in the past) that aren't relative to today\n- Future date calculations beyond simple relative periods\n- Complex calendar manipulations\n- Timezone conversions requiring specific rules\n</date_time_tool>\n</tools>\n\n<userStyle>\n  Normal\n</userStyle>\n\n\n# Examples\n​ <examples>  \n  <example>\n    Natural Language Query: \"Count how many rows in the entire dataset\"\n    SQL Query:\n    SELECT \n      (SELECT COUNT_BIG(*) FROM dbo.LISTINGS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.DEALERS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.VINS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.HISTORY WITH (NOLOCK)) AS total_rows;\n  </example>\n  \n  <example>\n    Natural Language Query: \"What are the top 10 most frequent vehicle makes?\"\n    SQL Query:\n    SELECT TOP 10 WITH TIES\n      SpecMake AS car_make,\n      COUNT_BIG(*) AS occurrences\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE SpecMake IS NOT NULL\n    GROUP BY SpecMake\n    ORDER BY occurrences DESC;\n  </example>\n  \n  <example>\n    Natural Language Query: \"Find all CARMAX sales in 2024\"\n    SQL Query:\n    SELECT COUNT_BIG(*) AS total_sales \n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE DEALERS_ID IN (SELECT DEALERS_ID FROM dbo.DEALERS WITH (NOLOCK) WHERE Name = 'CARMAX') \n      AND SalesDate IS NOT NULL\n      AND SalesDate >= CONVERT(DATE, '2024-01-01') \n      AND SalesDate < CONVERT(DATE, '2025-01-01');\n  </example>\n  \n  <example>\n    Natural Language Query: \"Which states have the most car listings?\"\n    SQL Query:\n    SELECT TOP 10\n      StateCode,\n      COUNT_BIG(*) AS listing_count\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE StateCode IS NOT NULL\n    GROUP BY StateCode\n    ORDER BY listing_count DESC;\n  </example>\n  \n  <example>\n    Natural Language Query: \"What's the average price of Toyota cars by model?\"\n    SQL Query:\n    SELECT \n      SpecModel,\n      AVG(CAST(ListingPrice AS DECIMAL(10,2))) AS avg_price,\n      COUNT_BIG(*) AS sample_size\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE SpecMake = 'Toyota' \n      AND SpecModel IS NOT NULL\n      AND ListingPrice IS NOT NULL\n      AND ListingPrice > 0\n    GROUP BY SpecModel\n    HAVING COUNT_BIG(*) > 5\n    ORDER BY avg_price DESC;\n  </example>\n</examples>\n\n#Additional context\n - date time\n - context about the business\n\n\nUSER'S INPUT\n--------------------\nHere is the user's input (remember to respond with a markdown code snippet of a json blob with a single action, and NOTHING else. Make sure you format markdown tables properly.):\n{{ $('When chat message received').item.json.chatInput }}\n",
        "height": 2689,
        "width": 583,
        "color": 5
      },
      "id": "8b4f537a-1cbe-40cd-b26b-3c374bbb6c60",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1820,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=EXEC sp_columns '{{ $json.name }}';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -180,
        2120
      ],
      "id": "30631fdd-4779-4bf4-afda-91891b0fee70",
      "name": "Microsoft SQL1",
      "credentials": {
        "microsoftSql": {
          "id": "BbAMiDytg4JU7Jas",
          "name": "MsSQL 38.107.232.33 "
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the items from the previous node (MySQL node)\nconst queryResults = items.map(item => item.json);\n\n// Check if there are any results\nif (queryResults.length === 0) {\n  return [{ json: { textOutput: \"No results found for your query.\" } }];\n}\n\n// Extract column names (headers)\nconst headers = Object.keys(queryResults[0]);\n\n// Initialize an array to hold formatted lines\nlet lines = [];\n\n// Create a header row\nlines.push(headers.join(' | '));\nlines.push(headers.map(() => '---').join(' | '));\n\n// Detect if this is a comparison query (contains percentage or difference columns)\nconst isComparisonQuery = headers.some(h => \n  h.includes('percent') || h.includes('diff') || h.includes('change'));\n\n// Iterate over each result item\nqueryResults.forEach(item => {\n  const row = headers.map(header => {\n    const value = item[header];\n    \n    // Format numbers with thousands separators\n    if (typeof value === 'number' && !isNaN(value)) {\n      // Format percentages\n      if (header.includes('percent') || header.includes('change')) {\n        return `${(value * 100).toFixed(2)}%`;\n      }\n      // Format currency\n      else if (header.includes('price') || header.includes('cost')) {\n        return `$${value.toLocaleString('en-US', {minimumFractionDigits: 2, maximumFractionDigits: 2})}`;\n      }\n      // Format regular numbers\n      else if (value > 1000) {\n        return value.toLocaleString('en-US');\n      }\n    }\n    \n    return value;\n  });\n  \n  lines.push(row.join(' | '));\n});\n\n// Join all lines into a single string with line breaks\nconst textOutput = lines.join('\\n');\n\n// Return the formatted text as a new field\nreturn [{ json: { textOutput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3320,
        2880
      ],
      "id": "c676cad9-bdbb-4e5c-add2-489fc0c2baab",
      "name": "Results Formatter"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Template matching function for common dealer queries\nconst templateMatchers = [\n  {\n    // Price adjustment queries\n    pattern: /(how many|how often|number of) times did (.*?) adjust prices? (before selling)? .*?(last month|YTD|last year|last week|last 90 days)/i,\n    templateName: 'price_adjustments',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[2],\n      time_period: matches[4]\n    })\n  },\n  {\n    // Inventory turn rate queries\n    pattern: /(what was|how was) (.*?)('s)? inventory turn rate .*?(last month|YTD|last year|last week|last 90 days)/i,\n    templateName: 'inventory_turn_rate',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[2],\n      time_period: matches[4]\n    })\n  },\n  {\n    // Inventory turn rate comparison\n    pattern: /how did (.*?)('s)? inventory turn rate compare to (brand|non-brand) dealers (last month|YTD|last year|last week|last 90 days)/i,\n    templateName: 'inventory_turn_rate_comparison',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[1],\n      comparison_group: matches[3],\n      time_period: matches[4]\n    })\n  },\n  {\n    // Sales count queries\n    pattern: /how many cars did (.*?) sell (last day|last week|last month|MTD|YTD|MOM|YOY|last 90 days|last 1Y|last 3Y|last 5Y)/i,\n    templateName: 'sales_count',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[1],\n      time_period: matches[2]\n    })\n  },\n  {\n    // Sales velocity queries\n    pattern: /how (fast|quickly) did (.*?) sell (cars|vehicles) (last week|last month|MTD|MOM|YTD|YOY|last 90 days|last 1Y|last 3Y)/i,\n    templateName: 'sales_velocity',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[2],\n      vehicle_type: matches[3],\n      time_period: matches[4]\n    })\n  },\n  {\n    // Market comparison queries\n    pattern: /how did (.*?)('s)? (car sales|sales velocity) compare to (market average|national average|other dealers) (last week|last month|YTD|YOY|last 90 days)/i,\n    templateName: 'market_comparison',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[1],\n      comparison_type: matches[3],\n      comparison_group: matches[4],\n      time_period: matches[5]\n    })\n  },\n  {\n    // Radius comparison\n    pattern: /how did (.*?)('s)? (car sales|sales velocity) compare to (.*?) (within a (\\d+) mile radius) (last week|last month|YTD|YOY|last 90 days)/i,\n    templateName: 'radius_comparison',\n    extractParams: (matches, question) => ({ \n      dealer_name: matches[1],\n      comparison_type: matches[3],\n      dealer_group: matches[4],\n      radius: matches[6],\n      time_period: matches[7]\n    })\n  }\n];\n\n// Query templates with parameterized SQL\nconst queryTemplates = {\n  'price_adjustments': `\n    SELECT \n        d.Name AS DealerName,\n        AVG(CAST(ISNULL(l.PriceChanges, 0) AS FLOAT)) AS AvgPriceAdjustments,\n        COUNT_BIG(*) AS TotalSales\n    FROM \n        dbo.LISTINGS l WITH (NOLOCK)\n        INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n    WHERE \n        d.Name LIKE '%{{dealer_name}}%'\n        AND l.SalesDate IS NOT NULL\n        AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n        AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n    GROUP BY \n        d.Name;\n  `,\n  'inventory_turn_rate': `\n    SELECT \n        d.Name AS DealerName,\n        COUNT_BIG(l.LISTINGS_ID) AS TotalInventory,\n        COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) AS TotalSold,\n        AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell,\n        CAST(COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) * 1.0 / \n            NULLIF(COUNT_BIG(l.LISTINGS_ID), 0) AS DECIMAL(10,2)) AS TurnRate\n    FROM \n        dbo.LISTINGS l WITH (NOLOCK)\n        INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n    WHERE \n        d.Name LIKE '%{{dealer_name}}%'\n        AND l.ChangedOn >= CONVERT(DATE, '{{start_date}}') \n        AND l.ChangedOn < CONVERT(DATE, '{{end_date}}')\n    GROUP BY \n        d.Name;\n  `,\n  'inventory_turn_rate_comparison': `\n    WITH DealerData AS (\n        SELECT \n            d.Name AS DealerName,\n            d.DEALERS_ID,\n            COUNT_BIG(l.LISTINGS_ID) AS TotalInventory,\n            COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) AS TotalSold,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell,\n            CAST(COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) * 1.0 / \n                NULLIF(COUNT_BIG(l.LISTINGS_ID), 0) AS DECIMAL(10,2)) AS TurnRate,\n            MAX(l.SpecMake) AS MainBrand\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n        WHERE \n            d.Name LIKE '%{{dealer_name}}%'\n            AND l.ChangedOn >= CONVERT(DATE, '{{start_date}}') \n            AND l.ChangedOn < CONVERT(DATE, '{{end_date}}')\n        GROUP BY \n            d.Name, d.DEALERS_ID\n    ),\n    ComparisonData AS (\n        SELECT \n            {{comparison_select_clause}},\n            COUNT_BIG(l.LISTINGS_ID) AS TotalInventory,\n            COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) AS TotalSold,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell,\n            CAST(COUNT_BIG(CASE WHEN l.SalesDate IS NOT NULL THEN 1 END) * 1.0 / \n                NULLIF(COUNT_BIG(l.LISTINGS_ID), 0) AS DECIMAL(10,2)) AS TurnRate\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n            CROSS JOIN DealerData dd\n        WHERE \n            d.DEALERS_ID <> dd.DEALERS_ID\n            {{comparison_where_clause}}\n            AND l.ChangedOn >= CONVERT(DATE, '{{start_date}}') \n            AND l.ChangedOn < CONVERT(DATE, '{{end_date}}')\n        GROUP BY \n            {{comparison_group_clause}}\n    )\n    SELECT \n        dd.DealerName,\n        dd.TurnRate AS DealerTurnRate,\n        AVG(cd.TurnRate) AS ComparisonTurnRate,\n        dd.TurnRate - AVG(cd.TurnRate) AS TurnRateDifference,\n        CASE \n            WHEN AVG(cd.TurnRate) = 0 THEN NULL \n            ELSE (dd.TurnRate - AVG(cd.TurnRate)) / AVG(cd.TurnRate) * 100 \n        END AS PercentDifference\n    FROM \n        DealerData dd\n    CROSS JOIN\n        ComparisonData cd\n    GROUP BY \n        dd.DealerName, dd.TurnRate;\n  `,\n  'sales_count': `\n    SELECT \n        d.Name AS DealerName,\n        COUNT_BIG(*) AS TotalSales\n    FROM \n        dbo.LISTINGS l WITH (NOLOCK)\n        INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n    WHERE \n        d.Name LIKE '%{{dealer_name}}%'\n        AND l.SalesDate IS NOT NULL\n        AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n        AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n    GROUP BY \n        d.Name;\n  `,\n  'sales_velocity': `\n    SELECT \n        d.Name AS DealerName,\n        COUNT_BIG(*) AS TotalSales,\n        AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell\n    FROM \n        dbo.LISTINGS l WITH (NOLOCK)\n        INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n    WHERE \n        d.Name LIKE '%{{dealer_name}}%'\n        AND l.SalesDate IS NOT NULL\n        AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n        AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n    GROUP BY \n        d.Name;\n  `,\n  'market_comparison': `\n    WITH DealerData AS (\n        SELECT \n            d.Name AS DealerName,\n            COUNT_BIG(*) AS TotalSales,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n        WHERE \n            d.Name LIKE '%{{dealer_name}}%'\n            AND l.SalesDate IS NOT NULL\n            AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n            AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n        GROUP BY \n            d.Name\n    ),\n    MarketData AS (\n        SELECT \n            COUNT_BIG(*) AS TotalSales,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN dbo.DEALERS d WITH (NOLOCK) ON l.DEALERS_ID = d.DEALERS_ID\n        WHERE \n            l.SalesDate IS NOT NULL\n            AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n            AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n    )\n    SELECT \n        dd.DealerName,\n        dd.TotalSales AS DealerSales,\n        m.TotalSales AS MarketSales,\n        dd.AvgDaysToSell AS DealerAvgDaysToSell,\n        m.AvgDaysToSell AS MarketAvgDaysToSell,\n        dd.AvgDaysToSell - m.AvgDaysToSell AS DaysToSellDifference,\n        CASE \n            WHEN m.AvgDaysToSell = 0 THEN NULL \n            ELSE (dd.AvgDaysToSell - m.AvgDaysToSell) / m.AvgDaysToSell * 100 \n        END AS PercentDifference\n    FROM \n        DealerData dd\n    CROSS JOIN\n        MarketData m;\n  `,\n  'radius_comparison': `\n    WITH DealerLocation AS (\n        SELECT \n            d.DEALERS_ID,\n            d.Name AS DealerName,\n            d.Latitude,\n            d.Longitude\n        FROM \n            dbo.DEALERS d WITH (NOLOCK)\n        WHERE \n            d.Name LIKE '%{{dealer_name}}%'\n            AND d.Latitude IS NOT NULL\n            AND d.Longitude IS NOT NULL\n    ),\n    DealerData AS (\n        SELECT \n            dl.DealerName,\n            COUNT_BIG(*) AS TotalSales,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN DealerLocation dl ON l.DEALERS_ID = dl.DEALERS_ID\n        WHERE \n            l.SalesDate IS NOT NULL\n            AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n            AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n        GROUP BY \n            dl.DealerName\n    ),\n    NearbyDealers AS (\n        SELECT \n            d.DEALERS_ID,\n            d.Name AS DealerName,\n            d.Latitude,\n            d.Longitude,\n            dl.Latitude AS CenterLat,\n            dl.Longitude AS CenterLong,\n            (3959 * ACOS(COS(RADIANS(dl.Latitude)) * COS(RADIANS(d.Latitude)) * COS(RADIANS(d.Longitude) - RADIANS(dl.Longitude)) + SIN(RADIANS(dl.Latitude)) * SIN(RADIANS(d.Latitude)))) AS DistanceMiles\n        FROM \n            dbo.DEALERS d WITH (NOLOCK)\n            CROSS JOIN DealerLocation dl\n        WHERE \n            d.Latitude IS NOT NULL\n            AND d.Longitude IS NOT NULL\n            AND d.Name LIKE '%{{dealer_group}}%'\n            AND d.DEALERS_ID <> dl.DEALERS_ID\n    ),\n    RadiusData AS (\n        SELECT \n            nd.DealerName,\n            nd.DistanceMiles,\n            COUNT_BIG(*) AS TotalSales,\n            AVG(CAST(ISNULL(l.SalesDaysOld, 0) AS FLOAT)) AS AvgDaysToSell\n        FROM \n            dbo.LISTINGS l WITH (NOLOCK)\n            INNER JOIN NearbyDealers nd ON l.DEALERS_ID = nd.DEALERS_ID\n        WHERE \n            nd.DistanceMiles <= {{radius}}\n            AND l.SalesDate IS NOT NULL\n            AND l.SalesDate >= CONVERT(DATE, '{{start_date}}') \n            AND l.SalesDate < CONVERT(DATE, '{{end_date}}')\n        GROUP BY \n            nd.DealerName, nd.DistanceMiles\n    )\n    SELECT \n        dd.DealerName,\n        dd.TotalSales AS DealerSales,\n        AVG(rd.TotalSales) AS AvgRadiusSales,\n        dd.AvgDaysToSell AS DealerAvgDaysToSell,\n        AVG(rd.AvgDaysToSell) AS RadiusAvgDaysToSell,\n        dd.AvgDaysToSell - AVG(rd.AvgDaysToSell) AS DaysToSellDifference,\n        CASE \n            WHEN AVG(rd.AvgDaysToSell) = 0 THEN NULL \n            ELSE (dd.AvgDaysToSell - AVG(rd.AvgDaysToSell)) / AVG(rd.AvgDaysToSell) * 100 \n        END AS PercentDifference,\n        COUNT(rd.DealerName) AS DealersInRadius\n    FROM \n        DealerData dd\n    LEFT JOIN\n        RadiusData rd ON 1=1\n    GROUP BY \n        dd.DealerName, dd.TotalSales, dd.AvgDaysToSell;\n  `\n};\n\n// Get the user's question and current date\nconst userQuestion = $input.item.json.chatinput || \"\";\nconst now = new Date();\n\n// Detect time period and convert to actual dates\nfunction getDateRange(timePeriod) {\n  let startDate, endDate = new Date(now);\n  \n  if (timePeriod.includes('last day')) {\n    startDate = new Date(now);\n    startDate.setDate(startDate.getDate() - 1);\n  } else if (timePeriod.includes('last week')) {\n    startDate = new Date(now);\n    startDate.setDate(startDate.getDate() - 7);\n  } else if (timePeriod.includes('last month')) {\n    startDate = new Date(now.getFullYear(), now.getMonth() - 1, 1);\n    endDate = new Date(now.getFullYear(), now.getMonth(), 0);\n  } else if (timePeriod.includes('MTD')) {\n    startDate = new Date(now.getFullYear(), now.getMonth(), 1);\n  } else if (timePeriod.includes('YTD')) {\n    startDate = new Date(now.getFullYear(), 0, 1);\n  } else if (timePeriod.includes('MOM')) {\n    // Month over Month (current month vs previous month)\n    startDate = new Date(now.getFullYear(), now.getMonth() - 1, 1);\n    endDate = new Date(now.getFullYear(), now.getMonth(), 0);\n  } else if (timePeriod.includes('YOY')) {\n    // Year over Year (current month this year vs same month last year)\n    startDate = new Date(now.getFullYear() - 1, now.getMonth(), 1);\n    endDate = new Date(now.getFullYear() - 1, now.getMonth() + 1, 0);\n  } else if (timePeriod.includes('last 90 days')) {\n    startDate = new Date(now);\n    startDate.setDate(startDate.getDate() - 90);\n  } else if (timePeriod.includes('last 1Y')) {\n    startDate = new Date(now);\n    startDate.setFullYear(startDate.getFullYear() - 1);\n  } else if (timePeriod.includes('last 3Y')) {\n    startDate = new Date(now);\n    startDate.setFullYear(startDate.getFullYear() - 3);\n  } else if (timePeriod.includes('last 5Y')) {\n    startDate = new Date(now);\n    startDate.setFullYear(startDate.getFullYear() - 5);\n  } else if (timePeriod.includes('last year')) {\n    startDate = new Date(now.getFullYear() - 1, 0, 1);\n    endDate = new Date(now.getFullYear() - 1, 11, 31);\n  } else {\n    // Default to last 30 days\n    startDate = new Date(now);\n    startDate.setDate(startDate.getDate() - 30);\n  }\n  \n  return {\n    start_date: startDate.toISOString().split('T')[0],\n    end_date: endDate.toISOString().split('T')[0]\n  };\n}\n\n// Helper function for comparison clauses\nfunction getComparisonClauses(comparisonGroup, dealerMainBrand) {\n  if (comparisonGroup === 'brand') {\n    return {\n      select: \"d.Name AS ComparisonDealer\",\n      where: `AND l.SpecMake = '${dealerMainBrand}'`,\n      group: \"d.Name\"\n    };\n  } else if (comparisonGroup === 'non-brand') {\n    return {\n      select: \"d.Name AS ComparisonDealer\",\n      where: `AND l.SpecMake <> '${dealerMainBrand}'`,\n      group: \"d.Name\"\n    };\n  } else {\n    return {\n      select: \"'All Dealers' AS ComparisonGroup\",\n      where: \"\",\n      group: \"'All Dealers'\"\n    };\n  }\n}\n\n// Try to match the question to a template\nlet matchedTemplate = null;\nlet templateParams = {};\n\nfor (const matcher of templateMatchers) {\n  const matches = userQuestion.match(matcher.pattern);\n  if (matches) {\n    matchedTemplate = matcher.templateName;\n    templateParams = matcher.extractParams(matches, userQuestion);\n    \n    // Add date params based on detected time period\n    const dateRange = getDateRange(templateParams.time_period || \"last month\");\n    templateParams.start_date = dateRange.start_date;\n    templateParams.end_date = dateRange.end_date;\n    \n    // Special handling for comparison queries\n    if (matchedTemplate === 'inventory_turn_rate_comparison') {\n      const mainBrand = \"Toyota\"; // This should be retrieved dynamically in production\n      const clauses = getComparisonClauses(templateParams.comparison_group, mainBrand);\n      templateParams.comparison_select_clause = clauses.select;\n      templateParams.comparison_where_clause = clauses.where;\n      templateParams.comparison_group_clause = clauses.group;\n    }\n    \n    break;\n  }\n}\n\n// If we matched a template, populate it with parameters\nif (matchedTemplate && queryTemplates[matchedTemplate]) {\n  let query = queryTemplates[matchedTemplate];\n  \n  // Replace template parameters\n  Object.keys(templateParams).forEach(key => {\n    query = query.replace(new RegExp(`{{${key}}}`, 'g'), templateParams[key]);\n  });\n  \n  // Output the populated template\n  return { \n    template_matched: true,\n    template_name: matchedTemplate,\n    template_params: templateParams,\n    query: query.trim(),\n    ...templateParams,\n    original_input: $input.item.json\n  };\n} else {\n  // No template matched, continue with normal LLM-based query generation\n  return { \n    template_matched: false,\n    query: null,\n    original_input: $input.item.json\n  };\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3500,
        3300
      ],
      "id": "c4eb6a85-17f1-4563-b4dd-c7ec625fdc9e",
      "name": "Query Templates Matcher"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.template_matched }}",
                    "rightValue": "=True",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "e17b0650-ab6d-4a43-bc41-b8de6acccf31"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Template"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -3300,
        3300
      ],
      "id": "9a0f4a8e-6c3f-4812-828d-49a328c956a1",
      "name": "Template or LLM"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b2126b70-9ce0-4541-b596-e2e32830bb57",
              "name": "stopTime",
              "value": "={{ $now }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1120,
        2880
      ],
      "id": "2c166478-a3ef-462a-89cf-ea9d2f2f6359",
      "name": "Stop_Time"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the SQL query from the previous node\nconst sqlQuery = $json[\"query\"];\n\n// Basic validation to prevent dangerous queries\nconst disallowedPatterns = [\n  /;\\\\s*--/, // End of statement with comment\n  /DROP\\\\s+TABLE/i,\n  /DELETE\\\\s+FROM/i,\n  /UPDATE\\\\s+/i,\n  /INSERT\\\\s+INTO/i,\n  /ALTER\\\\s+TABLE/i,\n];\n\n// Check for dangerous patterns\nfor (const pattern of disallowedPatterns) {\n  if (pattern.test(sqlQuery)) {\n    throw new Error(\"Generated SQL query contains disallowed operations.\");\n  }\n}\n\n// Validate proper JOIN conditions\nif (sqlQuery.includes(\"JOIN\") && !sqlQuery.includes(\"ON \")) {\n  throw new Error(\"JOIN without proper ON clause detected.\");\n}\n\n// Validate ORDER BY clause for TOP queries\nif (sqlQuery.includes(\"TOP \") && !sqlQuery.includes(\"ORDER BY\")) {\n  throw new Error(\"TOP query without ORDER BY clause detected.\");\n}\n\n// Validate date range calculations\nif (sqlQuery.includes(\"DATEADD\") || sqlQuery.includes(\"DATEDIFF\")) {\n  if (!sqlQuery.includes(\"IS NOT NULL\")) {\n    console.log(\"Warning: Date calculation without NULL check detected.\");\n  }\n}\n\n// If safe, pass the SQL query along\nreturn { query: sqlQuery };"
      },
      "id": "e8b0be7b-e5b2-487b-920c-7bdda8fec2e5",
      "name": "Query Validation2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3340,
        2680
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "id": "6d134ec7-f993-433b-be1b-f3f1e611c666",
      "name": "SQL template and AI queries",
      "type": "n8n-nodes-base.merge",
      "position": [
        -3000,
        3300
      ],
      "typeVersion": 3,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Get start and stop times\n let startTime = $('Template or LLM').first()?.json?.original_input?.Start_time;\n const stopTime = new Date($input.first().json.stopTime); // Convert to Date object\n \n if (startTime === undefined || startTime === null) {\n   throw new Error(\"Start time is undefined or null. Ensure 'Template or LLM' node has executed.\");\n }\n \n startTime = new Date(startTime); // Convert startTime to a Date object\n \n // Calculate the difference in milliseconds\n const deltaMs = stopTime - startTime;\n \n // Convert to seconds (with 2 decimal places)\n const deltaSeconds = (deltaMs / 1000).toFixed(2);\n \n // Convert to a more readable format if it's a longer duration\n let readableDelta;\n if (deltaMs < 1000) {\n   readableDelta = `${deltaMs} ms`;\n } else if (deltaMs < 60000) {\n   readableDelta = `${deltaSeconds} seconds`;\n } else {\n   const minutes = Math.floor(deltaMs / 60000);\n   const seconds = ((deltaMs % 60000) / 1000).toFixed(2);\n   readableDelta = `${minutes} minutes and ${seconds} seconds`;\n }\n \n // Return both the original data and the time measurements\n return {\n   ...($input.item.json),\n   stopTime: new Date(stopTime).toISOString(),\n   executionTimeMs: deltaMs,\n   executionTimeSec: parseFloat(deltaSeconds),\n   executionTimeReadable: readableDelta\n };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3100,
        2880
      ],
      "id": "e8e76dc0-38df-4169-90b2-114227989fb3",
      "name": "Calculate Delta"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "mssql-tool",
          "mode": "list",
          "cachedResultName": "mssql-tool"
        },
        "options": {}
      },
      "id": "4c1f77af-f718-49fc-951b-3607d8bca5aa",
      "name": "Pinecone Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        -1680,
        3080
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "AXHlIneCPEV9bOUP",
          "name": "Pinecone mssql"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "dataType": "binary",
        "binaryMode": "specificField",
        "options": {}
      },
      "id": "5b04545e-4969-41c1-b1a2-8e912b224dd5",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        -1560,
        3240
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "b49e2786-d8b7-4f1d-bf2f-ef323612531b",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "position": [
        -1460,
        3360
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "mssql-tool",
          "mode": "list",
          "cachedResultName": "mssql-tool"
        },
        "options": {}
      },
      "id": "0daaf857-325d-4194-b4ca-0f7cf0160165",
      "name": "Pinecone Vector Store (Retrieval)",
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "position": [
        180,
        3400
      ],
      "typeVersion": 1,
      "credentials": {
        "pineconeApi": {
          "id": "AXHlIneCPEV9bOUP",
          "name": "Pinecone mssql"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ $json.id }}"
        },
        "options": {
          "fileName": "={{ $json.name }}"
        }
      },
      "id": "6eae47c4-0966-4b18-8a2e-a33349539745",
      "name": "Download File From Google Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        -1920,
        3080
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14gs6wwvbn_dZpqy9RuKpFVj413LRUfSM",
          "mode": "list",
          "cachedResultName": "- SQL_RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14gs6wwvbn_dZpqy9RuKpFVj413LRUfSM"
        },
        "event": "fileUpdated",
        "options": {}
      },
      "id": "767bc699-5890-417a-abbd-a5792e26a1ea",
      "name": "Google Drive File Updated",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -2280,
        3240
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "14gs6wwvbn_dZpqy9RuKpFVj413LRUfSM",
          "mode": "list",
          "cachedResultName": "- SQL_RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/14gs6wwvbn_dZpqy9RuKpFVj413LRUfSM"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "id": "5f815425-7065-4daf-aeaa-c3a72c25677c",
      "name": "Google Drive File Created",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        -2280,
        3080
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "Look for query shapes",
        "height": 480,
        "width": 420,
        "color": 5
      },
      "id": "ebbd44af-c36a-43c9-81db-034cbb65dc0d",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        160,
        3200
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Add documents to vector store when updating or creating new documents in Google Drive",
        "height": 80,
        "width": 560,
        "color": 3
      },
      "id": "baa2a65a-ba52-483e-bf20-9fbd5aeffe9d",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2380,
        3440
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "content": "",
        "height": 546,
        "width": 1245,
        "color": 3
      },
      "id": "50397bbd-437d-4c89-8dda-703952dc74b1",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2400,
        3000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1760,
        3240
      ],
      "id": "87aad9b5-0c79-4974-938f-50ef10d1cdc5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "D09ujHRZlS7g66tq",
          "name": "USDB"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Slack Text and Voice Messages",
        "height": 126,
        "width": 325
      },
      "id": "e318e263-cd44-4e3a-862d-32dfc8664a5a",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2340,
        2380
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ \"$json\" }}"
      },
      "type": "n8n-nodes-base.microsoftSqlTool",
      "typeVersion": 1.1,
      "position": [
        -320,
        2120
      ],
      "id": "b77b806f-36bc-4475-a591-9475fce11766",
      "name": "Microsoft SQL",
      "credentials": {
        "microsoftSql": {
          "id": "BbAMiDytg4JU7Jas",
          "name": "MsSQL 38.107.232.33 "
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT name\nFROM sys.tables"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -3500,
        2400
      ],
      "id": "f49ccf98-8ab4-4221-99c5-82ebcf797629",
      "name": "LIST TABLES",
      "credentials": {
        "microsoftSql": {
          "id": "BbAMiDytg4JU7Jas",
          "name": "MsSQL 38.107.232.33 "
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "EXEC sp_columns '{{ $json.name }}';"
      },
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1.1,
      "position": [
        -3300,
        2400
      ],
      "id": "47ad5da2-e12c-42bb-9cf4-0ce117a1ecda",
      "name": "SCHEMAS",
      "credentials": {
        "microsoftSql": {
          "id": "BbAMiDytg4JU7Jas",
          "name": "MsSQL 38.107.232.33 "
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.4,
      "position": [
        -3500,
        2880
      ],
      "id": "8ce6d858-da7c-49ac-a7ef-11f4bcd34cb7",
      "name": "MySQL",
      "credentials": {
        "mySql": {
          "id": "QonuFF6AfGffP6d7",
          "name": "104.167.196.118 : 3306"
        }
      }
    },
    {
      "parameters": {
        "name": "date_time_tool",
        "description": "Returns the current date and time information including formatted date, time, timezone, and day of week and other temporal expressions.",
        "jsCode": "// Advanced DateTime Tool for n8n Agent with support for business timeframes\nmodule.exports = async function() {\n  // Create date objects\n  const now = new Date();\n  \n  // Basic date components\n  const year = now.getFullYear();\n  const month = now.getMonth(); // 0-based\n  const day = now.getDate();\n  const dayOfWeek = now.getDay(); // 0 = Sunday, 6 = Saturday\n  \n  // Format helper function\n  const formatDate = (date) => {\n    return {\n      formatted: `${date.getFullYear()}-${String(date.getMonth() + 1).padStart(2, '0')}-${String(date.getDate()).padStart(2, '0')}`,\n      year: date.getFullYear(),\n      month: date.getMonth() + 1,\n      day: date.getDate()\n    };\n  };\n  \n  // Get start of current day\n  const startOfDay = new Date(year, month, day);\n  startOfDay.setHours(0, 0, 0, 0); // Set to beginning of the day\n  \n  // Get start of current month\n  const startOfMonth = new Date(year, month, 1);\n  startOfMonth.setHours(0, 0, 0, 0); // Set to beginning of the day\n  \n  // Get start of current year\n  const startOfYear = new Date(year, 0, 1);\n  startOfYear.setHours(0, 0, 0, 0); // Set to beginning of the day\n  \n  // Get start of current week (Sunday-based)\n  const startOfWeek = new Date(now);\n  startOfWeek.setDate(now.getDate() - now.getDay());\n  startOfWeek.setHours(0, 0, 0, 0);\n  \n  // Month-to-Date (MTD)\n  const mtdDays = day;\n  const mtdStart = formatDate(startOfMonth);\n  const mtdEnd = formatDate(now);\n  \n  // Year-to-Date (YTD)\n  const ytdDays = Math.floor((now - startOfYear) / (1000 * 60 * 60 * 24)) + 1;\n  const ytdStart = formatDate(startOfYear);\n  const ytdEnd = formatDate(now);\n  \n  // Last month (for Month-over-Month)\n  let lastMonthYear = year;\n  let lastMonthMonth = month - 1;\n  \n  // Adjust for January (handle previous year December)\n  if (lastMonthMonth < 0) {\n    lastMonthMonth = 11; // December\n    lastMonthYear = year - 1;\n  }\n  \n  const lastMonth = new Date(lastMonthYear, lastMonthMonth, 1);\n  const lastMonthEnd = new Date(year, month, 0);\n  lastMonthEnd.setHours(23, 59, 59, 999); // Set to end of the day\n  const lastMonthName = new Intl.DateTimeFormat('en-US', { month: 'long' }).format(lastMonth);\n  \n  // Last year (for Year-over-Year)\n  const lastYear = new Date(year - 1, month, day);\n  const lastYearStart = new Date(year - 1, 0, 1);\n  lastYearStart.setHours(0, 0, 0, 0); // Set to beginning of the day\n  const lastYearEnd = new Date(year - 1, 11, 31);\n  lastYearEnd.setHours(23, 59, 59, 999); // Set to end of the day\n  \n  // Format current time\n  const hours = String(now.getHours()).padStart(2, '0');\n  const minutes = String(now.getMinutes()).padStart(2, '0');\n  const seconds = String(now.getSeconds()).padStart(2, '0');\n  const timeString = `${hours}:${minutes}:${seconds}`;\n  \n  // Calculate days in the current year (accounting for leap years)\n  const isLeapYear = (year % 4 === 0 && year % 100 !== 0) || (year % 400 === 0);\n  const daysInYear = isLeapYear ? 366 : 365;\n  \n  // Safely handle day overflow for last year (e.g., Feb 29 on leap year to non-leap year)\n  function createSafePreviousYearDate(currentYear, currentMonth, currentDay) {\n    // Check if we're dealing with Feb 29 on a leap year\n    if (currentMonth === 1 && currentDay === 29) { // February 29\n      const prevYear = currentYear - 1;\n      const isPrevLeapYear = (prevYear % 4 === 0 && prevYear % 100 !== 0) || (prevYear % 400 === 0);\n      \n      if (!isPrevLeapYear) {\n        // Previous year is not a leap year, so Feb 29 doesn't exist - use Feb 28 instead\n        return new Date(prevYear, currentMonth, 28);\n      }\n    }\n    \n    // For all other cases, just use the same month and day in the previous year\n    return new Date(currentYear - 1, currentMonth, currentDay);\n  }\n  \n  // Recalculate lastYear date to handle potential February 29 issue\n  const safeLastYear = createSafePreviousYearDate(year, month, day);\n  \n  // Return comprehensive date/time information\n  const result = {\n    current: {\n      timestamp: now.getTime(),\n      dateTime: `${formatDate(now).formatted} ${timeString}`,\n      date: formatDate(now).formatted,\n      time: timeString,\n      year: year,\n      month: month + 1,\n      monthName: new Intl.DateTimeFormat('en-US', { month: 'long' }).format(now),\n      day: day,\n      dayOfWeek: dayOfWeek,\n      dayName: new Intl.DateTimeFormat('en-US', { weekday: 'long' }).format(now),\n      quarter: Math.floor(month / 3) + 1\n    },\n    \n    timeframes: {\n      // This week\n      thisWeek: {\n        start: formatDate(startOfWeek),\n        end: formatDate(now),\n        daysPassed: dayOfWeek,\n        daysRemaining: 6 - dayOfWeek\n      },\n      \n      // This month\n      thisMonth: {\n        start: formatDate(startOfMonth),\n        end: formatDate(now),\n        name: new Intl.DateTimeFormat('en-US', { month: 'long' }).format(now),\n        daysPassed: day - 1,\n        totalDays: new Date(year, month + 1, 0).getDate()\n      },\n      \n      // This year\n      thisYear: {\n        start: formatDate(startOfYear),\n        end: formatDate(now),\n        year: year,\n        daysPassed: ytdDays,\n        totalDays: daysInYear\n      },\n      \n      // Month-to-Date (MTD)\n      mtd: {\n        start: mtdStart,\n        end: mtdEnd,\n        daysPassed: mtdDays,\n        percentComplete: Math.round((mtdDays / new Date(year, month + 1, 0).getDate()) * 100)\n      },\n      \n      // Year-to-Date (YTD)\n      ytd: {\n        start: ytdStart,\n        end: ytdEnd,\n        daysPassed: ytdDays,\n        percentComplete: Math.round((ytdDays / daysInYear) * 100)\n      }\n    },\n    \n    comparisons: {\n      // Month-over-Month (MoM)\n      mom: {\n        current: {\n          month: month + 1,\n          monthName: new Intl.DateTimeFormat('en-US', { month: 'long' }).format(now),\n          year: year\n        },\n        previous: {\n          month: lastMonth.getMonth() + 1,\n          monthName: lastMonthName,\n          year: lastMonth.getFullYear()\n        },\n        start: formatDate(lastMonth),\n        end: formatDate(lastMonthEnd)\n      },\n      \n      // Year-over-Year (YoY)\n      yoy: {\n        current: {\n          year: year,\n          month: month + 1,\n          day: day\n        },\n        previous: {\n          year: safeLastYear.getFullYear(),\n          month: safeLastYear.getMonth() + 1,\n          day: safeLastYear.getDate()\n        },\n        sameDay: formatDate(safeLastYear),\n        yearStart: formatDate(lastYearStart),\n        yearEnd: formatDate(lastYearEnd)\n      }\n    },\n    \n    timezone: {\n      name: Intl.DateTimeFormat().resolvedOptions().timeZone,\n      offset: now.getTimezoneOffset()\n    },\n    \n    // Business days calculation (Mon-Fri)\n    business: {\n      isBusinessDay: (dayOfWeek >= 1 && dayOfWeek <= 5),\n      daysSinceLastBusinessDay: dayOfWeek === 0 ? 2 : dayOfWeek === 1 ? 3 : 1,\n      businessDaysInMonth: getBusinessDaysInMonth(year, month),\n      businessDaysPassedThisMonth: getBusinessDaysPassed(year, month, day)\n    }\n  };\n  \n  // Helper function to calculate business days in a month (Mon-Fri)\n  function getBusinessDaysInMonth(year, month) {\n    const daysInMonth = new Date(year, month + 1, 0).getDate();\n    let businessDays = 0;\n    \n    for (let i = 1; i <= daysInMonth; i++) {\n      const dayOfWeek = new Date(year, month, i).getDay();\n      if (dayOfWeek >= 1 && dayOfWeek <= 5) {\n        businessDays++;\n      }\n    }\n    \n    return businessDays;\n  }\n  \n  // Helper function to calculate business days passed in the current month\n  function getBusinessDaysPassed(year, month, currentDay) {\n    let businessDays = 0;\n    \n    for (let i = 1; i <= currentDay; i++) {\n      const dayOfWeek = new Date(year, month, i).getDay();\n      if (dayOfWeek >= 1 && dayOfWeek <= 5) {\n        businessDays++;\n      }\n    }\n    \n    return businessDays;\n  }\n  \n  return JSON.stringify(result);\n};"
      },
      "type": "@n8n/n8n-nodes-langchain.toolCode",
      "typeVersion": 1.1,
      "position": [
        0,
        3280
      ],
      "id": "f69cce2b-646d-416e-8be6-1695d73cab81",
      "name": "date_time_tool"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        460,
        3440
      ],
      "id": "3f24eb18-1ac5-4a40-b9ba-331c133bf6df",
      "name": "OpenAI Chat ",
      "credentials": {
        "openAiApi": {
          "id": "D09ujHRZlS7g66tq",
          "name": "USDB"
        }
      }
    },
    {
      "parameters": {
        "content": "# Role\nYou are a world-class MySQL Developer. You are capable of fulfilling different requests from answering simple questions to providing in-depth explanations and discussions on a wide range of topics. Additionally, you can use tools to perform tasks as required\n\n# Task\nI want you to read a user query in natural language, then convert it to an accurate MsSQL SQL query with the correct syntax that retrieves the relevant data from a USDB dataset. Ensure the queries are aligned with user intent, structured correctly, and safe to execute.\n\n# Context\nYou are working with a dataset containing USDB vehicle data, including the following schema:\n{{ $json.schema }}\n\n\n## **Table Overview:**\nUsers may ask various analytical questions related to listings, dealers, VINs, etc. Your role is to accurately interpret the user's intent, convert the query into MsSQL using the provided tool, execute it, and return the relevant insights.\n\n\n# **Detailed Instructions:**\n1. **Understand User Intent**  \n   - Analyze the user's query to determine the required dataset.\n   - Identify filters, date ranges, groupings, and aggregation requirements.\n   - Enrich the user's query. \n\n2. **SQL Query Generation**  \n   - Convert the enriched natural language query into a SQL query.\n   - Pass **only the enriched natural language query and relevant columns & filtering** to the tool to generate the query dynamically.\n   - Ensure accuracy in column selection and handling of nested JSON-like fields.\n\n3. **Present Results**: Deliver the query results to the user in a concise and easy-to-understand format. Avoid presenting SQL code in your final response.\n\n4. **Handle Missing Data**: If the requested data doesn't exist or is unavailable, inform the user politely and suggest any alternative queries if possible.\n\n## **Output Requirements**\n- **Concise and Clear Summaries** – Only present the interpreted query results, without exposing SQL code.\n- **Polite Handling of Missing Data** – If no relevant data is found, provide a friendly response with context.\n- **No SQL Code in Responses** – Avoid sharing raw SQL queries unless explicitly requested.\n\n---\n​ <examples>\n  <example>\n    Natural Language Query: \"What is the earliest and latest datapoints in the dataset?\"\n    SQL Query:\n    SELECT \n      MIN(EarliestDate) AS earliest_date,\n      MAX(LatestDate) AS latest_date\n    FROM (\n      SELECT MIN(ChangedOn) AS EarliestDate, MAX(ChangedOn) AS LatestDate FROM dbo.LISTINGS WITH (NOLOCK) WHERE ChangedOn IS NOT NULL\n      UNION ALL\n      SELECT MIN(SalesDate), MAX(SalesDate) FROM dbo.LISTINGS WITH (NOLOCK) WHERE SalesDate IS NOT NULL\n      UNION ALL\n      SELECT MIN(CreatedOn), MAX(CreatedOn) FROM dbo.VINS WITH (NOLOCK) WHERE CreatedOn IS NOT NULL\n      UNION ALL\n      SELECT MIN(SalesDateStart), MAX(SalesDateEnd) FROM dbo.HISTORY WITH (NOLOCK) WHERE SalesDateStart IS NOT NULL AND SalesDateEnd IS NOT NULL\n    ) AS DateRanges;\n  </example>\n  \n  <example>\n    Natural Language Query: \"Count how many rows in the entire dataset\"\n    SQL Query:\n    SELECT \n      (SELECT COUNT_BIG(*) FROM dbo.LISTINGS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.DEALERS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.VINS WITH (NOLOCK)) +\n      (SELECT COUNT_BIG(*) FROM dbo.HISTORY WITH (NOLOCK)) AS total_rows;\n  </example>\n  \n  <example>\n    Natural Language Query: \"What are the top 10 most frequent vehicle makes?\"\n    SQL Query:\n    SELECT TOP 10 WITH TIES\n      SpecMake AS car_make,\n      COUNT_BIG(*) AS occurrences\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE SpecMake IS NOT NULL\n    GROUP BY SpecMake\n    ORDER BY occurrences DESC;\n  </example>\n  \n  <example>\n    Natural Language Query: \"Find all CARMAX sales in 2024\"\n    SQL Query:\n    SELECT COUNT_BIG(*) AS total_sales \n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE DEALERS_ID IN (SELECT DEALERS_ID FROM dbo.DEALERS WITH (NOLOCK) WHERE Name = 'CARMAX') \n      AND SalesDate IS NOT NULL\n      AND SalesDate >= CONVERT(DATE, '2024-01-01') \n      AND SalesDate < CONVERT(DATE, '2025-01-01');\n  </example>\n  \n  <example>\n    Natural Language Query: \"Which states have the most car listings?\"\n    SQL Query:\n    SELECT TOP 10\n      StateCode,\n      COUNT_BIG(*) AS listing_count\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE StateCode IS NOT NULL\n    GROUP BY StateCode\n    ORDER BY listing_count DESC;\n  </example>\n  \n  <example>\n    Natural Language Query: \"What's the average price of Toyota cars by model?\"\n    SQL Query:\n    SELECT \n      SpecModel,\n      AVG(CAST(ListingPrice AS DECIMAL(10,2))) AS avg_price,\n      COUNT_BIG(*) AS sample_size\n    FROM dbo.LISTINGS WITH (NOLOCK)\n    WHERE SpecMake = 'Toyota' \n      AND SpecModel IS NOT NULL\n      AND ListingPrice IS NOT NULL\n      AND ListingPrice > 0\n    GROUP BY SpecModel\n    HAVING COUNT_BIG(*) > 5\n    ORDER BY avg_price DESC;\n  </example>\n</examples>\n\n\n\n\n# Notes\n- You must only use the schema above to correctly identify the column names.\n- If the column name is not clear from user's query, then ask them to clarify.\n- keep the response concise.\n- If the response is not accurate, ask user to clarify.\n- Always call the database query tool before answering, never assume the answer without having the data\n- The Current Date = {{ $now }}\n\n",
        "height": 2689,
        "width": 603,
        "color": 5
      },
      "id": "c9582321-ee4b-453c-931c-557118dcb28b",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2440,
        1300
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "name": "mssql_tool",
        "description": "Retrieve information about the shapes of different queries to extract particular type of questions and information from the USDB using MySQL.",
        "topK": "={{ $fromAI('query_shape') }}"
      },
      "id": "dcf521d7-68e8-4d0a-8e20-5f82837d48da",
      "name": "vector_store_tool",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "position": [
        260,
        3240
      ],
      "typeVersion": 1,
      "notesInFlow": true
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Test Metadata').item.json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "bf565443-cbe3-4335-98cc-9e2632c0c1bb",
      "name": "Chat History",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        -200,
        3140
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Role\nYou are a world-class MySQL Developer with 30 years of experience in top database companies, capable of fulfilling user requests in human natural language by translating these into precise MySQL queries leveraging the tools you have available. Your capability ranges from answering simple questions to providing in-depth explanations of complex queries and insights attained using the USDB. \n\n# Goal\nYour goal is to be a useful and accurate expert who can assist the user in exploring information from the USDB. \n\n# Task\nWhen generating MySQL queries:\n1. First analyze to understand the question the user is asking in human natural language and think about what he needs.\n2. Use the tools available to get familiarised with the tables, schemas and field definitions you have available to work with, and any additional details about the data its relationships so you can enrich the context.\n3. Translate the user request into a MySQL query with correct syntax designed to correctly answer the user request using the USDB\n4. Execute the query generated to obtain the response to the user question\n5. Present the response to the user formatting the data properly. \n6. After the response has been presented, skip a line and present the MySQL query used to generate the answer\n\n# Requirements:\n- Ensure the SQL query is syntactically correct.\n- Do not include any destructive operations (e.g., DROP, DELETE).\n- Always use LIKE for filters never explicit names. \n- Don't Limit the data.\n- The queries should be aligned with user intent, structured correctly, and safe to be executed.\n- It is required that you use the tools available to get familiar with the tables available and their schemas and relationships, and the different data fields, their data types, lengths, etc, and then perform tasks as needed.\n- The Current Date = {{ $now }}\n\n# Rules\nWhen generating MySQL queries:\n1. Always write defensive code that handles NULL values and multiple/empty results\n2. Use appropriate table hints like WITH (NOLOCK) for read operations\n3. For subqueries that might return multiple rows, use IN instead of = or use TOP with ORDER BY\n4. When dealing with dates, use CONVERT or explicit date formats\n5. Include appropriate schema prefixes (dbo.)\n6. Write queries that will not cause timeouts on large tables\n7. Avoid constructs known to cause \"Internal server error\" issues in MySQL\n\n---\n\n#Tools\n<tools>\n<MySQL_schema>\nThis node retrieves a list of relevant tables from the USDB database (e.g., from the public schema, excluding system schemas like pg_catalog or information_schema). The agent uses this information to understand the available tables, which typically involves executing a MySQL query like `SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';`. Use this tool to get an initial understanding of the tables available to you in the USDB. \n</MySQL_schema>\n\n<MySQL_definition>\nThis MySQL node fetches detailed metadata (such as column names, data types, and relationships using foreign keys) for a specific table. The table name (and schema if necessary) is supplied dynamically by the AI Agent. This often involves querying information_schema.columns,\n</MySQL_definition>\n\n<MySQL_execute>\nThis node executes the MySQL query generated by the USDB Agent against the USDB database. You reference the query using an expression allowing the agent’s output to control data retrieval.\n</MySQL_execute>\n\n<vector_store>\nThis node retrieves information related to query shapes to extract different types of questions from the USDB using MySQL.\n</vector_store>\n\n</tools>",
          "maxIterations": "={{ 25 }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        260,
        2880
      ],
      "id": "52778a57-aa0e-42d5-a45a-2d7870000272",
      "name": "USDB Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-7-sonnet-20250219",
          "mode": "list",
          "cachedResultName": "Claude 3.7 Sonnet"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        -320,
        3060
      ],
      "id": "b1214504-ad67-4133-9222-4ecf7092ecb8",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "dcLqo62duKhDxGrw",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This node executes the MySQL query generated by the USDB Agent against the USDB database. You reference the query using an expression (e.g., {{$fromAI('mysql_query')}}), allowing the agent’s output to control data retrieval.",
        "operation": "executeQuery",
        "query": "{{$fromAI('sql')}}",
        "options": {
          "replaceEmptyStrings": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Replace_Empty_Strings_with_NULL', ``, 'boolean') }}",
          "detailedOutput": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Output_Query_Execution_Details', ``, 'boolean') }}"
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        920,
        3120
      ],
      "id": "957e0597-12b6-4672-a3ec-314579f11006",
      "name": "MySQL_execute",
      "credentials": {
        "mySql": {
          "id": "QonuFF6AfGffP6d7",
          "name": "104.167.196.118 : 3306"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "This node retrieves a list of relevant tables from the USDB database (e.g., from the public schema, excluding system schemas like pg_catalog or information_schema). The agent uses this information to understand the available tables. This typically involves executing a MySQL query like SELECT table_name FROM information_schema.tables WHERE table_schema = 'public';",
        "operation": "executeQuery",
        "query": "SELECT \n    table_schema,\n    table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE'\n    AND table_schema NOT IN ('mysql', 'information_schema', 'performance_schema', 'sys')\nORDER BY table_schema, table_name;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        660,
        3240
      ],
      "id": "9cce5942-9d0d-424c-ae1b-395405034024",
      "name": "MySQL_schema",
      "credentials": {
        "mySql": {
          "id": "n7aaXB29elYhw6be",
          "name": "MySQL_172.210.61.67"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=This MySQL node fetches detailed metadata (such as column names, data types, and potentially relationships using foreign keys) for a specific table. The table name (and schema if necessary) is supplied dynamically by the AI Agent. This often involves querying information_schema.columns.",
        "operation": "executeQuery",
        "query": "SELECT \n  c.column_name,\n  c.data_type,\n  c.is_nullable,\n  c.column_default,\n  tc.constraint_type,\n  ccu.table_name AS referenced_table,\n  ccu.column_name AS referenced_column\nFROM information_schema.columns c\nLEFT JOIN information_schema.key_column_usage kcu\n  ON c.table_schema = kcu.table_schema\n  AND c.table_name = kcu.table_name\n  AND c.column_name = kcu.column_name\nLEFT JOIN information_schema.table_constraints tc\n  ON kcu.constraint_name = tc.constraint_name\n  AND kcu.table_schema = tc.table_schema\n  AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN information_schema.referential_constraints rc\n  ON tc.constraint_name = rc.constraint_name\n  AND tc.table_schema = rc.constraint_schema\nLEFT JOIN information_schema.key_column_usage ccu\n  ON rc.unique_constraint_name = ccu.constraint_name\n  AND rc.unique_constraint_schema = ccu.table_schema\n  AND kcu.ordinal_position = ccu.ordinal_position\nWHERE \n  c.table_name = '{{$fromAI('table')}}'\n  AND c.table_schema = '{{$fromAI('table_schema')}}'\nORDER BY \n  c.ordinal_position;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.4,
      "position": [
        800,
        3180
      ],
      "id": "3d73934d-4692-4aef-832d-3813ee11bf23",
      "name": "MySQL_definition",
      "credentials": {
        "mySql": {
          "id": "QonuFF6AfGffP6d7",
          "name": "104.167.196.118 : 3306"
        }
      }
    },
    {
      "parameters": {
        "description": "Use the tool to think thoroughly about the user question and the translation into a MySQL query to extract information from the USDB considering its tables, schemas, relationships, field definitions, data types, etc. It will not obtain new information or change the database, but just append the thought to the log."
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        -100,
        3220
      ],
      "id": "95864be6-2d77-46a0-bafd-5bfb9a714958",
      "name": "Think"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        200,
        3540
      ],
      "id": "3b84a2f9-1f1a-4993-a592-ec5388f8023c",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "D09ujHRZlS7g66tq",
          "name": "USDB"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"question\": \"$fromAI('question')\",\n  \"sql\": \"$fromAI('sql')\",\n  \"answer\": \"$fromAI('output')\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        1060,
        3060
      ],
      "id": "4f7b0cef-1b38-44dd-8c01-e96e4f53502e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1100,
        2700
      ],
      "id": "699e6dd0-5499-4656-a1a5-80491894e821",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -320,
        2780
      ],
      "id": "85c3d75f-7c54-411d-b438-807ff2c42b3b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bc9f4797-6534-4d93-9af8-54ce2b960858",
              "name": "sessionId",
              "value": "={{ $json.id }} {{ $json.sessionId }}",
              "type": "string"
            },
            {
              "id": "1400d571-7976-4e3d-9e7d-f5500dfe9d5e",
              "name": "action",
              "value": "={{ $json.action }} {{ $json.Group }}",
              "type": "string"
            },
            {
              "id": "4a1ba95c-d3cb-4f13-b234-105e5bc3cefe",
              "name": "chatInput",
              "value": "={{ $json.chatInput }} {{ $json.Name.replace(\"X dealer\", $('Dealers').item.json.Name) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -140,
        2840
      ],
      "id": "93db6bce-6c42-4004-a38b-0b99f686030b",
      "name": "Test Metadata"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGV8vCDX8WGdmJG",
          "mode": "list",
          "cachedResultName": "USDB Agent Testing",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG"
        },
        "table": {
          "__rl": true,
          "value": "tblR30GD6tQ1WGT5c",
          "mode": "list",
          "cachedResultName": "Tests",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG/tblR30GD6tQ1WGT5c"
        },
        "filterByFormula": "(Process='True')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -520,
        2780
      ],
      "id": "756a0e38-9f4f-4a32-aec6-5c4c582779e7",
      "name": "Tests",
      "credentials": {
        "airtableTokenApi": {
          "id": "0k6jxJu0tQwdczzt",
          "name": "USDB_Airtable_logs"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGV8vCDX8WGdmJG",
          "mode": "list",
          "cachedResultName": "USDB Agent Testing",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG"
        },
        "table": {
          "__rl": true,
          "value": "tblWceV4FjTXDeHhL",
          "mode": "list",
          "cachedResultName": "Dealers",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG/tblWceV4FjTXDeHhL"
        },
        "filterByFormula": "(Process='True')",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        -920,
        2700
      ],
      "id": "cae50787-6aad-4416-99fa-8e46fe2d0f17",
      "name": "Dealers",
      "credentials": {
        "airtableTokenApi": {
          "id": "0k6jxJu0tQwdczzt",
          "name": "USDB_Airtable_logs"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -740,
        2700
      ],
      "id": "98cabd9e-7a80-4421-8e84-368c553044b1",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGV8vCDX8WGdmJG",
          "mode": "list",
          "cachedResultName": "Direct Query",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG"
        },
        "table": {
          "__rl": true,
          "value": "tblNLhT1EBPCNCxQc",
          "mode": "list",
          "cachedResultName": "Results",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG/tblNLhT1EBPCNCxQc"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sessionId": "={{ $('Test Metadata').item.json.sessionId }}",
            "chatInput": "={{ $('USDB Agent').item.json.output.question }}",
            "response": "={{ $('USDB Agent').item.json.output.answer }}",
            "stopTime": "={{ $json.stopTime }}",
            "time": "={{ ((new Date($json.stopTime).getTime() - new Date($('Start_Time').item.json.Start_time).getTime()) / 1000).toString() }}",
            "startTime": "={{ $('Start_Time').item.json.Start_time }}",
            "request": "={{ $('USDB Agent').item.json.output.sql }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "sessionId",
              "displayName": "sessionId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "startTime",
              "displayName": "startTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chatInput",
              "displayName": "chatInput",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "response",
              "displayName": "response",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stopTime",
              "displayName": "stopTime",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Ok",
                  "value": "Ok"
                },
                {
                  "name": "Fail",
                  "value": "Fail"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1240,
        3520
      ],
      "id": "0aac6bcb-e2f8-42eb-9919-62ab41e86186",
      "name": "Results",
      "credentials": {
        "airtableTokenApi": {
          "id": "0k6jxJu0tQwdczzt",
          "name": "USDB_Airtable_logs"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d364eb1-f1c7-4fe1-ac4d-0a503b85e0e6",
              "name": "Group",
              "value": "={{ $json.Group }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1320,
        2760
      ],
      "id": "6e745638-6a47-49df-ac63-6d6db10d0f55",
      "name": "Group"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGV8vCDX8WGdmJG",
          "mode": "list",
          "cachedResultName": "Direct Query",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG"
        },
        "table": {
          "__rl": true,
          "value": "tblWceV4FjTXDeHhL",
          "mode": "list",
          "cachedResultName": "Dealers",
          "cachedResultUrl": "https://airtable.com/appGV8vCDX8WGdmJG/tblWceV4FjTXDeHhL"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Executed"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Process",
              "displayName": "Process",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Failed",
                  "value": "Failed"
                },
                {
                  "name": "Executed",
                  "value": "Executed"
                },
                {
                  "name": "Passed",
                  "value": "Passed"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1440,
        3600
      ],
      "id": "2b1bda83-fa02-4646-8249-d6d933dda222",
      "name": "Dealers1",
      "credentials": {
        "airtableTokenApi": {
          "id": "0k6jxJu0tQwdczzt",
          "name": "USDB_Airtable_logs"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-13T07:39:24.180Z",
      "updatedAt": "2025-03-13T07:39:24.180Z",
      "id": "Ub8twoxVAlrzBUUv",
      "name": "Agent"
    }
  ],
  "triggerCount": 4,
  "updatedAt": "2025-04-22T15:10:23.000Z",
  "versionId": "4141dac9-bd2e-416f-92c2-9f037a78582c"
}