workflows/YT: Summarization+Sentiment.json
{
  "active": false,
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Ptompts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Positive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Neutral",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Negative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Highlights",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Highlights": {
      "main": [
        [
          {
            "node": "Text → Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Researcher",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Researcher",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "Researcher",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Researcher",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "SEO Writer": {
      "main": [
        [
          {
            "node": "Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "article": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text → Audio1": {
      "main": [
        []
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Text → Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Researcher": {
      "main": [
        [
          {
            "node": "SEO Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inputs": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ptompts": {
      "main": [
        [
          {
            "node": "Inputs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Knowledge Base": {
      "main": [
        []
      ]
    },
    "Comments": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        []
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Positive": {
      "main": [
        [
          {
            "node": "Video Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Neutral": {
      "main": [
        [
          {
            "node": "Video Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Negative": {
      "main": [
        [
          {
            "node": "Video Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "YouTube Video": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Youtube Metadata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Metadata": {
      "main": [
        [
          {
            "node": "Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metadata": {
      "main": [
        [
          {
            "node": "Youtube Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Youtube Transcript": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text → Audio": {
      "main": [
        []
      ]
    }
  },
  "createdAt": "2024-12-19T09:12:19.494Z",
  "id": "asWSVRBH37s7ulez",
  "meta": null,
  "name": "YT: Summarization+Sentiment",
  "nodes": [
    {
      "parameters": {},
      "id": "0dece2d8-8301-499e-8d84-7005f0f89454",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1440,
        -340
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd072210-83ac-44dc-8057-1ea6c0296768",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2640,
        40
      ],
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.snippet.topLevelComment.snippet.textOriginal }}",
        "options": {}
      },
      "id": "f986598c-2039-443a-8e24-2de976d82f7d",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        2640,
        -100
      ]
    },
    {
      "parameters": {
        "model": "o1-mini",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3100,
        -500
      ],
      "id": "322d4d4d-7cc1-4e27-ae53-2b3f62d074b2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3040,
        -660
      ],
      "id": "521b7b3a-e886-46d5-9ab7-626ee93584b4",
      "name": "Summary",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3500,
        -500
      ],
      "id": "5ae57c35-58f9-4408-be16-d23b3c11fa4d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Youtube Metadata').item.json.transcript }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3460,
        -660
      ],
      "id": "7771de5f-48de-407b-972e-11bcc7c18b4d",
      "name": "Highlights",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1700,
        460
      ],
      "id": "e06c9784-9e9b-47f9-91a9-7e08e8a0b1db",
      "name": "When chat message received",
      "webhookId": "321d6759-49b5-4082-b810-a65b232ad1e9"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1840,
        800
      ],
      "id": "25b8fe22-75ce-46c3-97b7-a9c484f843cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "us",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        2120,
        800
      ],
      "id": "ef9822f5-6bc4-405a-912d-a84201df4bc4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "1Tzl11P6LGX6jXlo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2000,
        800
      ],
      "id": "eaad669b-e18a-4c3e-b15a-00905a356c4c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an SEO Content Writer. You'll receive a summary: {{ $json.output }} with factual information on a topic. Your task is to craft a highly engaging, SEO-optimized blog article that is informative, well-structured, and aimed at outranking competitors. Prioritize readability, integrate relevant keywords naturally, and include actionable insights, examples, or tips that add unique value to the reader."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2300,
        580
      ],
      "id": "5e2b1539-dae8-4cda-90eb-c320be36bfb2",
      "name": "SEO Writer",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an Editor. You'll receive a draft:\n{{ $json.message.content }} of a blog article. Your task is to thoroughly check for grammar, punctuation, and readability. Ensure that the text flows smoothly, is free from errors, and maintains a clear, engaging tone. Make any necessary adjustments to improve clarity, structure, and accessibility for a broad audience."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2660,
        580
      ],
      "id": "c9fd02f4-d190-4643-b48d-ecd74c1933fb",
      "name": "Editor",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Formatter. You'll receive a refined article draft: {{ $json.message.content }}. \nYour task is to format it for optimal readability and SEO impact. Use headings (H1, H2, H3) where appropriate, create short paragraphs, and add bullet points or numbered lists for clarity. Ensure each section flows logically, and highlight important information for better reader engagement. Check that keywords are strategically placed without disrupting the flow. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        3020,
        580
      ],
      "id": "026a61a5-f779-42c4-96dd-bf66c9f92a61",
      "name": "Formatter",
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Formatter').item.json.message.content }}",
        "name": "=article_{{ $now }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/3/folders/13UmSvnHS93koswjnxKh0FhomXy49q3aO",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3580,
        580
      ],
      "id": "d53ff90f-de2f-4200-8e2b-178e3308ee96",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a0297ea-5830-47b6-888b-e832a65b594a",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            },
            {
              "id": "54356597-da80-45e4-a073-91d293cb0796",
              "name": "Research",
              "value": "={{ $('Researcher').item.json.output }}",
              "type": "string"
            },
            {
              "id": "328a4bbb-ee0c-4754-b731-249c7d6578f3",
              "name": "SEOwriteup",
              "value": "={{ $('SEO Writer').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "dec9bb57-2935-46bb-ba87-71d99db09848",
              "name": "Edited",
              "value": "={{ $('Editor').item.json.message.content }}",
              "type": "string"
            },
            {
              "id": "03fcc827-01c0-45a7-ab68-e4ca64a01791",
              "name": "Formatted",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3380,
        580
      ],
      "id": "45f9a1c3-95ba-415d-bfa1-e96853a443e7",
      "name": "article"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $('article').item.json.content }}",
        "options": {}
      },
      "id": "64448d70-af73-4429-9651-8ecd247b0dd3",
      "name": "Text → Audio1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3760,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a web searcher agent assistant. You will be provided a topic or headline for an SEO blog article. Your task is to search the web for reliable factual information on this topic and summarize key points to provide helpful content. Be concise and clear, focusing on details that would enhance the article's SEO value and informative quality. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1920,
        580
      ],
      "id": "6204594e-a241-4aa0-acb9-418d3744c397",
      "name": "Researcher"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 221143269,
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit#gid=221143269"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1840,
        -340
      ],
      "id": "ec9a2a89-db73-462a-875f-3608814073a6",
      "name": "Inputs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rSTr7Ltjwpw9Xvz2",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1471096355,
          "mode": "list",
          "cachedResultName": "prompts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit#gid=1471096355"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1640,
        -340
      ],
      "id": "9ff51c50-3e48-49b3-88d5-5932d6952513",
      "name": "Ptompts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rSTr7Ltjwpw9Xvz2",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "inputDataFieldName": "={{\"data\"}}",
        "name": "=yt_audio-{{ $('Youtube Metadata').item.json.videoTitle }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1dFgXwWbG6-uj8iRKqUHKerkq0RW1bso_",
          "mode": "list",
          "cachedResultName": "KB",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1dFgXwWbG6-uj8iRKqUHKerkq0RW1bso_"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4220,
        -660
      ],
      "id": "0df0a11b-2d85-4f38-8d10-fffe20e73e4f",
      "name": "Knowledge Base",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 221143269,
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/110Nw_L6hSvJHMAeNd9K1EK72tuUUfXoAaybOi2hmig8/edit#gid=221143269"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Type": "Youtube_Audio",
            "Date": "={{$now}}",
            "Summary": "={{ $('Summary').item.json.text }}",
            "Highlights": "={{ $('Highlights').item.json.text }}",
            "Link to Source": "={{ $('Youtube Metadata').item.json.url }}"
          },
          "matchingColumns": [
            "Link to Source"
          ],
          "schema": [
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Link to Source",
              "displayName": "Link to Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3140,
        -1140
      ],
      "id": "b87d1808-1529-4ae1-89d0-068102052ddb",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "rSTr7Ltjwpw9Xvz2",
          "name": "Google Sheets account 5"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ \"https://www.googleapis.com/youtube/v3/commentThreads?part=snippet&videoId=\" + $json.videoId + \"&maxResults=100&key=AIzaSyCz1ERhB6y9kkfp42Hr5KjEI-k8rut9lrQ\" }}",
        "options": {}
      },
      "id": "1b57f7ec-f7f8-4080-b5a4-512c9fd9e52d",
      "name": "Comments",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2300,
        -60
      ]
    },
    {
      "parameters": {
        "fieldToSplitOut": "items",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2460,
        -60
      ],
      "id": "829ff6f0-b4c0-4e1e-a0f1-95c403de1e1b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "snippet.topLevelComment.snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3060,
        -240
      ],
      "id": "53c0cc01-7d44-4964-bc17-83ce6d072df2",
      "name": "Positive"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "snippet.topLevelComment.snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3060,
        -100
      ],
      "id": "a36731c9-a7a9-4bc6-b4c1-efb02b65eedf",
      "name": "Neutral"
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "field": "snippet.topLevelComment.snippet"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1,
      "position": [
        3060,
        40
      ],
      "id": "f0fbcf42-9306-4403-aa76-fb9f2e082a23",
      "name": "Negative"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c39c6d96-7153-47ee-97c5-ee3bec749043",
              "name": "id",
              "value": "={{ $('YouTube').item.json.id }}",
              "type": "string"
            },
            {
              "id": "39c63e4c-c4d3-4186-99dd-78dc2e0f65b7",
              "name": "snippet.publishedAt",
              "value": "={{ $('YouTube').item.json.snippet.publishedAt }}",
              "type": "string"
            },
            {
              "id": "8e6c189e-ef4b-4bed-a698-c3438ffdd493",
              "name": "snippet.title",
              "value": "={{ $('YouTube').item.json.snippet.title }}",
              "type": "string"
            },
            {
              "id": "ed9bd6e8-0907-4035-af5c-4f9481d94e5f",
              "name": "snippet.description",
              "value": "={{ $('YouTube').item.json.snippet.description }}",
              "type": "string"
            },
            {
              "id": "dbbdad4d-c8c2-405f-8e84-12795dff5c62",
              "name": "snippet.channelTitle",
              "value": "={{ $('YouTube').item.json.snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "82265908-2c5f-4307-88cc-abee6f01c75f",
              "name": "contentDetails.duration",
              "value": "={{ $('YouTube').item.json.contentDetails.duration }}",
              "type": "string"
            },
            {
              "id": "036d182b-da1b-438b-89c1-3ec38b8cb17b",
              "name": "statistics.viewCount",
              "value": "={{ $('YouTube').item.json.statistics.viewCount }}",
              "type": "string"
            },
            {
              "id": "7cef4822-e705-497e-9597-31f1ec5a18cb",
              "name": "statistics.likeCount",
              "value": "={{ $('YouTube').item.json.statistics.likeCount }}",
              "type": "string"
            },
            {
              "id": "6010b15f-81c1-4871-8ca8-0bd905bf01ab",
              "name": "statistics.favoriteCount",
              "value": "={{ $('YouTube').item.json.statistics.favoriteCount }}",
              "type": "string"
            },
            {
              "id": "83112baa-2f4a-42de-b7c1-d1e1c359a391",
              "name": "statistics.commentCount",
              "value": "={{ $('YouTube').item.json.statistics.commentCount }}",
              "type": "string"
            },
            {
              "id": "2eb97ff2-7fea-4dbd-af7c-e2cc0302799a",
              "name": "snippet.categoryId",
              "value": "={{ $('YouTube').item.json.snippet.categoryId }}",
              "type": "string"
            },
            {
              "id": "f5ae61f2-c293-4089-b6bc-60b426e05cd5",
              "name": "pageInfo.totalResults",
              "value": "={{ $('Comments').item.json.pageInfo.totalResults }}",
              "type": "number"
            },
            {
              "id": "de23e2eb-fe14-4f83-9008-aaddb6fc022e",
              "name": "items[0].snippet.topLevelComment.snippet.likeCount",
              "value": "={{ $('Comments').item.json.items[0].snippet.topLevelComment.snippet.likeCount }}",
              "type": "number"
            },
            {
              "id": "70208a9e-cf61-4774-9815-85db1bc4160d",
              "name": "count_snippet_topLevelComment_snippet",
              "value": "={{ $json.count_snippet_topLevelComment_snippet }}",
              "type": "number"
            },
            {
              "id": "160b5285-1202-4da6-b73a-b5699ce516ba",
              "name": "count_snippet_topLevelComment_snippet",
              "value": "={{ $json.count_snippet_topLevelComment_snippet }}",
              "type": "number"
            },
            {
              "id": "77b323a4-6400-4146-9652-f4fa148ad85c",
              "name": "count_snippet_topLevelComment_snippet",
              "value": "={{ $json.count_snippet_topLevelComment_snippet }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3340,
        -100
      ],
      "id": "a8e02217-ce58-442b-9bc7-465804ab7fe7",
      "name": "Video Stats"
    },
    {
      "parameters": {
        "resource": "video",
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        2880,
        -1140
      ],
      "id": "33fb33bf-ab6b-4619-a5f3-ce024dac3782",
      "name": "YouTube Video",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "UB2CM41oTDtiQtaf",
          "name": "YouTube OAuth"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const url = $json['Link to Source']; // Your YouTube URL\nconst videoIdRegex = /(?:\\?v=|\\/embed\\/|\\/watch\\?v=|youtu\\.be\\/)([^&\\n?#]+)/;\nconst match = url.match(videoIdRegex);\nconst videoId = match ? match[1] : null;\n\nreturn {\n  json: {\n    videoId: videoId,\n    originalUrl: url\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2040,
        -340
      ],
      "id": "49bd6dfb-3e71-4841-8142-d937f52cbd5e",
      "name": "Code"
    },
    {
      "parameters": {
        "url": "={{ \"https://www.googleapis.com/youtube/v3/videos?part=snippet,contentDetails,statistics,status,topicDetails&id=\" + $json.videoId + \"&key=AIzaSyCMWeQ5AXVGjzjzghkjpDRS0ULqBRkTNl4\" }}",
        "options": {}
      },
      "id": "c4cdde10-ac16-44fb-b05a-673fa93e4515",
      "name": "Youtube Metadata",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2280,
        -660
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "febfd458-f945-465e-a2b7-e46d74e6849b",
              "name": "items[0].kind",
              "value": "={{ $json.items[0].kind }}",
              "type": "string"
            },
            {
              "id": "5e765835-d80e-4dee-9aaa-44ea0faa0744",
              "name": "items[0].snippet.publishedAt",
              "value": "={{ $json.items[0].snippet.publishedAt }}",
              "type": "string"
            },
            {
              "id": "0c8bac8e-fde7-4911-8936-1ce164521644",
              "name": "items[0].snippet.channelId",
              "value": "={{ $json.items[0].snippet.channelId }}",
              "type": "string"
            },
            {
              "id": "4cec6b39-d436-4222-bd9f-af6360c6741b",
              "name": "items[0].snippet.channelTitle",
              "value": "={{ $json.items[0].snippet.channelTitle }}",
              "type": "string"
            },
            {
              "id": "cf702f06-e545-41a6-b918-436253fda505",
              "name": "items[0].snippet.categoryId",
              "value": "={{ $json.items[0].snippet.categoryId }}",
              "type": "string"
            },
            {
              "id": "d48ae9a2-2529-45e8-9d59-0de30ee6bb52",
              "name": "items[0].snippet.title",
              "value": "={{ $json.items[0].snippet.title }}",
              "type": "string"
            },
            {
              "id": "b3d70e35-e32b-4586-bf03-d986a19872b1",
              "name": "items[0].snippet.description",
              "value": "={{ $json.items[0].snippet.description }}",
              "type": "string"
            },
            {
              "id": "22d8d4e3-70ae-4176-8341-f183377320a9",
              "name": "items[0].contentDetails.duration",
              "value": "={{ $json.items[0].contentDetails.duration }}",
              "type": "string"
            },
            {
              "id": "fbf58e3b-7e98-4097-88a5-d9baf6cc7070",
              "name": "items[0].contentDetails.definition",
              "value": "={{ $json.items[0].contentDetails.definition }}",
              "type": "string"
            },
            {
              "id": "976eefbc-ba4d-48f9-8120-3f1c81e60596",
              "name": "items[0].contentDetails.contentRating",
              "value": "={{ $json.items[0].contentDetails.contentRating }}",
              "type": "object"
            },
            {
              "id": "19242081-4bfc-423b-a6fa-99a7dfb23a73",
              "name": "items[0].statistics",
              "value": "={{ $json.items[0].statistics }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2500,
        -660
      ],
      "id": "9fd98246-5d3d-4616-b188-41bf8a093eaf",
      "name": "Metadata"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ \"https://api.apify.com/v2/acts/topaz_sharingan~youtube-transcript-scraper-1/run-sync-get-dataset-items?token=apify_api_JhKdeVu3pgj83fvoqQyz4BPOAM2o222xmV0m\" }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"startUrls\": [\"{{ $('Code').item.json.originalUrl }}\"]\n}\n\n",
        "options": {}
      },
      "id": "09cfe0ab-44fc-4440-9fb0-c5c1a13d0a9b",
      "name": "Youtube Transcript",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2740,
        -660
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "options": {
          "response_format": "mp3"
        }
      },
      "id": "057cc906-959c-43fc-b33d-5a1caf1dd4eb",
      "name": "Text → Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3820,
        -660
      ],
      "alwaysOutputData": true,
      "credentials": {
        "openAiApi": {
          "id": "n6jJpStEewoZQA9T",
          "name": "OpenAi account 6"
        }
      },
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "article": [
      {
        "json": {
          "content": "# The Evolution of Chinese Cars in 2023: A Deep Dive into Market Trends and Insights\n\nThe automotive industry in China is undergoing a dramatic transformation in 2023, driven primarily by a robust increase in electric vehicle (EV) adoption and shifting consumer preferences. With a focus on sustainability and innovation, Chinese car manufacturers are not only reshaping the domestic landscape but also making significant strides in the global market. In this article, we explore the key trends and insights that define the booming Chinese automotive sector in 2023.\n\n## 1. Booming Sales of Electric Vehicles\n\nOne cannot discuss the Chinese automotive market in 2023 without highlighting the surge in electrification. The sales figures tell a compelling story:\n\n- **Remarkable Growth**:\n  - Combined sales of plug-in hybrid electric vehicles (PHEVs) and range-extended electric vehicles (REEVs) soared by **83%** year-over-year, translating to **2.75 million units** sold.\n  - Battery electric vehicles (BEVs) saw a **20%** increase, totaling **5.2 million units**.\n  \n- **Market Leadership**:\n  - This jump in sales underscores a significant transition toward electric mobility, largely fueled by stringent environmental policies and enticing consumer incentives.\n\n## 2. Government Support and Policy Initiatives\n\nThe Chinese government plays a vital role in accelerating EV adoption:\n\n- **Subsidies and Incentives**:\n  - Various financial incentives aimed at both manufacturers and consumers are making electric vehicles more accessible.\n  - These programs lower purchase costs and support the extensive development of charging infrastructure nationwide.\n\n## 3. Leading Manufacturers: The Chinese Electric Giants\n\nChina’s electric vehicle market is dominated by several key players:\n\n- **BYD**:\n  - With its innovative portfolio, BYD has solidified its reputation as a market leader.\n  - Its commitment to expanding both electric and hybrid model offerings is setting benchmarks within the industry.\n  \n- **Nio and Geely**:\n  - These manufacturers are making waves by integrating state-of-the-art technology and appealing designs that resonate with modern consumers.\n\n## 4. Technological Innovations Driving the Market\n\nAs Chinese car manufacturers ramp up production, technology plays a pivotal role in their appeal:\n\n- **Autonomous Driving Capabilities**:\n  - Advancements in AI and machine learning are bringing autonomous driving features to the forefront, enhancing safety and convenience for drivers.\n  \n- **Enhanced Connectivity**:\n  - Smart features are becoming standard, allowing consumers to enjoy integrated apps and infotainment systems that elevate their driving experience.\n  \n- **Battery Technology**:\n  - The race for better battery technology is intense, with companies investing heavily in R&D to improve range and reduce charging times.\n  - These advancements satisfy current consumer demand and prepare manufacturers for future challenges.\n\n## 5. International Expansion: Aiming for Global Leadership\n\nChinese automakers are no longer confined to domestic sales. In 2023, many brands have actively expanded into international markets:\n\n- **Export Strategies**:\n  - Through strategic exports, Chinese manufacturers are now competing head-to-head with established global brands.\n  - This international outreach highlights China’s ambition to dominate the global automotive landscape.\n  \n- **Collaborations and Joint Ventures**:\n  - Partnerships with local firms abroad enhance market entry strategies, improve brand awareness, and foster innovation.\n\n## Conclusion: A Pivotal Year for China's Automotive Industry\n\nThe year 2023 is shaping up to be a landmark period for the Chinese automotive sector. With unprecedented sales growth in electric vehicles and a strong emphasis on technology and innovation, Chinese manufacturers are poised to set trends that will influence the global market.\n\n### **Actionable Insights for Consumers and Investors**\n\n- **Stay Informed**:\n  - Potential buyers should keep up-to-date with new models and government incentives to make informed purchasing decisions.\n  \n- **Consider EVs**:\n  - If you're in the market for a new vehicle, consider the long-term benefits of electric vehicles—not just for the environment but also for potential savings in fuel and maintenance costs.\n  \n- **Explore International Options**:\n  - For investors, observing the international expansion strategies of Chinese brands could reveal lucrative opportunities in a rapidly evolving market.\n\nAs the world gears up for a sustainable automotive future, Chinese car manufacturers are undeniably at the helm, leading the charge with innovation and ambition. Stay tuned, as this dynamic market continues to evolve and shape the future of transportation globally.\n\n# Key Takeaways\n\n- **Electric Vehicle Sales Surge**: Significant growth in PHEVs, REEVs, and BEVs highlights China's shift towards electric mobility.\n- **Government Support Crucial**: Subsidies and infrastructure development are accelerating EV adoption.\n- **Leading Brands Drive Innovation**: BYD, Nio, and Geely are setting industry standards with advanced technologies and appealing designs.\n- **Technological Advancements**: Autonomous driving, enhanced connectivity, and improved battery technology are key drivers.\n- **Global Ambitions**: Chinese automakers are expanding internationally, aiming for global leadership through strategic exports and partnerships.\n\n# Keywords\n\n- Chinese automotive industry\n- Electric vehicles (EV)\n- PHEVs\n- REEVs\n- BEVs\n- BYD\n- Nio\n- Geely\n- Autonomous driving\n- Battery technology\n- Government subsidies\n- International expansion\n- Automotive innovation\n\n# Meta Description\n\nExplore the evolution of Chinese cars in 2023 with insights into booming EV sales, government support, leading manufacturers, technological innovations, and international expansion. Discover key trends shaping China's automotive market.\n\n# Suggested URL\n\n/chinese-automotive-industry-evolution-2023\n\n# Suggested Title Tag\n\nThe Evolution of Chinese Cars in 2023: Market Trends & Insights\n\n# Image Recommendations\n\n- **Electric Vehicle Sales Graph**: Visual representation of the 83% increase in PHEVs/REEVs and 20% increase in BEVs.\n- **Leading Manufacturers Logos**: BYD, Nio, and Geely logos showcasing key players.\n- **Charging Infrastructure**: Images depicting widespread charging stations across China.\n- **Autonomous Driving Technology**: Visuals of cars with autonomous features.\n- **Global Expansion Map**: Highlighting Chinese EV exports and international markets.\n\n# Internal Links\n\n- [History of Electric Vehicles in China](#)\n- [Top Chinese EV Models of 2023](#)\n- [Government Policies Impacting the Automotive Industry](#)\n- [Future of Autonomous Driving in China](#)\n- [Investment Opportunities in Chinese Automakers](#)\n\n# External Links\n\n- [China Association of Automobile Manufacturers (CAAM)](http://www.caam.org.cn)\n- [International Energy Agency (IEA) on EV Trends](https://www.iea.org/topics/electric-vehicles)\n- [BYD Official Website](https://www.byd.com)\n- [Nio Official Website](https://www.nio.com)\n- [Geely Official Website](https://www.geely.com)\n\n# Structured Data (JSON-LD)\n\n```json\n{\n  \"@context\": \"https://schema.org\",\n  \"@type\": \"Article\",\n  \"headline\": \"The Evolution of Chinese Cars in 2023: A Deep Dive into Market Trends and Insights\",\n  \"description\": \"Explore the evolution of Chinese cars in 2023 with insights into booming EV sales, government support, leading manufacturers, technological innovations, and international expansion. Discover key trends shaping China's automotive market.\",\n  \"author\": {\n    \"@type\": \"Person\",\n    \"name\": \"Your Name\"\n  },\n  \"datePublished\": \"2023-10-01\",\n  \"image\": \"URL_to_image\",\n  \"publisher\": {\n    \"@type\": \"Organization\",\n    \"name\": \"Your Company\",\n    \"logo\": {\n      \"@type\": \"ImageObject\",\n      \"url\": \"URL_to_logo\"\n    }\n  },\n  \"mainEntityOfPage\": {\n    \"@type\": \"WebPage\",\n    \"@id\": \"https://www.yourwebsite.com/chinese-automotive-industry-evolution-2023\"\n  }\n}\n```\n\n# Final Notes\n\nBy structuring the article with clear headings, short paragraphs, and bullet points, readability is enhanced, making it more engaging for readers. Strategic placement of keywords ensures SEO optimization without disrupting the natural flow of the content. Highlighting key statistics and actionable insights draws attention to the most important information, encouraging reader interaction and retention."
        }
      }
    ]
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-05T08:12:51.000Z",
  "versionId": "25f67524-2693-429b-85e9-e579aa12cb77"
}