workflows/YT: Summarization+Sentiment.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Sentiment Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Highlights",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sentiment Analysis": {
      "main": [
        [
          {
            "node": "Log Sentiment",
            "type": "main",
            "index": 0
          }
        ],
        [],
        [
          {
            "node": "Log Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summary": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Highlights",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Highlights": {
      "main": [
        [
          {
            "node": "Text → Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text → Audio": {
      "main": [
        [
          {
            "node": "Outputs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source": {
      "main": [
        [
          {
            "node": "Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt": {
      "main": [
        [
          {
            "node": "Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Outputs": {
      "main": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "SEO Writer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEO Writer": {
      "main": [
        [
          {
            "node": "Editor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Editor": {
      "main": [
        [
          {
            "node": "Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatter": {
      "main": [
        [
          {
            "node": "article",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Text → Audio1": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "article": {
      "main": [
        [
          {
            "node": "Text → Audio1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2024-12-19T09:12:19.494Z",
  "id": "asWSVRBH37s7ulez",
  "meta": null,
  "name": "YT: Summarization+Sentiment",
  "nodes": [
    {
      "parameters": {
        "url": "https://api.apify.com/v2/acts/topaz_sharingan~youtube-transcript-scraper-1/run-sync-get-dataset-items?token=apify_api_JhKdeVu3pgj83fvoqQyz4BPOAM2o222xmV0m",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"startUrls\": [\n        \"{{ $json.records.fields.Link }}\"\n    ]\n}",
        "options": {}
      },
      "id": "c4cdde10-ac16-44fb-b05a-673fa93e4515",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2020,
        60
      ]
    },
    {
      "parameters": {},
      "id": "0dece2d8-8301-499e-8d84-7005f0f89454",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1260,
        620
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2300,
        60
      ],
      "id": "b5583926-e533-47a2-adc7-c78e05be97a0",
      "name": "Wait",
      "webhookId": "118d4220-f223-4f5a-9f00-6705450436a4"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "id": "cd072210-83ac-44dc-8057-1ea6c0296768",
      "name": "OpenAI Chat Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2300,
        -120
      ],
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.transcript }}",
        "options": {}
      },
      "id": "f986598c-2039-443a-8e24-2de976d82f7d",
      "name": "Sentiment Analysis",
      "type": "@n8n/n8n-nodes-langchain.sentimentAnalysis",
      "typeVersion": 1,
      "position": [
        2300,
        -260
      ]
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2840,
        60
      ],
      "id": "f0a8fec0-f5b4-4aca-ac76-cfde130187e2",
      "name": "Wait2",
      "webhookId": "cec2be21-2bce-4eec-86c8-fa6afee26c57"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        2520,
        200
      ],
      "id": "322d4d4d-7cc1-4e27-ae53-2b3f62d074b2",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.transcript }}\n{{ $('Prompt').item.json.records[0].fields.Summary }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        2500,
        60
      ],
      "id": "521b7b3a-e886-46d5-9ab7-626ee93584b4",
      "name": "Summary",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        3040,
        200
      ],
      "id": "5ae57c35-58f9-4408-be16-d23b3c11fa4d",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('HTTP Request').item.json.transcript }}\n{{ $('Prompt').item.json.records[0].fields.Highlights }}"
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.5,
      "position": [
        3040,
        60
      ],
      "id": "7771de5f-48de-407b-972e-11bcc7c18b4d",
      "name": "Highlights",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "voice": "shimmer",
        "options": {
          "response_format": "mp3",
          "binaryPropertyOutput": "=Audio-{{ $('HTTP Request').item.json.videoTitle }}"
        }
      },
      "id": "057cc906-959c-43fc-b33d-5a1caf1dd4eb",
      "name": "Text → Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3380,
        60
      ],
      "credentials": {
        "openAiApi": {
          "id": "dbsbEP9NpcetZP6N",
          "name": "Research Assistant"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "apportJPvWxqjg5Mq",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq"
        },
        "table": {
          "__rl": true,
          "value": "tbllDYd5TKF4qGQJt",
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq/tbllDYd5TKF4qGQJt"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1280,
        60
      ],
      "id": "131b8ee5-5e40-425c-b35f-ff810444c9a1",
      "name": "Source",
      "executeOnce": true,
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mzzMlUms6jLmJPtw",
          "name": "Airtable OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "apportJPvWxqjg5Mq",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq"
        },
        "table": {
          "__rl": true,
          "value": "tblq1d0QlWFA90dvI",
          "mode": "list",
          "cachedResultName": "Prompts",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq/tblq1d0QlWFA90dvI"
        },
        "id": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1460,
        60
      ],
      "id": "51d7de1b-1b3f-4859-a9dc-cb48adb220b6",
      "name": "Prompt",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mzzMlUms6jLmJPtw",
          "name": "Airtable OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "base": {
          "__rl": true,
          "value": "apportJPvWxqjg5Mq",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq"
        },
        "table": {
          "__rl": true,
          "value": "tbllDYd5TKF4qGQJt",
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq/tbllDYd5TKF4qGQJt"
        },
        "id": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1640,
        60
      ],
      "id": "ea2da3ae-5121-4b5a-8702-240e0db1ddf4",
      "name": "Input",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mzzMlUms6jLmJPtw",
          "name": "Airtable OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apportJPvWxqjg5Mq",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq"
        },
        "table": {
          "__rl": true,
          "value": "tbllDYd5TKF4qGQJt",
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq/tbllDYd5TKF4qGQJt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Sentiment": "={{ $json.sentimentAnalysis.category }}",
            "Link": "={{ $json.url }}"
          },
          "matchingColumns": [
            "Link"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Positive",
                  "value": "Positive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Subscribers",
              "displayName": "Subscribers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Dislikes",
              "displayName": "Dislikes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Publish Date",
              "displayName": "Publish Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        2760,
        -260
      ],
      "id": "9e6c4f51-a02a-456a-ade6-ced1ea77b763",
      "name": "Log Sentiment",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mzzMlUms6jLmJPtw",
          "name": "Airtable OAuth"
        }
      }
    },
    {
      "parameters": {
        "authentication": "airtableOAuth2Api",
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "apportJPvWxqjg5Mq",
          "mode": "list",
          "cachedResultName": "Blue&: Content Generation Platform",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq"
        },
        "table": {
          "__rl": true,
          "value": "tbllDYd5TKF4qGQJt",
          "mode": "list",
          "cachedResultName": "Content Input",
          "cachedResultUrl": "https://airtable.com/apportJPvWxqjg5Mq/tbllDYd5TKF4qGQJt"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "Audio_File": "=",
            "Highlights": "={{ $('Highlights').item.json.text }}",
            "Summary": "={{ $('Summary').item.json.text }}",
            "Transcript": "={{ $('HTTP Request').item.json.transcript }}",
            "Title": "={{ $('HTTP Request').item.json.videoTitle }}",
            "Sentiment": "={{ $('Split Out').item.json.records.fields.Sentiment }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Duration",
              "displayName": "Duration",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Description",
              "displayName": "Description",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Transcript",
              "displayName": "Transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Highlights",
              "displayName": "Highlights",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Sentiment",
              "displayName": "Sentiment",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Positive",
                  "value": "Positive"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Channel",
              "displayName": "Channel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Subscribers",
              "displayName": "Subscribers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Likes",
              "displayName": "Likes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Dislikes",
              "displayName": "Dislikes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Views",
              "displayName": "Views",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "Published Date",
              "displayName": "Published Date",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Audio_File",
              "displayName": "Audio_File",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3560,
        -40
      ],
      "id": "13cb8b1b-36de-49c2-a898-d4fa99bff235",
      "name": "Outputs",
      "credentials": {
        "airtableOAuth2Api": {
          "id": "mzzMlUms6jLmJPtw",
          "name": "Airtable OAuth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "records",
        "include": "=allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1820,
        60
      ],
      "id": "5eb10f32-ac11-4ddc-84bf-230711a9c068",
      "name": "Split Out",
      "alwaysOutputData": true,
      "executeOnce": true
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "file",
        "options": {
          "fileName": "",
          "title": ""
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        3560,
        160
      ],
      "id": "712cd3a6-b0dd-41a6-8a2d-c096e3822bd2",
      "name": "Slack",
      "webhookId": "e94addf9-2530-4f3c-91cf-77c8bfb30762",
      "credentials": {
        "slackOAuth2Api": {
          "id": "7VOxhQHkBloxHtkn",
          "name": "syc-n8n"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        1480,
        620
      ],
      "id": "e06c9784-9e9b-47f9-91a9-7e08e8a0b1db",
      "name": "When chat message received",
      "webhookId": "321d6759-49b5-4082-b810-a65b232ad1e9"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a web searcher agent assistant. You will be provided a topic or headline for an SEO blog article. Your task is to search the web for reliable factual information on this topic and summarize key points to provide helpful content. Be concise and clear, focusing on details that would enhance the article's SEO value and informative quality. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1700,
        620
      ],
      "id": "6204594e-a241-4aa0-acb9-418d3744c397",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1620,
        840
      ],
      "id": "25b8fe22-75ce-46c3-97b7-a9c484f843cb",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "d6Yoq77F0fgKy8Ul",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "gl": "us",
          "hl": "en"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        1900,
        840
      ],
      "id": "ef9822f5-6bc4-405a-912d-a84201df4bc4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "1Tzl11P6LGX6jXlo",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1780,
        840
      ],
      "id": "eaad669b-e18a-4c3e-b15a-00905a356c4c",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an SEO Content Writer. You'll receive a summary: {{ $json.output }} with factual information on a topic. Your task is to craft a highly engaging, SEO-optimized blog article that is informative, well-structured, and aimed at outranking competitors. Prioritize readability, integrate relevant keywords naturally, and include actionable insights, examples, or tips that add unique value to the reader."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2100,
        620
      ],
      "id": "5e2b1539-dae8-4cda-90eb-c320be36bfb2",
      "name": "SEO Writer",
      "credentials": {
        "openAiApi": {
          "id": "d6Yoq77F0fgKy8Ul",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are an Editor. You'll receive a draft:\n{{ $json.message.content }} of a blog article. Your task is to thoroughly check for grammar, punctuation, and readability. Ensure that the text flows smoothly, is free from errors, and maintains a clear, engaging tone. Make any necessary adjustments to improve clarity, structure, and accessibility for a broad audience."
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2500,
        620
      ],
      "id": "c9fd02f4-d190-4643-b48d-ecd74c1933fb",
      "name": "Editor",
      "credentials": {
        "openAiApi": {
          "id": "d6Yoq77F0fgKy8Ul",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "o1-mini",
          "mode": "list",
          "cachedResultName": "O1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=You are a Formatter. You'll receive a refined article draft: {{ $json.message.content }}. \nYour task is to format it for optimal readability and SEO impact. Use headings (H1, H2, H3) where appropriate, create short paragraphs, and add bullet points or numbered lists for clarity. Ensure each section flows logically, and highlight important information for better reader engagement. Check that keywords are strategically placed without disrupting the flow. "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.7,
      "position": [
        2880,
        620
      ],
      "id": "026a61a5-f779-42c4-96dd-bf66c9f92a61",
      "name": "Formatter",
      "credentials": {
        "openAiApi": {
          "id": "d6Yoq77F0fgKy8Ul",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "createFromText",
        "content": "={{ $('Formatter').item.json.message.content }}",
        "name": "blog_post_{{now}}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "https://drive.google.com/drive/u/3/folders/1gSu4CuUtNEuoqfguuBZw5YCloEjKf9VH",
          "mode": "url"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3760,
        620
      ],
      "id": "d53ff90f-de2f-4200-8e2b-178e3308ee96",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "HR5Tk4YDcaNJda9N",
          "name": "Google Drive Sergio"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.content }}",
        "options": {}
      },
      "id": "64448d70-af73-4429-9651-8ecd247b0dd3",
      "name": "Text → Audio1",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3500,
        620
      ],
      "credentials": {
        "openAiApi": {
          "id": "d6Yoq77F0fgKy8Ul",
          "name": "OpenAi account 2"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a0297ea-5830-47b6-888b-e832a65b594a",
              "name": "content",
              "value": "={{ $json.message.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3240,
        620
      ],
      "id": "45f9a1c3-95ba-415d-bfa1-e96853a443e7",
      "name": "article"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-12-31T19:52:40.000Z",
  "versionId": "70302706-c503-4a09-bac8-ce7b65894d0f"
}